<div class="container-fluid" id="contactus">
  <div class="row container-contact-us py-5">
    <div class="col-12 col-md-6 mx-auto">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Contact Us</h2>
          <p>Connect with us if you are interested in exploring how the Simple Token solution can apply to your business.</p>
        </div>
      </div>
      <div class="row">
        <form action="/api/home/contact-us-partners" class="custom-form mx-auto" id="partners-contact-us-form">
          <div class="input-container">
            <label>FULL NAME</label>
            <input class="input" id="full_name" type="text" name="full_name" value="" title="full name" required autocomplete="off" />
            <span class="border"></span>
          </div>
          <div class="error" data-for="full_name"></div>
          <div class="input-container">
            <label>COMPANY WEBSITE</label>
            <input class="input" id="company" type="text" name="company" value="" title="company name" required autocomplete="off" />
            <span class="border"></span>
          </div>
          <div class="error" data-for="company"></div>
          <div class="input-container">
            <label>EMAIL ADDRESS</label>
            <input class="input" id="email" type="email" name="email" value="" title="email address" required autocomplete="off" />
            <span class="border"></span>
          </div>
          <div class="error" data-for="email"></div>
          <div class="input-container">
            <label>CONTACT NUMBER</label>
            <input class="input" id="contact_number" type="text" name="contact_number" value="" title="contact number" required autocomplete="off" />
            <span class="border"></span>
          </div>
          <div class="error" data-for="contact_number"></div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <div class="form-group form-recapcha">
            <div class="g-recaptcha form-recapcha-wrap" data-sitekey="<%#= GlobalConstant::Base.recaptcha['site_key'] %>"></div>
            <div class="error" data-for="recaptcha" style="text-align: center"></div>
          </div>
          <button type="submit" class="btn btn-primary" id="partners-contact-us-submit" style="margin: 0 auto;display: block;" title="Submit">SUBMIT</button>
          <div class="error" data-for="general_error"></div>
        </form>
        <div id="send-message-success" style="display: none">
          <div class="send-message-success p-4 text-center">
            <div class="small-title">Thank you for contacting us</div>
            <div class="small-desc">We have received your request and our team will get back to you very soon.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


