<section class="container-jumbotron">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <h3 class="font-weight-bold">Partner Companies</h3>
        <p class="mt-3">
          OST blockchain technology enables businesses to easily integrate branded tokens into their platforms to transform their communities into dynamic ecosystems. While anyone can access our developer resources, our partners benefit from hands-on OST blockchain strategy consulting and direct access to our product teams.
        </p>
        <a href="#contactus" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="Contact Us">Contact Us</a>
        <a href="#partner-pocs" target="_blank" class="btn btn-secondary my-2 ml-xl-3 smooth-scroll" title="VIEW INTEGRATIONS">VIEW INTEGRATIONS</a>
      </div>

      <div class="col-md-12 col-lg-6 text-center mt-4 mt-md-0">
        <div class="illustration w-100">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/ost-partners-jumbotron-hero-image@1x.png" srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/ost-partners-jumbotron-hero-image@2x.png 1000w" class="img-fluid position-relative" alt="OST Winners Hero"/>
        </div>
      </div>

    </div>
  </div>
</section>