// Import theme variables
@import "../../ost_theme/variables";

.block-container {
  background-color: $blue-900;
  h2{
    color: $white;
    letter-spacing: 1.2px;
    margin-bottom: 2.5rem;
  }
  p{
    color: $white;
    font-weight: 300;
    letter-spacing: 0.4px;
  }
}

.openst-forum {
  border: 1.5px solid $white !important;
  color: $white !important;
  background-color: $blue-900 !important;
  &:hover {
    border: 1.5px solid $white !important;
    color: $blue-900 !important;
    background-color: $white !important;
  }
}

.info-card {
  .info-card-body {
    border: solid 1px $blue-800;
    border-radius: $border-radius;
    height: 270px;
  }
  h5 {
    color: $white;
  }
  p{
    height: 150px;
  }
  .white-paper-link {
    color: $yellow-400;
    border-bottom: 1.1px solid $yellow-400;
    letter-spacing: 2.7px;
    font-weight: $font-weight-bold;
    padding-bottom: 6px;
    font-size: $font-size-sm;
  }
  .github-link {
    color: $white;
    letter-spacing: 2.7px;
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    span{
      padding-bottom: 6px;
      border-bottom: 1.1px solid $white;
    }
  }
}

@media (max-width: 768px) {
  .openst-forum {
    display: none;
  }
  .info-card {
    .info-card-body {
      height: auto;
    }
    p{
      height: auto;
    }
  }
}
@media (min-width:768px) and (max-width: 992px) {
  .info-card {
    .info-card-body {
      height: 350px;
    }
    p{
      height: 235px;
    }
  }
}
@media (min-width:992px) and (max-width: 1024px) {
  .info-card {
    .info-card-body {
      height: 290px;
    }
    p{
      height: 165px;
    }
  }
}

