.container-carousel{
  h1{
    color: #69a2bd;
  }
  .ost-nav-logo{
    position: relative;
    top: 1px;
    width: 75px;
    height: 40px;
  }
  position: relative;
  &.bg-image {
    background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-bg-cloud-illustration.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  @media(max-width: 736px){
    overflow: hidden;
  }

  .content-wrapper {

    height: 600px;
    position: relative;
    padding: 10px;

    .content {
      position: relative;
      height: 100%;
      overflow: hidden;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
      -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    }

    .date-wrapper {
      position: absolute;
      background-color: white;
      bottom: 0;
      padding: 10px;

      .date-content {
        border-top : solid 1px #e9f1f2;
        font-size: 10px;

        .date-text {
          color: rgba(67, 139, 173, 0.4);
          padding-top: 5px;
        }
      }
    }

    .carousel-description , .carousel-title {
      text-align: left;
      font-weight: 500;
      padding: 0 10px 10px;
    }

    .carousel-title {
      color: #438bad;
    }

    .carousel-description {
      color: #5a7a7f;
      font-weight: 300;
    }

    a{
      &:hover{
        text-decoration: none;
      }
      &:focus{
        outline: none;
      }
    }

  }

  .one-el-wrapper {
    .content-wrapper {
      height: 620px;
    }

    .carousel-title {
      font-size: 24px;
    }
  }

  .tow-el-wrapper {
    .content-wrapper {
      .content {
        height: 290px;
      }

      .content:first-child {
        margin-bottom: 20px;
      }
    }
  }

  .video-wrapper {
    position: relative;
    display: inline-block;

    .video-btn {
      position: absolute;
      background: transparent;
      top : 0;

      &:hover {
        svg.icon-play {
          fill: #E4B030;
        }
      }
      &:active {
        svg.icon-play {
          fill: #E4B030;
        }
      }
    }

    .play-icon {
      -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
    }
  }

  svg.icon-play {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 15px;
    fill: #34445B;
  }
}


@media (max-width: 768px) {

  .slick-arrow {
    z-index: 1;
    &:before {
      font-size: 30px!important;
    }
  }

  .slick-prev {
    left: -35px !important
  }

  .slick-next {
    right: -35px !important
  }
}

@media (min-width: 769px) and (max-width: 1070px) {

  .slick-prev {
    left: -45px!important;
  }

  .slick-next {
    right: -45px!important;
  }
}



