// Import theme variables
@import "../../ost_theme/variables";

html,
body{
  font-family: 'Quasimoda', sans-serif !important;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700!important;
}

// Uber banner CSS
.uber-banner-winners{
  background-color:  $blue-900;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 0.6px;
  a{
    color: $white;
    outline: none;
    font-weight: $font-weight-light;
  }
  .svg-megaphone{
    fill: $white;
    @media (min-width: map-get($grid-breakpoints, "md")){
      height: 25px;
      width: 25px;
    }
    height: 25px;
    width: 30px;
  }
}

.container-jumbotron{
  @media (min-width: map-get($grid-breakpoints, "lg")){
    &.side-by-side-1-wrapper{
      overflow: hidden;
    }
  }
  .header-title{
    letter-spacing: 0.5px;
    //text-transform: uppercase;
    &.side-by-side{
      font-weight: 600!important;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    &.white{
      color: $white;
    }
    &.blue{
      color: $cyan;
    }
  }

  .desc{
    &.white{
      color: $white;
    }
    &.blue{
      color: #6b7c93;
    }
  }
  p{
    font-weight: 300;
    letter-spacing: 0.2px;
  }
  .error{
    //min-height: 25px;
    font-weight: 300;
    font-size: 14px;
    color: $banana;
  }
  .form-control{
    border-color:  $yellow-300;
    width:auto;
  }
  .btn-submit-email{
    padding: 0.375rem 0;
  }
  .input-group-append{
    cursor: pointer;
    //background-color: $yellow-300;
    //color:white;
    //border:$yellow-300;
    border-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    &:focus{
      box-shadow: none;
      outline: none;
    }
  }

  .ost-nav-link {
    font-size: 12px;
    color:$white;
  }

  .label-cbx {
    text-align: left;
    .checkbox{
      top: 1px;
      svg {
        border: 0px solid $white;
      }
    }
    input:checked{
      & + .checkbox{
        border-color: $white;
        svg{
          path{
            fill: $white;
          }
        }
      }
    }
    .checkbox {
      border: 2px solid $white;
      svg {
        position: absolute;
        top: -2px;
        left: -2px;
        path {
          stroke: $white;
        }
        polyline {
          stroke: $blue-900;
        }
      }
    }
  }

    .small-desc{
      color: $white;
      font-weight: 300;
      font-size: 14px;
      display: block;
    }

  //.openst-forum {
  //  border: 1.5px solid $white !important;
  //  color: $white !important;
  //  background-color: $blue-900 !important;
  //  &:hover {
  //    border: 1.5px solid $white !important;
  //    color: $blue-900 !important;
  //    background-color: $white !important;
  //  }
  //}

  .illustration{
    .btn-play{
      width: 48px;
      height: 34px;
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      cursor: pointer;
      letter-spacing: 0.1rem;
      .play{
        width: 15px;
        height: 15px;
        font-size: 0;
        display: inline-block;
        svg{
          width:100%;
          height:100%;
          fill: $blue-900;
          margin-left:-9px;
          margin-top: 1px;
        }
      }

      &:hover{
        .play{
          .svg{
            fill: $white;
            transition: all 0.3s;
          }
        }
      }
    }
    img{
      max-width: 450px;
    }
  }

  .home-subscribe-form{
    box-shadow: none;
  }

}

// Tablet portrait
@media (min-width: 768px) and (max-width: 1000px) {
  .container-jumbotron{
    .illustration{
      img{
        max-width: 490px;
        margin: 0 auto;
      }
    }
  }
}

// Mobile portrait, landscape
@media (max-width: 767px) {
  .container-jumbotron{
    .equal-width{
      min-width:200px;
      width: 100%;
    }
    .illustration{
      margin-bottom: -60px;
      margin-top: -20px;
      //.btn-play{
      //  margin-top: -28px;
      //  margin-left: 25px;
      //  border-radius: 50%;
      //  .play{
      //    width: 15px;
      //    height: 15px;
      //    //margin-left: 5px;
      //    padding: 0;
      //  }
      //}
      img{
        max-width: 300px;
        margin: 0 auto;
      }
    }
    .home-subscribe-form{
      border-radius: 0.25rem!important;
    }
  }
}

.partners{
  font-size: 0;
  position: relative;
  li{
    display: inline-block;
    a{
      display: inline-block;
      background-color: $white;
    }
    img{
      mix-blend-mode: luminosity;
    }
  }
  .partners-Button{
    position: absolute;
    z-index: 1;
    left: 50%;
    opacity: 0;
    top: 50%;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
  @media (min-width: 880px){
    ul {
      transition: 0.5s;
      will-change: transform;
      filter: blur(0);
    }
    &:hover{
      ul {
        opacity: .7;
        filter: blur(10px);
        -moz-filter: blur(10px);
        -webkit-filter: blur(10px);
        transform: scale(.95);
        -moz-transform: scale(.95);
        -webkit-transform: scale(.95);
      }
      .partners-Button{
        opacity: 1;
      }
    }
  }
}

.uber-banner{
  background: linear-gradient(80deg, $blue-400 0%, #27B9D2 100%);
  padding: 10px 0;
  letter-spacing: 0.6px;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
    &:hover, &:focus{
      text-decoration: none;
      color: $white;
    }
    .icon-megaphone{
      height: 20px;
      width: 30px;
      vertical-align: middle;
    }
}


.ost-home-web-img{
  @media only screen and (min-width: map-get($grid-breakpoints, "lg")) {
    max-width: 90%;
  }
}

.content-z-index {
  position: relative;
  z-index: 50;
}

.side-by-side-1-desc{
  @media (min-width: map-get($grid-breakpoints, "lg") ) {
    margin-top: -15%;
  }
}

//THis css handles fixed header overlap on ost-new section when direct link is open via ost.com/#ost-news
#ost-events {
  padding-top: 3rem;
  //margin-top: -5rem;
}

.hp-section-bg-wrap {

  $desktopBreakPoint : 1460px;

  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right: 0;

  .section-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: 20;
    @media (min-width: map-get($grid-breakpoints, "lg") ){
      height: 100%;
    }

  }

  .background-1 {
    background-image: linear-gradient(-3deg, transparent 5%, $blue-900 5.2%);
    @media (min-width: map-get($grid-breakpoints, "md") ){
      background-image: linear-gradient(-4deg, transparent 15%, $blue-900 15.2%);
    }
    @media (min-width: map-get($grid-breakpoints, "xl") ){
      background-image: linear-gradient(-3deg, transparent 16%, $blue-900 16.2%);
    }
  }

  .background-2{
    background-image: linear-gradient(-5deg, $cyan 65%, $white 65.2%);
    @media (min-width: map-get($grid-breakpoints, "lg") ){
      background-image: linear-gradient(-5deg, transparent 30%, $cyan 30.2%);
    }
  }

  .background-3 {
    background-color: $white;
  }

  .background-4 {
    background-image: linear-gradient(-5deg, #27B9D2 70%, $white 70.2%);
    @media (min-width: map-get($grid-breakpoints, "lg") ){
      background-image: linear-gradient(-5deg, transparent 30%, #27B9D2 30.2%);
    }
  }

}





