.liquidity-container-wrapper{
  background-color: #34445b;
  position: relative;
  overflow: hidden;
  .row{
    color: white;
    .white-header{
      color: #ffffff;

    }
  }
  .ost-triangleSpace{
    padding-top: 4em;
    width: 100%;
  }
  .ost-forward-triangle-top{
    position: absolute;
    left: -40px;
    right: -40px;
    top : -86px;
    height: 120px;
    transform: rotate(0.8deg);
    background: #fff;
    &.blue{
      background-color: #33445b;
    }
    &.aqua{
      background-color: #aee1e3;
    }
    &.trans{
      background-color: #eff9fa;
    }
    @media (max-width: 512px){
      transform: rotate(3.6deg);
    }
    @media (min-width: 513px) and (max-width: 768px){
      transform: rotate(2.8deg);
    }
    @media (min-width: 769px) and (max-width: 1024px){
      transform: rotate(1.8deg);
    }
    @media (min-width: 1025px){
      transform: rotate(2.4deg);
    }
  }

  .ost-forward-triangle{
    position: absolute;
    left: -40px;
    right: -40px;
    bottom: -60px;
    height: 120px;
    transform: rotate(0.8deg);
    background: #fff;
    &.blue{
      background-color: #33445b;
    }
    &.aqua{
      background-color: #aee1e3;
    }
    &.trans{
      background-color: #eff9fa;
    }
    @media (max-width: 512px){
      transform: rotate(3.6deg);
    }
    @media (min-width: 513px) and (max-width: 768px){
      transform: rotate(2.8deg);
    }
    @media (min-width: 769px) and (max-width: 1024px){
      transform: rotate(1.8deg);
    }
    @media (min-width: 1025px){
      transform: rotate(2.4deg);
    }
  }

}
