.liquidity-container-wrapper {
  background-color: #34445b;
  position: relative;
  .text-content {
    color: white;
    .white-header {
      color: #ffffff;

    }
  }
}

//@media (max-width: 768px) {
//  //.liquidity-container-wrapper {
//  //  padding-right: 0;
//  //  .img-container{
//  //    padding-right: 0;
//  //    .img-position{
//  //      padding-right: 0;
//  //      margin-top: -20px;
//  //    }
//  //  }
//  //}
//}



