.events-news-carousel{
  background-image: linear-gradient(to bottom, #ffffff, #f4f8f9);
}
.container-carousel{
  h1{
    color: #69a2bd;
  }
  .ost-nav-logo{
    position: relative;
    top: 1px;
    width: 75px;
    height: 40px;
  }

  position: relative;
  &.bg-image {
    background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-bg-cloud-illustration.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  @media(max-width: 736px){
    overflow: hidden;
  }
  //background-image: linear-gradient(to top, #ffffff, #f4f8f9);

}


@media (max-width: 768px) {

  .slick-arrow {
    z-index: 1;
    &:before {
      font-size: 30px!important;
    }
  }

  .slick-prev {
    left: -35px !important
  }

  .slick-next {
    right: -35px !important
  }
}

@media (min-width: 769px) and (max-width: 1070px) {

  .slick-prev {
    left: -45px!important;
  }

  .slick-next {
    right: -45px!important;
  }
}



