.container-ost-team{
  background-image: linear-gradient(to bottom, #ffffff, #f4f8f9);
  h1{
    color: #438cad;
  }
  p{
    color: #597a84;
    font-weight: 300;
    line-height: 1.8;
  }

  .grid {
    background: #DDD;
    max-width: 400px;
    margin: 0 auto;
  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */

  .grid-item {
    float: left;
    width: 12.5%;
    height: 50px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    border: 2px solid white;
    transition: background 2s ease-in-out;
  }

  .grid-item--large{
    width: 25%;
    height: 100px;
  }

}

