// Import theme variables
@import "../../ost_theme/variables";

.container-pop-corn{
  background-color: $blue-900;
  background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/pop-corn-mobile@2x.png');
  @media (min-width: map-get($grid-breakpoints, "lg") ){
    min-height: 350px;
    background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/pop-corn-web@2x.png');
  }
  background-size: cover;
  background-repeat: no-repeat;

  .bg-opacity{
    background-color: rgba(0, 0, 0, 0.15);
    @media (min-width: map-get($grid-breakpoints, "lg") ){
      min-height: 350px;
    }
  }

  .checkbox-section{
    color: $banana;
    text-shadow: 1px 1px 1px $black;
  }

  h3{
    color: $white;
  }

  .label-cbx {
    .checkbox {
      svg {
        outline: 2px solid $banana;
        outline-offset: -2px;
      }
    }
    input:checked{
      & + .checkbox{
        svg{
          path{
            fill: $banana;
          }
        }
      }
    }
  }

  p{
    color: $white;
    font-size: 18px;
    text-shadow: 1px 1px 1px $black;
  }

  .home-subscribe-form{
    border-radius: 0.25rem!important;
    @media (min-width: map-get($grid-breakpoints, "md") ){
      border-top-right-radius: 0!important;
      border-bottom-right-radius: 0!important;
    }
    &:focus{
      box-shadow: none;
    }
  }

  .error{
    font-weight: 400;
    font-size: 14px;
    color: $banana;
    text-shadow: 1px 1px 1px $black;
  }

  .success-msg{
    color: $banana;
    text-shadow: 1px 1px 1px $black;
  }

  #submitting-email-state{
    color: $banana;
    text-shadow: 1px 1px 1px $black;
  }

}





