// Import theme variables
@import "../../ost_theme/variables";

.prototypes-section{

  .slick-list{
    height: 100%;
  }
  .slick-track{
    height : 100%;
  }
  .slick-dots li button:before
  {
    opacity :1;
    font-size: 38px!important;
  }
  .slick-dots li.slick-active button:before{
    color: $cyan;
  }
  .slick-dots li button:before{
    color: $blue-100;
  }
  .slick-slide{
    opacity: 0.5;
    transform: scale(0.9);
    &.slick-current{
      opacity: 1;
      transform: scale(1);
    }
  }
  .iframe-wrapper{

    .iframe-cover-img{
      display: inline-block;
      width: 100%;
      padding: 0 20%;
    }
    .iframe-dimensions{
      display: inline-block;
    }
  }


}
.prototypes-section-mobile{
  overflow: hidden;
  .proto-wrapper{
    //box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    //border-radius: 60px;
    height: calc(930px * 0.6);
    width: calc(430px * 0.7);
    img{
      position: absolute;
      top : 50%;
      left : 50%;
      transform : translate(-50% , -50%);
    }
  }

  .iframe-dimensions-mobile{
    height: 875px;
    width: 416px;
    transform-origin: 0 0;
    transform: scale(0.6, 0.6) translate(-50%, 0);
    margin-left: 50%;

  }
  li{
    list-style-type:none;
  }
}

