<section class="container-jumbotron py-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <h3 class="font-weight-bold">OST Alpha II Developer Challenge Winners!</h3>
        <p class="mt-3">
          OST KIT⍺ Phase II was an opportunity for developers to build a Proof Of Concept (POC) coded integration between their website, app or platform and the OST KIT blockchain toolkit. A huge thank you to all applicants, participants and winners for the challenge!
        </p>
        <!--TODO: change link for winners-->
        <a href="#winners" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="See The Winners">SEE THE WINNERS</a>
        <a href="#subscribe" class="btn btn-secondary my-2 ml-xl-3 smooth-scroll" title="SIGN UP FOR ALPHA III">SIGN UP FOR ALPHA III</a>
      </div>

      <div class="col-md-12 col-lg-6 text-center mt-3 mt-md-0">
        <div class="illustration w-100">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-winners/ost-winners-jumbotron-hero-image@1x.png" srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-winners/ost-winners-jumbotron-hero-image@2x.png 1000w" class="img-fluid position-relative" alt="OST Winners Hero"/>
        </div>
      </div>

    </div>
  </div>
</section>