<section class="container-jumbotron pt-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <h3 class="font-weight-bold">OST KITa: Phase II: Developer Proof of Concept Challenge</h3>
        <p class="mt-3">
          OST KYC is the first plug-and-play KYC/AML management solution for token sales. Process thousands of applicants smoothly and securely. Developed for the Simple Token "OST" ICO. Now available for any company to use.
        </p>
        <!--TODO: change link for winners-->
        <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="See The Winners">SEE THE WINNERS</a>
        <a href="#developerresources" class="btn btn-secondary my-2 ml-xl-3 smooth-scroll" title="Developer Resources">SIGN UP FOR ALPHA III</a>
      </div>

      <div class="col-md-12 col-lg-6 text-center mt-3 mt-md-0">
        <div class="illustration w-100">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-hero-illustration-1x.png" srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-hero-illustration-2x.png 1000w" class="img-fluid position-relative" alt="Simple Token Play Video"/>
        </div>
      </div>

    </div>
  </div>
</section>

<%= render :partial => "shared/web/modals/help_video" %>