<section class="container-fluid">
  <div class="row container-stats py-4">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3 my-3 stats-icons-wrap">
            <svg class="align-middle descriptive-icons" >
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-applications-icon"></use>
              </switch>
            </svg>
            <div class="d-inline-block align-middle">
              <h4 class="stats-value" id="d1">250</h4>
              <small class="stats-desc">APPLICATIONS</small>
            </div>
        </div>
        <div class="col-6 col-md-3 my-3 stats-icons-wrap">
          <svg class="align-middle descriptive-icons" >
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-accepted-icon"></use>
            </switch>
          </svg>
            <div class="d-inline-block align-middle">
              <h4 class="stats-value" id="d2">143</h4>
              <small class="stats-desc">ACCEPTED</small>
            </div>
        </div>
        <div class="col-6 col-md-3 my-3 stats-icons-wrap">
          <svg class="align-middle descriptive-icons" >
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-days-icon"></use>
            </switch>
          </svg>
          <div class="d-inline-block align-middle">
            <h4 class="stats-value" id="d3">100</h4>
            <small class="stats-desc">DAYS</small>
          </div>
        </div>
        <div class="col-6 col-md-3 my-3 stats-icons-wrap">
          <svg class="align-middle descriptive-icons" >
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-successful-pocs-icon"></use>
            </switch>
          </svg>
          <div class="d-inline-block align-middle">
            <h4 class="stats-value" id="d4">50</h4>
            <small class="stats-desc">SUCCESSFUL POCs</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-3 my-3 text-center text-md-left">
          <svg class="align-middle" style="height: 50px;width: 50px">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
            </switch>
          </svg>
          <div class="d-inline-block align-middle">
            <h4 class="stats-value" id="d5">5,000,000 OST</h4>
            <small class="stats-desc">AWARDED IN TOTAL</small>
          </div>
        </div>
        <div class="col-12 col-md-3 my-3 text-center text-md-left">
          <svg class="align-middle" style="height: 50px;width: 50px">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
            </switch>
          </svg>
          <div class="d-inline-block align-middle">
            <h4 class="stats-value" id="d6">250,000 OST</h4>
            <small class="stats-desc">FOR GRAND WINNER POC</small>
          </div>
        </div>
        <div class="col-12 col-md-3 my-3 text-center text-md-left">
          <svg class="align-middle" style="height: 50px;width: 50px">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
            </switch>
          </svg>
          <div class="d-inline-block align-middle">
            <h4 class="stats-value" id="d7">75,000 OST</h4>
            <small class="stats-desc">FOR SPECIAL RECOGNITION</small>
          </div>
        </div>
        <div class="col-12 col-md-3 my-3 text-center text-md-left">
          <svg class="align-middle" style="height: 50px;width: 50px">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
            </switch>
          </svg>
          <div class="d-inline-block align-middle">
            <h4 class="stats-value" id="d8">50,000 OST</h4>
            <small class="stats-desc">PER SUCCESSFUL POC</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


