<section class="container-fluid">
  <div class="row container-stats py-4">
    <div class="container">

      <div class="row">
        <div class="col-8 col-md-10 col-lg-12 mx-auto">
          <div class="row">
            <div class="col-11 col-md-6 col-lg-3 my-3 stats-icons-wrap mx-auto">
              <svg class="align-middle descriptive-icons" >
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-applications-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d1">0</h4>
                <small class="stats-desc">APPLICATIONS</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 stats-icons-wrap mx-auto">
              <svg class="align-middle descriptive-icons" >
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-countries-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d2">0</h4>
                <small class="stats-desc">COUNTRIES</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 stats-icons-wrap mx-auto">
              <svg class="align-middle descriptive-icons" >
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-days-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d3">0</h4>
                <small class="stats-desc">DAYS</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 stats-icons-wrap mx-auto">
              <svg class="align-middle descriptive-icons" >
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-successful-pocs-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d4">0</h4>
                <small class="stats-desc">SUCCESSFUL POCs</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-11 col-md-6 col-lg-3 mx-auto my-3 text-md-left">
              <svg class="align-middle ost-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d5">0</h4>
                <small class="stats-desc">AWARDED IN TOTAL</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 mx-auto my-3 text-md-left">
              <svg class="align-middle ost-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d6">0</h4>
                <small class="stats-desc">GRAND WINNER POC</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 mx-auto my-3 text-md-left">
              <svg class="align-middle ost-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d7">0</h4>
                <small class="stats-desc">SPECIAL RECOGNITION</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 mx-auto my-3 text-md-left">
              <svg class="align-middle ost-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d8">0</h4>
                <small class="stats-desc">PER SUCCESSFUL POC</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


