<div class="q-elements" id="2019-q1">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2019',
    quarter: 'Q1',
    desc_html: '<span class="text-bold">OpenST & OST Mainnet.</span> Branded Token economies on mainnet with cash-out to OST or ETH.'
  } %>

  <div class="row bg-h-border position-relative">
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Protocol 0.10.0</div>
        <div class="status">Status: Upcoming</div>
        <ul class="desc-lines">
          <li>Mainnet Beta</li>
        </ul>
      </div>
    </div>
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Mosaic Alpha</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line second py-6 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST KIT Beta</div>
        <div class="status">Status: Upcoming</div>
        <ul class="desc-lines">
          <li>OST KYC Integration</li>
          <li>OST Wallet Beta</li>
        </ul>
      </div>
    </div>
    <div class="col-4 bg-line third py-6 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold">Swap BT for ETH Beta</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>
</div>