<div class="<% if defined? visible_class %><%= visible_class %><% else %>q-elements<% end %>" id="2019-q4">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2019',
    quarter: 'Q4',
    desc_html: '<span class="text-bold">Enable anyone to run an OpenST BT-EX or BT-DEX.</span>'
  } %>

  <div class="row bg-h-border position-relative">
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Protocol 0.11.0</div>
        <div class="status">Status: Upcoming</div>
        <ul class="desc-lines">
          <li>BT-EX & BT-DEX Framework</li>
        </ul>
      </div>
    </div>
    <div class="col-2 bg-line first py-6 d-flex align-items-center"></div>
    <div class="col-4 bg-line second py-6 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST MARKETING</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line third py-6 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold">Additional Currency Pairings</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>
</div>