<div class="<% if defined? visible_class %><%= visible_class %><% else %>q-elements<% end %>" id="2019-q3">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2019',
    quarter: 'Q3',
    desc_html: '<span class="text-bold">OST KIT General Availability for mainstream businesses, with BTEX beta.'
  } %>

  <div class="row bg-h-border position-relative">
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Protocol 0.11</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Mosaic Beta</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line second py-6 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST KIT Release</div>
        <div class="text-bold">OST UNIVERSAL WALLET</div>
        <div class="text-bold">OST STABLE</div>
        <div class="text-bold">OST KIT NFT</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line third py-6 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold">Redeem BT for OST, BT, ETH, BTC, and in-kind redemption partners.</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>
</div>