<div class="q-elements" id="2019-q1">
  <div class="row quarters-year-row">
    <div class="col-12">
      <div class="container-content pt-1 pb-0">
        <div class="row">
          <div class="col-3 align-self-center">
            <div class="row">
              <div class="col-9 ml-auto text-center pr-0">
                <span class="year">2019</span>
                <span class="quarter">Q1</span>
              </div>
            </div>
          </div>
          <div class="col-2 align-self-end px-0" style="font-size: 0">
            <svg class="milestone-logo">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
              </switch>
            </svg>
          </div>
          <div class="col-7 align-self-center pl-0">
            <span class="text-bold">OpenST & OST Mainnet.</span> Branded Token economies on mainnet with cash-out to OST or ETH.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-h-border position-relative">
    <div class="col-4">
      <div class="row h-100">
        <div class="col-6 bg-line first py-5 d-flex align-items-center">
          <div class="container-content p-15-10">
            <div class="text-bold">OpenST Protocol 0.10.0 Mainnet Beta</div>
            <div class="status">Status: Upcoming</div>
          </div>
        </div>
        <div class="col-6 bg-line first py-5 d-flex align-items-center">
          <div class="container-content p-15-10">
            <div class="text-bold">OpenST Mosaic Alpha</div>
            <div class="status">Status: Upcoming</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 bg-line second py-5 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold text-uppercase">OST KIT Beta</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line third py-5 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold text-uppercase">Swap BT for ETH Beta</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>
</div>