<div class="q-elements" id="2019-q2">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2019',
    quarter: 'Q2',
    desc_html: '<span class="text-bold">OST General Availability for mainstream businesses.</span>'
  } %>

  <div class="row bg-h-border position-relative">
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OpenST Protocol 0.10.1</div>
        <div class="status">Status: Upcoming</div>
        <ul class="desc-lines">
          <li>Non-Fungible Tokens & Token Engineering Modules</li>
        </ul>
      </div>
    </div>
    <div class="col-2 bg-line first py-6 d-flex align-items-center"></div>
    <div class="col-4 bg-line second py-6 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST KIT Release
          <br/>
          OST UNIVERSAL WALLET
          <br/>
          OST KIT NFT
        </div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line third py-6 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold text-uppercase">Swap BT for BT, ETH, BTC, and in-kind redemption partners.</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>
</div>