<div class="<% if defined? visible_class %><%= visible_class %><% else %>q-elements<% end %>" id="2018-q1">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2018',
    quarter: 'Q1',
    desc_html: '<span class="text-bold">1600 Branded Token economies created.</span> 18.8 million token transfers executed.',
    header_link: 'https://medium.com/ostdotcom/ost-launches-ost-kit-public-alpha-release-of-the-complete-blockchain-toolkit-for-business-211416488d2'
  } %>

  <div class="row bg-h-border position-relative">
    <div class="col-4 d-flex flex-column">
      <div class="row bg-line first">
        <div class="col-12 pt-5"></div>
      </div>
      <div class="row h-100" style="flex: 1">
        <div class="col-12 d-flex flex-column">
          <div class="row">
            <div class="col-12 col-md-6 mx-auto p-0" style="font-size: 0">
              <svg width="100%" height="100%" viewBox="0 0 211 101" xmlns="http://www.w3.org/2000/svg">
                <path d="M209 100.068V70.693c0-16.268-12.987-29.455-29.007-29.455h-49.182c-22.429 0-25.181-18.463-25.181-41.238 0 22.775-2.753 41.238-25.181 41.238H31.007C14.987 41.238 2 54.425 2 70.693v29.375" stroke="#A5C7D7" stroke-width="3.5" fill="none" fill-rule="evenodd"/>
              </svg>
            </div>
          </div>
          <div class="row" style="flex: 1">
            <div class="col-6 bg-line first">
              <div class="container-content p-15-10">
                <div class="text-bold">OpenST Protocol 0.9.2</div>
                <div class="status">Status: Complete</div>
                <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
                  <li class="list-inline-item">
                    <a href="https://github.com/OpenSTFoundation/mosaic-contracts/releases/tag/v.0.9.2" target="_blank" title="OST Roadmap - Github">
                      <span class="roadmap-github-icon"></span>
                    </a>
                  </li>
                </ul>
                <ul class="desc-lines">
                  <li>Token Transfers</li>
                </ul>
              </div>
            </div>
            <div class="col-6 bg-line first">
              <div class="container-content p-15-10">
                <div class="text-bold">OpenST Mosaic R&D</div>
                <div class="status">Status: Complete</div>
                <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
                  <li class="list-inline-item">
                    <a href="https://github.com/OpenSTFoundation/mosaic-contracts" target="_blank" title="OST Roadmap - Github">
                      <span class="roadmap-github-icon"></span>
                    </a>
                  </li>
                </ul>
                <ul class="desc-lines">
                  <li>Asynchronous hetero-geneous composition of blockchains</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 bg-line pb-5 first"></div>
        <div class="col-6 bg-line pb-5 first"></div>
      </div>
    </div>
    <div class="col-4 bg-line second py-5 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST KIT Alpha 1</div>
        <div class="status">Status: Complete</div>
        <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
          <li class="list-inline-item">
            <a href="https://medium.com/ostdotcom/ost-launches-ost-kit-public-alpha-release-of-the-complete-blockchain-toolkit-for-business-211416488d2" target="_blank" title="OST Roadmap - Medium">
              <span class="roadmap-medium-icon"></span>
            </a>
          </li>
        </ul>
        <div class="play-bg">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/roadmap/ost-kit-alpha@2x.png" class="img-fluid d-block my-3"/>
          <a href="" class="play-icon" data-toggle="modal" data-target="#helpVideoModal" data-src="https://www.youtube.com/embed/f6N3uKMzasI"></a>
        </div>
        <ul class="desc-lines">
          <li>Setup Economy</li>
          <li>Simulate Token Transfers</li>
        </ul>
        <a href="https://dev.ost.com/docs/api_transfers_create.html" class="d-block more-desc" target="_blank" title="Read More">Read More</a>
      </div>
    </div>
    <div class="col-4 bg-line third py-5 align-items-center d-flex"></div>
  </div>
</div>

