<div class="q-elements" id="2019-q2">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2019',
    quarter: 'Q2',
    desc_html: '<span class="text-bold">OST General Availability for mainstream businesses.</span>'
  } %>

  <div class="row bg-h-border position-relative">
    <div class="col-4">
      <div class="row h-100">
        <div class="col-6 bg-line first py-5 d-flex align-items-center">
          <div class="container-content">
            <div class="text-bold">OpenST Protocol 0.10.1 Wallet SDK</div>
            <div class="status">Status: Upcoming</div>
          </div>
        </div>
        <div class="col-6 bg-line first py-5 d-flex align-items-center"></div>
      </div>
    </div>
    <div class="col-4 bg-line second py-5 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST KIT Release<br/>
          OST Wallet Release</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line third py-5 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold text-uppercase">Swap BT for BT, ETH, BTC</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>
</div>