<div class="q-elements" id="2019-q3">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2019',
    quarter: 'Q3',
    desc_html: '<span class="text-bold">OpenST Protocol 0.10.2 3rd Party Wallets SDK</span>'
  } %>

  <div class="row bg-h-border position-relative">
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Protocol 0.10.2</div>
        <div class="status">Status: Upcoming</div>
        <ul class="desc-lines">
          <li>Non-Fungible Tokens & Token Engineering Modules</li>
        </ul>
      </div>
    </div>
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Mosaic Beta</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line second py-6 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST KIT Economy Stability <br/>OST KIT Analytics</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line third py-6 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold">Swap BT for Fiat</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>
</div>