<div class="q-elements" id="2020-q1">

  <div class="row quarters-year-row">
    <div class="col-12 text-center">
      <div class="container-content py-3 q1-bg">
        <span class="year">2020</span>
        <span class="quarter">Q1</span>
      </div>
    </div>
  </div>

  <div class="row bg-h-border position-relative">
    <div class="col-2 bg-line first py-6 d-flex align-items-center"></div>
    <div class="col-2 bg-line first py-6 d-flex align-items-center"></div>
    <div class="col-4 bg-line second py-6 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST Economy Optimization</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
    <div class="col-4 bg-line third py-6 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold">Additional Currency Pairings</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>
</div>