<div class="<% if defined? visible_class %><%= visible_class %><% else %>q-elements<% end %>" id="2020-q2">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2020',
    quarter: 'Q2',
    desc_html: '<span class="text-bold">Fully autonomous decentralized token economies.</span>'
  } %>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3 bg-line first py-5"></div>
            <div class="col-3 bg-line first py-5"></div>
            <div class="col-6 bg-line second py-5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 bg-line third py-5"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-8">
          <div class="container-content">
            <div class="text-bold">OpenST Protocol 1.0: OpenST & OpenST Mosaic Fully Decentralized</div>
            <div class="status">Status: <%= get_current_quater_roadmap_status(2020, 2) %></div>
          </div>
        </div>
        <div class="col-4 bg-line third">
          <div class="container-content">
            <div class="text-bold">Additional Currency Pairings</div>
            <div class="status">Status: <%= get_current_quater_roadmap_status(2020, 2) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3 bg-line first py-5"></div>
            <div class="col-3 bg-line first py-5"></div>
            <div class="col-6 bg-line second py-5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 bg-line third py-5"></div>
      </div>
    </div>
  </div>
</div>