<div class="<% if defined? visible_class %><%= visible_class %><% else %>q-elements<% end %>" id="2021-q1">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2021',
    quarter: 'Q1',
    desc_html: '<span class="text-bold">OpenST Protocol released for developers</span> to build infrastructure and tools to enable token economies.'
  } %>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3 bg-line first py-5"></div>
            <div class="col-3 bg-line first py-5"></div>
            <div class="col-6 bg-line second py-5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 bg-line third py-5"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="container-content">
        <div class="text-bold">OpenST 3.0 & OST 3.0: Additional blockchains beyond Ethereum</div>
        <div class="status">Status: Upcoming</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3 bg-line first py-5"></div>
            <div class="col-3 bg-line first py-5"></div>
            <div class="col-6 bg-line second py-5"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 bg-line third py-5"></div>
      </div>
    </div>
  </div>
</div>