<div class="container-fluid jumbotron-container pt-5 jumbo">
  <div class="row">
    <div class="container jumbotron-animate">
      <div class="row">
        <div class="col-12 text-center">
          <svg class="jumbotron-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
            </switch>
          </svg>
          <h3 class="header my-3">Blockchain Infrastructure <br/>to Empower New Economies</h3>
          <p class="desc">OST is a public blockchain platform for businesses with millions of users. <br/>Launch your own Branded Tokens and turn your business into a dynamic ecosystem.</p>
        </div>
      </div>
    </div>
  </div>
</div>