<div class="row pt-5 pb-3" style="font-size: 0">
  <div class="col-12 text-center quarters-animate">
    <svg class="roadmap-logo">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-roadmap"></use>
      </switch>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8 mx-auto">
    <div class="row">
      <svg width="100%" height="100%" viewBox="0 0 830 98" xmlns="http://www.w3.org/2000/svg">
        <g stroke-width="3" fill="none" fill-rule="evenodd">
          <path class="path-right" d="M828 96.589c0-26.673-21.572-48.295-48.183-48.295H463.183C436.573 48.294 415 26.672 415 0"/>
          <path class="path" d="M415 97.598V1.274"/>
          <path class="path-left" d="M415 0c0 26.672-21.572 48.294-48.183 48.294H50.183C23.573 48.294 2 69.916 2 96.59" />
        </g>
      </svg>
    </div>
  </div>
</div>

<div class="categoriesToAnimatePhantom"></div>
<div class="row categoriesToAnimateWrapper">
  <div class="col-12">
    <div class="row">

      <div class="col-4 d-flex">
        <div class="container-content categoriesToAnimate py-0 pl-3 pr-0">
          <div class="row h-100">
            <div class="col-8 align-self-center pr-0 category">
              <div class="title first">Infrastructure</div>
              <p class="desc">Solves scalability challenges of Ethereum while enabling white-label tokens.</p>
            </div>
            <div class="col-4">
              <svg class="h-100 w-100 d-block">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-infrastructure"></use>
                </switch>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex">
        <div class="container-content categoriesToAnimate py-0 pl-3 pr-1">
          <div class="row h-100">
            <div class="col-8 align-self-center pr-0 category">
              <div class="title second">Developer Tools</div>
              <p class="desc">Developer APIs and SDK for plug and play integration along with blockchain management tools</p>
            </div>
            <div class="col-4">
              <svg class="h-100 w-100 d-block">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-developer-tools"></use>
                </switch>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 d-flex">
        <div class="container-content categoriesToAnimate py-0 pl-3">
          <div class="row h-100">
            <div class="col-8 align-self-center pr-0 category">
              <div class="title third">Btx Exchange</div>
              <p class="desc">Solved liquidity between tokens, across blockchains, with currencies.</p>
            </div>
            <div class="col-4">
              <svg class="h-100 w-100 d-block">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-btx-exchange"></use>
                </switch>
              </svg>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>