<div class="accept-cookie-wrapper row p-3 px-4 pr-5 mx-auto" style="display: none;">
  <div class="my-auto ">This website uses cookies, by using it you agree to our cookies section. To read more visit our <a class="font-weight-bold text-link privacy-link" href="<%=GlobalConstant::CompanyOtherProductUrls.root_url%>privacy">Privacy Policy</a>
  </div>

    <div class="cross-icon  pr-4">
      <svg width="14" height="14" class="btn-reject-cookies my-auto">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross-mark"></use>
        </switch>
      </svg>
  </div>
</div>
