<div class="accept-cookie-wrapper " style="display: none;">
  <button type="button" class="ml-2 mt-2 btn-reject-cookies"><span class="cross-sign">&times;</span></button>
  <div class="ml-5 my-3 mx-3">
    We use cookies to provide you with the best browsing experience. The data collected by cookies is used to optimize the website for the visitors and deliver
    information to OST. We use essential cookies as well as third-party cookies. A detailed description of the cookies we use is found in our <a class="cookie-privacy-policy font-weight-bold" href="<%=GlobalConstant::Base.root_url%>privacy">Privacy Policy</a> .
  </div>
  <div class="btn-accept-cookie-wrapper my-auto">
    <button type="button"  class="btn btn-primary btn-accept-cookie mr-3">Accept</button>
  </div>
</div>
<div class="modal demo-modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog demo-modal-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-body ">
        <button type="button" class=" btn-reject-cookies"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="mb-3 mx-3">
          We use cookies to provide you with the best browsing experience. The data collected by cookies is used to optimize the website for the visitors and deliver
          information to OST. We use essential cookies as well as third-party cookies. A detailed description of the cookies we use is found in our <a class="cookie-privacy-policy-modal font-weight-bold" href="<%=GlobalConstant::Base.root_url%>privacy">Privacy Policy</a> .
        </div>
        <div class="btn-accept-cookie-wrapper text-center">
          <button type="button" class="btn btn-primary btn-accept-cookie" data-dismiss="modal">Accept</button>
        </div>
      </div>
    </div>
  </div>
</div>
