<section class="container-fluid">
  <div class="row">
    <footer class="col-12 container-footer">
      Copyright &copy;
      <%= Date.today.year %>
      OST.COM LTD. All Rights Reserved.
    </footer>
  </div>
</section>