<%
  ost_watch_link = "https://ostwatch.com/mainnet"
%>
<nav id="menu" class="ost-nav w-100">
  <div class="container nav-container">
    <div class="row align-items-center">
      <a class="navbar-brand ost-brand mr-0" href="<%= GlobalConstant::Base.root_url %>" title="OST">
        <svg class="ost-nav-logo">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
          </switch>
        </svg>
      </a>
      <ul class="main-menu clearfix m-0 p-0 list-unstyled collapse" id="navbarToggler">
        <li>
          <a href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>" class="main-nav-item" title="Developers">
            Developers
          </a>
        </li>
        <li>
          <a href="<%=ost_watch_link%>" class="main-nav-item" title="Live Transactions">
            Live Transactions
          </a>
        </li>
        <li>
          <a href="<%= %>" class="main-nav-item" title="Blog">
            Blog
          </a>
        </li>
      </ul>
      <div class="d-none d-md-inline ml-auto">
        <a class="btn btn-secondary"> Schedule a call</a>
      </div>
    </div>
  </div>
</nav>

<div class="navbar-phatom-el"></div>