<%
  default_active = defined?(default_active_index) ? default_active_index : 0 ;

%>

<div class="container-about-nav">
  <div class="container-fluid">

    <div class="row nav-gradient">
      <div class="mx-auto col-12 col-md-10 col-lg-8">

        <ul class="nav">
          <% content.each_with_index  do |element, idx| %>


            <li class="<% if idx == default_active %>active<% end %>  <% if defined?(element[:class]) %> <%= element[:class] %> <% end %>">
              <a class="nav-item scroll" href="<%= element[:href] %>">
                <%= element[:title] %>
              </a>
            </li>
          <% end %>
        </ul>

      </div>
    </div>

  </div>
</div>

<div class="container-about-nav-phantom"></div>