.block-container {
  background-color: #34445b;
  h1{
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-weight: 400 !important;
  }
  p{
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 0.4px;
  }
  @media (max-width: 768px) {
    .openst-forum {
      display: none;
    }
  }
}

.openst-forum {
  border: 1.5px solid #ffffff !important;
  color: #ffffff !important;
  background-color: #34445b !important;
  &:hover {
    border: 1.5px solid #ffffff !important;
    color: #34445b !important;
    background-color: #ffffff !important;
  }
}

.info-card {
  .info-card-body {
    border: solid 1px #597A84;
    border-radius: .25rem;
  }
  h5 {
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 500!important;
  }
  p{
    margin-top: 1rem;
  }
  .white-paper-link {
    color: #D9A025;
    border-bottom: 1.5px solid #D9A025;
    letter-spacing: 2.7px;
    font-weight: 700;
    padding: 6px 0;
  }
  .github-link {
    color: #d3e3e5 !important;
    letter-spacing: 2.7px;
    padding: 6px 0;
    font-weight: 700;
    border-bottom: 1.5px solid #d3e3e5;
    &:before, &:after{
      background: #d3e3e5;
    }
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
}

