// Import theme variables
@import "../ost_theme/variables";

.container-jumbotron{
  h2{
    font-size: 2.25rem;
    color: $blue-900;
  }
  p{
    color: $blue-900;
    font-weight: $font-weight-light;
    line-height: 1.6rem;
  }
  .illustration{
    .btn-play{
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      cursor: pointer;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      .play{
        width: 15px;
        height: 15px;
        font-size: 0;
        display: inline-block;
        svg{
          width:100%;
          height:100%;
          fill: $blue-900;
        }
      }

      &:hover{
        .play{
          .svg{
            fill: $white;
            transition: all 0.3s;
          }
        }
      }
    }
    img{
      max-width: 490px;
    }
  }
}

// Tablet portrait
@media (min-width: 768px) and (max-width: 1000px) {
  .container-jumbotron{
    .illustration{
      img{
        max-width: 490px;
        margin: 0 auto;
      }
    }
  }
}

// Mobile portrait, landscape
@media (max-width: 767px) {
  .container-jumbotron{
    .illustration{
      .btn-play{
        .play{
          width: 30px;
          height: 30px;
          margin-left: 5px;
          padding: 0;
        }
      }
      img{
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}