// Import theme variables
@import "../ost_theme/variables";

.container-powered{
  &.kit{
    background-color: #e7f6f7;
    h1{
      color: $blue-800;
      font-weight: $font-weight-normal!important;
      letter-spacing: 0.6px;
    }
  }
  p{
    color: $blue-800;
    font-weight: $font-weight-light;
    letter-spacing: 0.4px;
  }
}

.container-powered-containers{
  .container-1{
    background-color: $white;
    background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/powered-ost-view-bg.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 40%;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.06);
    p{
      color: #234359;
      font-weight: $font-weight-light;
      line-height: 1.58;
      font-size: 0.85rem;
      letter-spacing: 0.4px;
    }
  }
}