// Import theme variables
@import "../../ost_theme/variables";

.container-jumbotron{
  .illustration{
    img{
      max-width: 490px;
      @media (max-width: 767px){
        max-width: 300px;
        margin: 0 auto;
      }
      @media (min-width: 768px) and (max-width: 1000px){
        max-width: 490px;
        margin: 0 auto;
      }
    }
  }
}

.container-partner-companies{
  svg{
    border: 1px solid green;
    #facebook, #instagram {
      background-color: red;
      fill: #111;
    }
    &:hover{
      background-color: red;
      #facebook, #instagram {
        fill: #fff;
      }
    }
  }
}


.container-launch-bt{
  background-color: #34445b;
}

.container-contact-us {
  background-color: $blue-1100;
  .custom-form{
    font-weight: $font-weight-normal;
  }

  p{
    letter-spacing: 1px;
  }

  h2{
    color: $white;
  }

  :focus {
    outline: none;
  }

  label{
    font-size: 0.875rem;
    color: $steel-teal;
    margin-bottom: .2rem;
  }

  .info-text{
    font-size: 0.7rem;
  }

  .input-container {
    padding: 0;
    position: relative;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"]{
    width: 100%;
  }

  .input {
    border: 0;
    padding: 0 0 5px;
    background-color: transparent;
    border-bottom: 1px solid $casal;
  }

  .input ~ .input-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $neptune;
  }

  .input:focus ~ .input-border {
    width: 100%;
    transition: 0.5s;
  }

  .error{
    font-size: 12px;
    color: #e7003b;
    padding: 2px 0;
    display: block;
    min-height: 25px;
  }
  textarea{
    background-color: transparent;
    border: 1px solid #3c5056;
    color: #3c5056;
  }

}

.form-recapcha .form-recapcha-wrap div {
  text-align: center;
  width:auto !important;
}
.form-recapcha .form-recapcha-wrap div div {
  display: inline-block;
  width:auto !important;
}

.partnering_with_ost{
  background-color: #afe1e3;
  .desp_style{
    font-size: 12px;
    color: #597a84;
  }


}