// Import theme variables
@import "../../ost_theme/variables";

.container-jumbotron{
  .illustration{
    img{
      max-width: 490px;
      @media (max-width: 767px){
        max-width: 300px;
        margin: 0 auto;
      }
      @media (min-width: 768px) and (max-width: 1000px){
        max-width: 490px;
        margin: 0 auto;
      }
    }
  }
}

.container-partner-companies{

  .filter-style{
    color: #438bad;
    font-size: 0.8rem;
    letter-spacing: 0.7px;
    font-weight: $font-weight-500;
    text-transform: uppercase;
  }
  .border-class{
    border-left: 0.6px solid #597a84;
    height: 70px;
  }

  .bootstrap-select{
    .dropdown-toggle{
      opacity: 0.5;
      border-radius: 0;
      line-height: 100%;
      text-transform: capitalize;
      background-color: transparent;
      padding: .5rem 1.6rem .5rem 0;
      border-bottom: solid 0.6px #3c5056;
      &:focus{
        outline: none!important;
      }
      &:after{
        border: none;
        width: 15px;
        height: 15px;
        position: absolute;
        background: url(https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/drop-down-arrow.svg) no-repeat center;
      }
      .filter-option{
        min-height: 18px;
      }
    }
    .dropdown-menu{
      border: none;
      padding: 0.5rem;
      border-radius: 0px;
      top: 5px!important;
      box-shadow: 0.5px 1px 2.5px 0 rgba(0, 0, 0, 0.1);
      li{
        text-transform: capitalize;
        a{
          outline: none;
          font-size: 0.875rem;
          padding: .5rem .5rem!important;
          color: #35445b!important;
          font-weight: $font-weight-light!important;
          &[aria-selected="true"]{
            background-color: #f6f7f7;
          }
        }
      }
    }
  }

  .border-box{
    position: relative;
    &:after, &:before{
      height: 14px;
      width: 14px;
      position: absolute;
      content: '';
//      opacity: 0.1;
    }
    &:before{
      right: -2px; top: -2px; border-right: 2px dotted green; border-top: 2px dotted green;;
    }
    &:after{
      left: 0; bottom: 0; border-left: 2px dotted green; border-bottom: 2px dotted green;;
    }
  }

  .aspect-ratio-box {
    height: 0;
    overflow: hidden;
    padding-top: 47px / 72px * 100% ;
    color: #000;
    &:hover{
      .aspect-ratio-box-inside{
        background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/unsplash-white.png');
        background-color: red;
      }
    }
  }
  .aspect-ratio-box-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/unsplash.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

    @-webkit-keyframes fadeInRightBigrule {
      from {
        left : 0px;
      }

      to {
       left : 200px;
      }
    }



    .fadeInRightBig {
      -webkit-animation-name: fadeInRightBigrule;
    }
  }

}

.ost-backward-triangle{
  position: absolute;
  left: -40px;
  right: -40px;
  top: -50px;
  height: 100px;
  transform: rotate(0.8deg);
  @media (max-width: 512px){
    transform: rotate(3.6deg);
  }
  @media (min-width: 513px) and (max-width: 768px){
    transform: rotate(2.8deg);
  }
  @media (min-width: 769px) and (max-width: 1024px){
    transform: rotate(1.8deg);
  }
  @media (min-width: 1025px){
    transform: rotate(2.2deg);
  }
  &.dark-blue{
    background-color: $blue-900;
    top: -81px;
    height: 163px;
  }
  .dotted-bg{
    background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/ost-industries-dotted-web@3x.png');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
  }
  &.sky-blue{
    background-color: $powder-blue;
  }
}


.container-industries{
  background-color: $blue-900;
  h2{
    color: $white;
  }
  p{
    color: $white;
    font-size: 0.875rem;
  }
  svg{
    height: 100px;
    width: 100px;
  }
  .title-text{
    color: $white;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 2px;
  }
  
  .industry{
    cursor: pointer;
  }
}

.container-partnering-ost{
  background-color: #afe1e3;
  .desc{
    font-size: 0.875rem;
    color: #597a84;
  }
}

.container-contact-us {
  background-color: $white;
  .custom-form{
    font-weight: $font-weight-normal;
  }

  p{
    letter-spacing: 1px;
    color: $blue-800;
  }

  h2{
    color: $cyan;
  }

  :focus {
    outline: none;
  }

  label{
    font-size: 0.875rem;
    color: $steel-teal;
    margin-bottom: .2rem;
  }


  .info-text{
    font-size: 0.7rem;
  }

  .label-checkbox{
    font-size: 10px;
  }


  .input-container {
    padding: 0;
    position: relative;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"]{
    width: 100%;
  }

  .input {
    border: 0;
    padding: 0 0 5px;
    background-color: transparent;
    border-bottom: 1px solid #d3e3e5;
  }

  .input ~ .input-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $neptune;
  }

  .input:focus ~ .input-border {
    width: 100%;
    transition: 0.5s;
  }

  .error{
    font-size: 12px;
    color: #e7003b;
    padding: 2px 0;
    display: block;
    min-height: 25px;
  }
  textarea{
    background-color: transparent;
    border: 1px solid #d3e3e5;
    color: #3c5056;
  }

  .label-cbx {
//    .checkbox{
//      svg {
//        border: 0px solid #99a1ad;
//      }
//    }
    input:checked{
      & + .checkbox{
        border-color: #99a1ad;
        svg{
          path{
            fill: #99a1ad;
          }
          polyline{
//            stroke-dashoffset: 0;
          }
        }
      }
    }
    .checkbox {
      border: 2px solid #99a1ad;
      svg {
        position: absolute;
        top: -2px;
        left: -2px;
        path {
          stroke: #438bad;
        }
        polyline {
          stroke: #FFF;
        }
      }
    }
  }

}

.form-recapcha .form-recapcha-wrap div {
  text-align: center;
  width:auto !important;
}
.form-recapcha .form-recapcha-wrap div div {
  display: inline-block;
  width:auto !important;
}