<style type="text/css">
  table th{
    padding: 1rem;
    background-color: #eeeeee;
  }
  table td{
    font-weight: 500;
    padding: 1rem;
  }
</style>
<%= render :partial => "/shared/web/common/navbarsubmenu" %>

<div class="container container-text-page container-privacy">

  <div class="row">
    <div class="col-12">
      <h2 class="mt-4 mb-2">Privacy Policy</h2>
      <p>Last Updated: June 17, 2019</p>
      <h5 class="mt-4 pt-2">1. INTRODUCTION</h5>
      <p>
        We are OST.com Limited of Hong Kong and our company registration number is 2570554 (“OST.com Limited”, “we” or “us”). Your privacy is important to us. We are committed to protecting the privacy, confidentiality, and security of information relating to individuals (“Personal Data”) that we hold by complying with the requirements under applicable laws and regulations.
      </p>

      <p>
        We are equally committed to ensuring that all our employees, service providers, and agents uphold these obligations. This policy explains how we manage Personal Data within our organization and your rights and choices regarding our processing of your Personal Data.
      </p>

      <p>
        Contact details of data controller (Art. 4 GDPR): <br/>
        OST.com Limited, 13/F Gloucester Tower, The Landmark, 15 Queen's Road, Central Hong Kong. E-mail: support@ost.com
      </p>

      <p>
        Data Protection Contact: privacy@ost.com
      </p>

      <h5 class="mt-4 pt-2">2. INFORMATION WE COLLECT IN OUR PRODUCTS AND/OR SERVICES</h5>
      <p>
        Following are the types of Personal Data that we collect / process and hold about you, the reasons for collecting and the retention period we hold this data:
      </p>
      <h6 class="ml-2">
        2.1 OST’s Website OST.COM and its Subdomains
      </h6>
      <p class="ml-2">
        You can visit our websites without telling us who you are. For technical reasons, however, we collect data that your browser transmits to our server (log files). It concerns the following data:
      </p>
      <ul>
        <li>IP address</li>
        <li>date and time of the request</li>
        <li>Time zone difference to Greenwich Mean Time (GMT)</li>
        <li>Content of the request (concrete page)</li>
        <li>Access status/HTTP status code</li>
        <li>amount of data transferred in each case</li>
        <li>Website from which the request originates</li>
        <li>browser</li>
        <li>operating system and its interface</li>
        <li>language and version of the browser software.</li>
      </ul>
      <p class="ml-2">
        The legal basis for the processing of this data is Art. 6 Para. 1 S. 1 lit. f GDPR. Our legitimate interest in data processing lies in the fact that we need this data in order to display our website to you and to be able to guarantee the stability and security of the operation of our website.
      </p>
      <p class="ml-2">
        If you contact us on our website, we collect the following data:
      </p>


      <table border="1" class="w-75 mb-4 ml-2">

        <thead>
          <tr>
            <th class="w-25">Data Subject</th>
            <th>Personal Data Collected</th>
            <th>Reason / Legal Basis</th>
            <th>Retention</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td rowspan="3">Prospects & clients</td>
            <td>Full name</td>
            <td rowspan="3">Communication & Marketing / Art. 6 Para. 1 S. 1 lit. f GDPR </td>
            <td rowspan="3">Until the user opts out from updates</td>
          </tr>

          <tr>
            <td>Email</td>
          </tr>

          <tr>
            <td>Records of our communications including messages sent  by new or existing clients</td>
          </tr>
        </tbody>

      </table>


      <h6 class="ml-2">
        2.2 OST Platform
      </h6>
      <p class="ml-2">
        OST Platform provides everything you need to test and deploy your brand currency. Enable your customers to transact within your mobile app, without any cryptocurrency knowledge.
      </p>
      <p class="ml-2">
        If you use OST Platform, we process the following data:
      </p>

      <table border="1" class="w-75 mb-4 ml-2">

        <thead>
        <tr>
          <th class="w-25">Data Subject</th>
          <th class="w-25">Personal Data Collected</th>
          <th>Reason</th>
          <th>Retention</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td rowspan="4">OST Platform Admins</td>
          <td>IP address</td>
          <td rowspan="1">To enable control on security features in the system / Data Processing Agreement (We act as data processor for OST Platform Clients)</td>
          <td rowspan="1">15 days</td>
        </tr>

        <tr>
          <td>Full name</td>
          <td rowspan="2">For granting access to OST Platform / Data Processing Agreement (We act as data processor for OST Platform Clients)</td>
          <td rowspan="8">As long as clients have business terms with us</td>
        </tr>

        <tr>
          <td>Email & Passwords</td>
        </tr>

        <tr>
          <td>Credit Card details (in case of a personal card)</td>
          <td>Payment method / Data Processing Agreement (We act as data processor for OST Platform Clients)</td>
        </tr>

        <tr>
          <td>OST Platform Admins - Whitelisting Request</td>
          <td>
            <ul class="m-0">
              <li>Full name</li>
              <li>Email</li>
            </ul>
          </td>
          <td>
            To whitelist the company so they can test OST Platform / Data Processing Agreement (We act as data processor for OST Platform Clients)
          </td>
        </tr>

        <tr>
          <td>OST Platform Admins - Move to Production Request</td>
          <td>
            <ul class="m-0">
              <li>Full name</li>
              <li>Email</li>
            </ul>
          </td>
          <td>
            For KYC check to allow moving from test account to production / Data Processing Agreement (We act as data processor for OST Platform Clients)
          </td>
        </tr>

        <tr>
          <td rowspan="3">OST Platform Clients' end users</td>
          <td>Email address</td>
          <td>
            In order to provide redemption options / Data Processing Agreement (We act as data processor for OST Platform Clients)
          </td>
        </tr>

        <tr>
          <td>Unique id</td>
          <td rowspan="2">To manage end users in OST Platform / Data Processing Agreement (We act as data processor for OST Platform Clients)</td>
        </tr>

        <tr>
          <td>Wallet’s public address</td>
        </tr>

        </tbody>

      </table>

      <p class="ml-2">
        OST Platform is a blockchain-technology based service. OST makes its best efforts to collect as little personal data from its clients and their users as possible. Regarding our clients’ end users, there are only two personal data parameters that are saved on OST Platform:
      </p>
      <p class="ml-2">
        1. The end user email address for redemption options, as explained in the above table.<br/>
        2. The end user’s unique id:
      </p>
      <p class="ml-2">
        The unique id is created on OST Platform to allow our clients to map their own users with the information existing on the clients’ side. The user id is not publicly available and only shared between OST and the client. OST does not know the identity behind the unique id; only the client which this user belongs to can associate this unique id with the user.
      </p>
      <p class="ml-2">
        Being a blockchain-technology based service, transactions executed on the blockchain are public and cannot be deleted. However, in order to comply with the user’s right to be forgotten, we take measures when a user wants his/her personal data to be removed from OST Platform by deleting all blockchain identifiers associated with the user id.
      </p>
      <p class="ml-2">
        OST VIEW is an open source block explorer provided by OST for viewing Brand Token transactions and contracts on the OST sidechains. OST Platform’s clients and their end users should be aware that the transactions signed by them are visible publicly though OST VIEW. Using OST VIEW is only one of the ways to visualize these transactions on the blockchains, as the sidechains can be accessed and read by anyone.
      </p>

      <h6 class="ml-2">
        2.3 OST KYC
      </h6>
      <p class="ml-2">
        OST KYC is a plug-and-play KYC/AML management solution for your KYC needs. OST KYC can process thousands of applicants smoothly and securely.
      </p>
      <p class="ml-2">
        In order to complete the KYC/AML process, we may process all or part of the following personal information from the admins using the KYC service as well as from our clients’ users that need to go through the KYC process.
      </p>

      <table border="1" class="w-75 mb-4 ml-2">

        <thead>
        <tr>
          <th class="w-25">Data Subject</th>
          <th class="w-25">Personal Data Collected</th>
          <th>Reason</th>
          <th>Retention</th>
        </tr>
        </thead>

        <tbody>

        <tr>
          <td rowspan="3">OST KYC Admins</td>
          <td>Full name</td>
          <td rowspan="2">For granting access to OST KYC / Data Processing Agreement (We act as data processor for OST KYC Clients)</td>
          <td rowspan="2">As long as we have business terms.</td>
        </tr>

        <tr>
          <td>Email address & Password</td>
        </tr>

        <tr>
          <td>IP address</td>
          <td>To enable more control on security features in the system / Data Processing Agreement (We act as data processor for OST KYC Clients)</td>
          <td>15 days</td>
        </tr>

        <tr>
          <td rowspan="8">OST KYC - Clients’ users</td>
          <td>Email address & Password</td>
          <td>When clients’ end users need to open an account for KYC submission / Data Processing Agreement (We act as data processor for OST KYC Clients)</td>
          <td rowspan="8">Depends on our clients’ contract length or when a user asks to be deleted.</td>
        </tr>

        <tr>
          <td>Full name</td>
          <td rowspan="7">For the KYC/AML check / Data Processing Agreement (We act as data processor for OST KYC Clients)</td>
        </tr>

        <tr>
          <td>Date of birth</td>
        </tr>

        <tr>
          <td>ID document image</td>
        </tr>

        <tr>
          <td>ID document number</td>
        </tr>

        <tr>
          <td>Image of the user with the submitted ID document</td>
        </tr>

        <tr>
          <td>Country</td>
        </tr>

        <tr>
          <td>Full address</td>
        </tr>

        </tbody>

      </table>

      <h6 class="ml-2">
        2.4 OST Wallet
      </h6>

      <p class="ml-2">
        OST Wallet is a mobile app and it is a part of the OST Platform experience. It allows our clients to test the wallet experience for sending and receiving tokens. We use <a href="https://fabric.io" target="_blank" style="color: #007bff" class="font-weight-bold"><u>Fabric</u></a> in order to analyze crashes and optimize the user experience. To do so, we need to collect the personal data found in the table below. If you wish to opt out from the collection of this data, please contact us at privacy@ost.com.
      </p>

      <table border="1" class="w-75 mb-4 ml-2">

        <thead>
        <tr>
          <th class="w-25">Data Subject</th>
          <th class="w-25">Personal Data Collected</th>
          <th>Reason / Legal Basis</th>
          <th>Retention</th>
        </tr>
        </thead>

        <tbody>

        <tr>
          <td rowspan="2">Prospects & clients, clients’ end users</td>
          <td>Installation UUID</td>
          <td rowspan="2">Optimize the app’s functionality by resolving crashes (Art. 6 Para. 1 S. 1 lit. f GDPR)</td>
          <td rowspan="2">90 days</td>
        </tr>

        <tr>
          <td>Crash traces</td>
        </tr>

        </tbody>

      </table>

      <h6 class="ml-2">
        2.5 We collect / process Personal Data about you in the following ways:
      </h6>

      <ul>
        <li>When you register for an account or to receive emails from us</li>
        <li>When you order products or services from us</li>
        <li>When you submit a query or request to us</li>
        <li>When you respond to a survey that we run or fill in forms on one of our websites</li>
        <li>By tracking your use of our websites and mobile applications</li>
      </ul>

      <h5 class="mt-4 pt-2">3. USE OF PERSONAL INFORMATION AND LEGAL BASIS</h5>
      <p>
        We use Personal Data that we collect about you for the following purposes and on the following legal basis:
      </p>
      <ul>
        <li>When you provide us with consent to the processing of your Personal Data for one or more specific purposes, to provide you with the best service/product and the best and most secure experience. Example:</li>
        <li class="list-unstyled">
          <ul>
            <li>To keep you informed about our activities, including by sending out newsletters when you opt-in by subscribing to our newsletter updates from the dedicated sign up boxes. Upon submission of your request, you will receive at the specified email address a double opt-in request to confirm the consent to receive updates from us.</li>
          </ul>
        </li>
      </ul>
      <p>(Legal basis: Art. 6 Para. 1 S. 1 lit. a GDPR)</p>
      <p>You can revoke your consent at any time in the following ways:</p>
      <ul>
        <li>Click the “Unsubscribe” button in the emails you receive from us</li>
        <li>Sending an e-mail to privacy@ost.com</li>
        <li>By sending a message to the contact details given in our Impressum.</li>
        <li>When there is a legitimate interest, meaning the interest of our business in conducting and managing our business to enable us to give you the best service/product and the best and most secure experience. We make sure we consider and balance any potential impact on you (both positive and negative) and your rights before we process your Personal Data for our legitimate interests. We do not use your Personal Data for activities where our interests are overridden by the impact on you (unless we have your consent or are otherwise required or permitted by law). Examples:</li>
        <li class="list-unstyled">
          <ul>
            <li>Handling contact and user support requests.</li>
            <li>To improve our website based on your information and feedback</li>
            <li>To carry out market analysis and research</li>
            <li>To monitor the use of our products and services</li>
            <li>To assess, maintain, upgrade and improve our products and services</li>
            <li>To carry out education and training programs for our staff</li>
            <li>To manage and resolve any legal or commercial complaints or issues</li>
            <li>To carry out planning and forecasting activities and other internal business processes</li>
          </ul>
        </li>
      </ul>
      <p>(Legal basis: Art. 6 Para. 1 S. 1 lit. f GDPR)</p>
      <p>You can obtain further information about how we assess our legitimate interests against any potential impact on you in respect of specific activities by contacting us through the information outlined in the “Contact Us” section below.</p>
      <ul>
        <li>In the performance of a contract with us. This means processing your data where it is necessary for the performance of a contract to which you are a party or to take steps at your request before entering into such a contract. Examples:</li>
        <li class="list-unstyled">
          <ul>
            <li>To determine your eligibility for any of our products or services to determine your compliance with the terms and conditions that apply to any of our products or services and applicable law</li>
            <li>To verify your identity when you are dealing with us</li>
            <li>Your email address and company information when you submit your request for being contacted about possible partnerships with us in the dedicated "Partners" page contact us form.</li>
            <li>Your email address, company information, and token sale information when you submit your request for being contacted about OST KYC product details for a business relationship with us in the dedicated "OST KYC" page ‘contact us’ form.</li>
            <li>Your email address and password that you used to register for the Simple Token Token Sale during the months of November and December 2017 through the dedicated portal on https://sale.simpletoken.org, now only accessible for previous existing logins credentials.</li>
          </ul>
        </li>
      </ul>
      <p>(Legal basis: Art. 6 Para. 1 S. 1 lit. b GDPR or Art. 6 Para. 1 S. 1 lit. f GDPR, if you are an employee of our client)</p>
      <ul>
        <li>To comply with a legal or regulatory obligation. This means processing your Personal Data where it is necessary for compliance with a legal or regulatory obligation that we are subject Managing user registrations. (Legal basis: Art. 6 Para. 1 S. 1 lit. c GDPR)</li>
        <li>In case you approved (opted-in) receiving marketing materials from us, we may from time to time use your Personal Data in order to send you marketing materials about products or services that we think you may be interested in (including in some cases products and services that are provided by a third party). We may use your following Personal Data for the purpose of direct marketing:
        </li>
        <ul>
          <li>identifying information, such as your name and date of birth</li>
          <li>contact information, such as your postal address, email address and telephone number</li>
          <li>products and services portfolio information and demographic data held by us from time to time</li>
        </ul>
      </ul>
      <p>(Legal basis: Art. 6 Para. 1 S. 1 lit. a GDPR)</p>
      <p>You can revoke your consent at any time in the following ways:</p>
      <ul>
        <li>Click the “Unsubscribe” button in the emails you receive from us</li>
        <li>Sending an e-mail to privacy@ost.com</li>
        <li>By sending a message to the contact details given in our Impressum.</li>
      </ul>

      <h5 class="mt-4 pt-2">4. SHARING OF PERSONAL INFORMATION </h5>
      <p class="ml-2">
        4.1 What information we share:
      </p>
      <p class="my-0 ml-2">
        We may share Personal Data about you only if it is necessary for the purposes described above and only on a legal basis. We might share your Personal Data with:
      </p>
      <ul>
        <li>Your representatives, advisers, and others you have authorized to interact with us on your behalf</li>
        <li>Our staff who need the information to discharge their duties</li>
        <li>Related entities within our corporate group in order to fulfill the services</li>
        <li>our agents and service providers in order to fulfill the services</li>
        <li>Payment system operators and financial institutions in order to fulfill the services</li>
        <li>Government authorities who ask us to disclose that information, or to other people as required by law</li>
      </ul>
      <p class="ml-2">
        4.2 We may share your Personal Data with the additional following recipients:
      </p>
      <p class="ml-3 mb-0 font-weight-bold">External Service Providers</p>
      <p class="ml-3">Also, we use external service providers (e.g. support, hosting or analysis service providers) for the above data processing. Within the framework of a contract for data processing (Art. 28 GDPR), these service providers have committed themselves, among other things, to observing appropriate technical and organizational measures for data security and act in accordance with instructions on our behalf. Our main service providers are listed below but are subject to change.</p>
      <p class="ml-3 mb-0 font-weight-bold">Amazon Web Services, INC. <span class="font-weight-normal">(AWS), Ireland</span></p>
      <p class="ml-3">We use AWS to handle our infrastructure, hosted on AWS virtual servers.</p>
      <p class="ml-3 mb-0 font-weight-bold">Google LLC<span class="font-weight-normal">, USA</span></p>
      <p class="ml-3">We are using the following services offered by Google:</p>
      <ul class="ml-2">
        <li><span class="font-weight-bold">GSuite</span> (Google Apps), for all email, documents, forms, and spreadsheet creation.</li>
        <li><span class="font-weight-bold">Google Analytics</span> for our analysis and tracking needs.</li>
        <li><span class="font-weight-bold">Google Tag Manager</span> (GTM), is processing data from Google Analytics and Google Adwords.</li>
        <li><span class="font-weight-bold">Google reCAPTCHA</span> for security measures.</li>
        <li class="list-unstyled font-weight-bold">Google Analytics</li>
        <li class="list-unstyled mb-3">We use Google Analytics to analyze the use of our website. Our analytics service provider generates statistical and other information about website use by means of cookies. Google Analytics is present on the website and software through the means of Google Tag Manager which through its code snippet is delivering the Google Analytics cookie.</li>
        <li class="list-unstyled mb-3">The information generated relating to our website is used to create reports about the use of our website. Google Analytics privacy policies are available at http://www.google.com/policies/privacy/</li>
        <li class="list-unstyled mb-3">The information generated by the cookie about your use of our website (including your anonymized IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. Google will not associate your IP address with any other data held by Google.</li>
        <li class="list-unstyled mb-3">You may refuse the use of cookies by selecting the appropriate settings on your browser, however, please note that if you do this you may not be able to use the full functionality of our website.</li>
        <li class="list-unstyled mb-3">By using our website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.</li>
        <li class="list-unstyled mb-3">You can also prevent Google from collecting the data generated by the cookie and related to your use of the website (including your IP address) and from processing this data by Google by downloading and installing the browser plug-in available at the following link:  http://tools.google.com/dlpage/gaoptout</li>
        <li class="list-unstyled mb-3">Legal basis for the use of Google Analytics is Art. 6 para. 1 sentence 1 lit. f GDPR.</li>
      </ul>

      <p class="ml-3"><span class="font-weight-bold">Freshworks, Inc</span><span class="font-weight-normal">, USA</span></p>
      <p class="ml-3">Freshworks is used to maintain our support center help.ost.com. It collects the information of the query or tickets submitted and the conversation details that derive from those.</p>

      <p class="ml-3 mb-0 font-weight-bold">Acuris Risk Intelligence<span class="font-weight-normal">, UK</span></p>
      <p class="ml-3">Our compliance partner, we are using Acuris to conduct AML checks for our clients and for our OST’s KYC clients’ end users.</p>

      <h5 class="mt-4 pt-2">5. RETENTION OF YOUR PERSONAL DATA </h5>
      <p>
        We may retain your Personal Data for a period of time consistent with the original purpose of collection. We determine the appropriate retention period for Personal Data on the basis of the amount, nature, and sensitivity of your Personal Data, the potential risk of harm from unauthorized use or disclosure, and whether we can achieve the purposes of the processing through other means, as well as the applicable legal requirements (such as applicable statutes of limitation).
      </p>
      <p>
        After the expiry of the retention periods, your Personal Data will be deleted. If there is any information that we are unable, for technical reasons, to delete entirely from our systems, we will put in place appropriate measures to prevent any further use of the data.
      </p>

      <h5 class="mt-4 pt-2">6. WHAT DEVICE AND STORAGE DATA WE PROCESS </h5>
      <p class="ml-2">
        6.1 Cookies
      </p>
      <p class="ml-3">
        We use cookies to monitor and observe your use of our websites, compile aggregate data about that use, and provide you with a more effective service (which may include customizing parts of our websites based on your preferences and past activities on those websites). "Cookies" are small text files created and stored on your hard drive by your internet browser software, in order to hold relevant information about the web page you are currently viewing.
      </p>
      <p class="ml-3">
        You may choose to allow us the use of cookies or deny it by choosing the desired option from our cookies banner on our websites.
      </p>

      <p class="ml-3">legal basis is 6 para. 1 sentence 1 lit. a GDPR</p>

      <p class="ml-3">Opt-out - Remove cookies</p>

      <p class="ml-3">Most internet browsers have a facility that will allow you to disable cookies altogether – please refer to your browser’s help menu to find out how to do this. Also, you may always go to your browser history settings and clean your cookies.</p>

      <p class="ml-3">You typically have the ability to accept or decline cookies by modifying the settings in your browser. If you choose to disable cookies, you may still use our site; however, you may have limited access to some areas within our website.</p>

      <p class="ml-3">We also include web beacons in the emails we deliver for you. We use the data from those web beacons to create the reports about how your email campaign performed and what actions your Subscribers took. Reports are also available to us when we send email to you, so we may collect and review that information.</p>

      <p class="ml-2">
        6.2 Name and Description of Cookies
      </p>
      <p class="ml-3">
        We currently use specifically the following cookies in order to ensure an easy experience on our website, products, and services:
      </p>

      <table border="1" class="w-75 mb-5 ml-3">

        <thead>
        <tr>
          <th class="">Cookie Name</th>
          <th class="w-25">Cookie Description</th>
          <th class="w-25">Cookie Type</th>
          <th class="w-25">Expiration Time</th>
          <th>Product/Services Using this Cookie</th>
        </tr>
        </thead>

        <tbody>

        <tr>
          <td>_ost_kit_session_id</td>
          <td>Being used to store the session details.</td>
          <td>Necessary</td>
          <td>Remains as long as the browser is open.</td>
          <td rowspan="3">OST Platform</td>
        </tr>

        <tr>
          <td>ost_platform_ca</td>
          <td>Login cookie for our clients’ admins.</td>
          <td>Necessary</td>
          <td>Max 1 hour</td>
        </tr>

        <tr>
          <td>ost_platform_luse</td>
          <td>Storing the last sub-environment the admin was using.</td>
          <td>Necessary</td>
          <td>1 year</td>
        </tr>

        <tr>
          <td>UTM</td>
          <td>Identify the Universal Tracking Parameters that are used in the URLs to identify the origin of where the user came from.</td>
          <td>OST cookie (for analytics only)</td>
          <td rowspan="2">30 days</td>
          <td rowspan="5">OST KYC</td>
        </tr>

        <tr>
          <td>TM</td>
          <td>For security-related features, we collect this cookie from Admins. The cookie stores the session token along with the IP address.</td>
          <td>Necessary</td>
        </tr>

        <tr>
          <td>TU</td>
          <td>Login cookie for the end users of our clients.</td>
          <td>Necessary</td>
          <td>30 minutes</td>
        </tr>

        <tr>
          <td>TA</td>
          <td>Login cookie for our clients’ admins.</td>
          <td>Necessary</td>
          <td>Max 3 hours</td>
        </tr>

        <tr>
          <td>_ost_kyc_session_id</td>
          <td>Being used to store the session details.</td>
          <td>Necessary</td>
          <td>Remains as long as the browser is open.</td>
        </tr>

        <tr>
          <td>_ga</td>
          <td>Google Analytics - Used to distinguish users.</td>
          <td>Third party</td>
          <td>2 years</td>
          <td rowspan="6">OST Website and subdomains</td>
        </tr>

        <tr>
          <td>_gid</td>
          <td>Google Analytics - Used to distinguish users.</td>
          <td>Third party</td>
          <td>24 hours</td>
        </tr>

        <tr>
          <td>_gat</td>
          <td>Google Analytics - Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this cookie will be named _dc_gtm_&lt;property-id&gt;.</td>
          <td>Third party</td>
          <td>1 minute</td>
        </tr>

        <tr>
          <td>_ost_web_session_id</td>
          <td>Used for application security.</td>
          <td>Necessary</td>
          <td>30 minutes</td>
        </tr>

        <tr>
          <td>privacy_banner_dismiss</td>
          <td>User did not accept the cookie banner.</td>
          <td>Necessary</td>
          <td>6 months</td>
        </tr>


        </tbody>

      </table>

      <p class="ml-3">
        If you have any specific questions on the Cookies we are using please do not hesitate to contact us.
      </p>
      <p class="ml-3">
        After the expiry of the retention periods, your Personal Data will be deleted. If there is any information that we are unable, for technical reasons, to delete entirely from our systems, we will put in place appropriate measures to prevent any further use of the data.
      </p>

      <h5 class="mt-4 pt-2">7. INTERNATIONAL TRANSFER OF INFORMATION COLLECTED</h5>
      <p>
        Your Personal Data may be collected, transferred to and stored by us in the United States and by our affiliates in other countries where we operate.
      </p>
      <p>
        Therefore your Personal Data may be processed outside the EEA, and in countries which are not subject to an adequacy decision by the European Commission and which may not provide for the same level of data protection in the EEA. In this event, we will ensure that such recipient offers an adequate level of protection, for instance by entering into standard contractual clauses for the transfer of data as approved by the European Commission (Art. 46 GDPR), or we will ask you for your consent prior to such international data transfers.
      </p>

      <h5 class="mt-4 pt-2">8. YOUR RIGHTS RELATING TO YOUR PERSONAL DATA</h5>
      <p class="mb-0">
        If you want to access any of the Personal Data that we hold about you or to correct some aspect of it (e.g. because you think it is incomplete or incorrect), please contact our privacy compliance team using the contact details set out below. To protect the integrity and security of the information we hold, we may ask that you follow a defined access procedure, which may include steps to verify your identity. In certain cases, we may charge you an administration fee for providing you with access to the information you have asked for, but we will inform you of this before proceeding.
      </p>
      <p>
        There may be cases where we are unable to provide the information you request, such as where it would interfere with the privacy of others or result in a breach of confidentiality. In these cases, we will let you know why we cannot comply with your request.
      </p>
      <p>
        Even if you do not request access to and/or correct your Personal Data held by us, if we are satisfied that, having regard to the reasons for which we hold your Personal Data, that Personal Data is inaccurate, incomplete, out-of-date, irrelevant or misleading, we may take reasonable steps to correct that information.
      </p>
      <p class="ml-3">
        8.1 Your rights:
      </p>
      <p class="ml-3 mb-0">
        You have certain rights regarding your Personal Data, subject to local data protection laws. These may include the following rights:
      </p>
      <ul>
        <li>To request access to Personal Data that we may process about you (right to access);</li>
        <li>To require us to correct any inaccuracies in your data, free of charge. If you wish to exercise this right, you should (right to rectification);</li>
        <li>To erase/delete your Personal Data to the extent permitted by other legal obligations (right to erasure; the right to be forgotten);</li>
        <li>To restrict our processing of your Personal Data (right to a restriction of processing);</li>
        <li>To transfer your Personal Data to another controller to the extent possible (right to data portability); to object to any processing of your Personal Data carried out on the basis of our legitimate interests (right to object). Where we process your Personal Data for direct marketing purposes or share it with third parties for their own direct marketing purposes, you can exercise your right to object at any time to such processing without having to provide any specific reason for such objection;</li>
        <li>Not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects ("Automated Decision-Making"); Automated Decision-Making currently does not take place on our websites;</li>
        <li>To the extent we base the collection, processing, and sharing of your Personal Data on your consent, to withdraw your consent at any time, without affecting the lawfulness of the processing based on such consent before its withdrawal.</li>
      </ul>
      <p class="ml-3">
        8.2 How to exercise your rights
      </p>
      <p class="ml-3">
        To exercise your rights, please contact us in accordance with the “Contact Us” section below. We will respond to all legitimate requests within 30 days and will contact you if we need additional information from you in order to honor your request.
      </p>
      <p class="ml-3">
        Occasionally it may take us longer than this, taking into account the complexity and number of requests we receive. If you are an employee of an ost.com customer, we recommend you contact your company’s system administrator for assistance in correcting or updating your information.
      </p>
      <p class="ml-3">
        8.3 Your preferences for marketing communications:
      </p>
      <p class="ml-3">
        You also have the right to ask us to stop processing your Personal Data for direct marketing purposes. You can do this from the Unsubscribe link present in every email or directly via email to us.
      </p>
      <p class="ml-3">
        If you wish to exercise this right via email, you should put your request in writing (an email with a header that says 'Unsubscribe' is acceptable); provide us with enough information to identify you (e.g email address); and if your objection is not to direct marketing in general, but to direct marketing by a particular channel (e.g., email or telephone), please specify the channel you are objecting to.
      </p>

      <h5 class="mt-4 pt-2">9. CHANGES TO THE POLICY IN THE FUTURE</h5>
      <p>
        Changes to this policy: We may make changes to this policy from time to time, to take into account changes to our standard practices and procedures or where necessary to comply with new laws and regulations. The latest version of this policy will always be available on our website and we will update the “effective date” at the top of this Privacy Policy. We encourage you to periodically review this Privacy Statement to stay informed about our collection, processing, and sharing of your Personal Data.
      </p>

      <h5 class="mt-4 pt-2">10. STORAGE AND SECURITY OF PERSONAL DATA</h5>
      <p>
        We generally store the Personal Data that we collect in electronic databases, some of which may be held on our behalf by third party data storage providers. Sometimes we also keep hard copy records of this Personal Data in physical storage facilities.
      </p>
      <p>
        We use a range of physical and technical security processes and procedures to protect the confidentiality and security of the information that we hold, and we update these from time to time to address new and emerging security threats that you become aware of.
      </p>
      <p>
        We also take steps to monitor access to and modification of your information by our staff, and ensure that our staff is aware of and properly trained in their obligations for managing your privacy.
      </p>

      <h5 class="mt-4 pt-2">11. CHILDREN</h5>
      <p>
        Our websites are not directed at children. We do not knowingly collect Personal Data from children under the age of 16. If you are a parent or guardian and believe your child has provided us with Personal Data without your consent, please contact us as described in the “Contacting Us” section below and we will take steps to delete such Personal Data from our systems.
      </p>

      <h5 class="mt-4 pt-2">12. COMPLAINTS</h5>
      <p>
        We try to meet the highest standards in order to protect your privacy. However, if you are concerned about the way in which we are managing your Personal Data and think we may have breached any applicable privacy laws or any other relevant obligation, please contact our privacy compliance team using the contact details set out below.
      </p>
      <p>
        We will make a record of your complaint and refer it to our internal complaint resolution department for further investigation. We will deal with the matter as soon as we can, and keep you informed of the progress of our investigation.
      </p>
      <p>
        If we have not responded to you within a reasonable time or if you feel that your complaint has not been resolved to your satisfaction, you are entitled to make a complaint to the Hong Kong Privacy Commissioner for Personal Data.
      </p>

      <h5 class="mt-4 pt-2">13. CONTACTING US</h5>
      <p>
        If you require any further information from us on privacy matters, please contact our privacy compliance team via email at privacy@ost.com
      </p>

      <p>
        Or mail us to:<br/>
        OST.com LTD of Hong Kong<br/>
        13/F Gloucester Tower, The Landmark, 15 Queen's Road, Central Hong Kong
      </p>
      <p>
        For GDPR matters, OST.com LTD of Hong Kong has its German European entity OST.COM GmbH that acts as OST global entities’ representative for GDPR in the EU.
      </p>
      <p class="mb-5">
        If, however, you believe that we have not been able to assist with your complaint or concern, and you are located in the EEA, you have the right to lodge a complaint with the competent supervisory authority.
      </p>
    </div>
  </div>

</div>
