<section class="container-fluid side-by-side">
  <div class="row align-items-center py-5">

    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mx-auto order-md-2">
      <div class="copy mr-auto">
        <h5 class="mb-3">Compliant and Safe</h5>
        <p class="mb-0">We have spent the last three years with our legal teams in jurisdictions worldwide to ensure that the technology we provide is compliant with regulation and is the highest standard of security, ensuring its readiness for upcoming legislations.</p>
      </div>
    </div>

    <div class="col-12 col-md-6 order-md-1 pl-0 mt-5 mt-md-0">
      <img class="img-fluid responsively-lazy"
           src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-integrate-easily-3@2x.png"
           data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-integrate-easily-3@2x.png"
           srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
           alt="OST - Integrate Easily into Any App"
        />
    </div>

  </div>
</section>
<section class="container container-managedash-elements">
  <div class="row container-powered-containers">
    <div class="col col-lg-11 mx-md-auto">
      <div class="row">
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="28" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">Compliance</h5>
              </div>
              <p class="my-2">Thank to the OpenST protocol and its settings, we are able to classify your token on layer 2 as utility token so they are not touched by security legislation risks. This, in turn means that they are classified as rewards points, so your users can buy tokens inside your app to enable the earn and spend cycles and redeems for gift cards as well as other  controlled KYC/AML methods.</p>
            </div>
            <div>
              <a href="#" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="28" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-sdk"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">Security</h5>
              </div>
              <p class="my-2">We involve world renown security firms which support and work with us for the creation of our protocols. They are involved in every step of the process during our development cycles through workshops and security audits that are ensuring the highest possible grade of security.
              </p>
            </div>
            <div>
              <a href="#" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="28" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-apis"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">Non Custodial</h5>
              </div>
              <p class="my-2">Our Wallet solution is fully blockchain based, and while it enables innovative recovery methods to provide seamless UX, it is also completely non custodial. This makes you compliant with future regulations as the funds sit with the users.</p>
            </div>
            <div>
              <a href="#" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
