<section class="container-fluid side-by-side">
  <div class="row align-items-center py-5">

    <div class="col-12 col-md-6 col-lg-5 col-xl-4 mx-auto order-md-2">
      <div class="copy mr-auto">
        <h5 class="mb-3">Easy Integration</h5>
        <p class="mb-0">We have worked from day 1 together with our clients to build a set of resources to allow you to integrate our solution into your application in the easiest and fastest way, without having to touch or understand blockchain technology. OST work as a bridge between web3 and web2.</p>
      </div>
    </div>

    <div class="col-12 col-md-6 order-md-1 pl-0 mt-5 mt-md-0">
      <img class="img-fluid responsively-lazy"
           src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-integrate-easily-3@2x.png"
           data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-hp-integrate-easily-3@2x.png"
           srcset="<%= GlobalConstant::Base.placeholder_image_src %>"
           alt="OST - Integrate Easily into Any App"
        />
    </div>

  </div>
</section>
<section class="container container-managedash-elements">
  <div class="row container-powered-containers">
    <div class="col col-lg-11 mx-md-auto">
      <div class="row">
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="28" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">Robust APIs & SDKs</h5>
              </div>
              <p class="my-2">We provide you with extensive and detailed API and SDK documentation and Step by Step guides, supporting popular coding languages on both the Server Side and Mobile Wallet (Client) side,and enriched with multiple examples.</p>
            </div>
            <div>
              <a href="#" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="28" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-sdk"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">Demo App & UI Screens via SDK</h5>
              </div>
              <p class="my-2">In order to understand the logic behind the workflows that regulate the functioning of the crypto wallet, we have spent extensive time building Demo Apps, Examples, and material to save you time and resources during the integration. The extra mile: we provide you with customizable screens that you can call directly through the SDK cutting development and design time.</p>
            </div>
            <div>
              <a href="#" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class=" rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="28" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-apis"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">Webhooks</h5>
              </div>
              <p class="my-2">The blockchain world is full of of asynchronous events, for this reason one of our priorities is to provide you with webhooks in order to manage events without overloading your system with API calls.</p>
            </div>
            <div>
              <a href="#" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
