<section class="container-jumbotron events-jumbotron">
  <div class="container-fluid">
    <div class="row py-5">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-12 col-lg-6 jumbotron-content">
            <h2 class="header">Latest News & Events</h2>
            <p class="mt-3 paragraph">
              Don't miss the latest news on OST development, the live podcasts
              and interviews, and the events we are participating part at.
              Subscribe to our newsletter to always stay up to date.
            </p>
            <div class="d-none d-lg-block">
              <a href="#events" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="See Events">See Events</a>
              <a href="#news" class="btn btn-secondary my-2 ml-md-3 smooth-scroll" title="Read News">Read News</a>
            </div>
          </div>

          <div class="col-12 col-lg-6 text-right my-auto">
            <div class="row">
              <div class="col-6 d-lg-none text-left">
                <a href="#events" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="See Events">See Events</a>
                <a href="#news" class="btn btn-secondary my-2 ml-md-3 smooth-scroll" title="Read News">Read News</a>
              </div>
              <div class="col-6 col-lg-8 mx-auto">
                <img class="img-fluid position-relative" alt="OST events Jumbotron"
                  src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-events-calendar.png" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<svg viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge d-none d-lg-block">
  <polygon points="0,0 100,0 100,100" fill="#438bad" stroke="#438bad"></polygon>
</svg>
<svg viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge d-block d-lg-none">
  <polygon points="0,0 0,100 100,0 " fill="#438bad" stroke="#438bad"></polygon>
</svg>