<section class="container-jumbotron py-5 d-none d-md-block">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6 col-lg-6">
        <h2 class="header-blue-900">A wonderful serenity has taken possession of my soul</h2>
        <p class="mt-3">
          A wonderful serenity has taken possession of my entire
          soul, like these sweet mornings of spring which I enjoy
          with my whole heart. I am alone, and feel the charm of
          existence in this spot, which was created for the.
        </p>
        <a href="#events" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="See Events">See Events</a>
        <a href="#news" class="btn btn-secondary my-2 ml-xl-3 smooth-scroll" title="Meet Our Partners">Read News</a>
      </div>

      <div class="col-md-6 col-lg-6 text-center my-auto">
        <img
          class="img-fluid position-relative" alt="OST events Jumbotron"
          src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-events-jumbotron.png" />
      </div>

    </div>
  </div>
</section>