// Import theme variables
@import "../../ost_theme/variables";
.events-container{
  .outer-wrapper{
    position: relative;
    .bookmark-icon{
      position: absolute;
      top:-13px;
      right: 15px;
      z-index: 1;
      cursor: pointer;
    }
  }

  .event-content-wrapper{
    min-height: 80px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    background-color: #fff;
    box-shadow:  3px 1px 12px 2px rgba(0, 0, 0, 0.06);


  }
  .svg-icon{
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .dateEl{
    display: inline-block;
    text-align: center;
    background: #fbd764;
    padding: 15px 15px;
    color: #FFFFFF;
    width: 15%;
    text-transform: uppercase;
    em{
      display: block;
      line-height: 1;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
    }
  }


  .content-body{
    padding: 0 10px;
    .heading{
      color: #438cad;
      font-weight: 500;
      font-size: 0.875rem;
    }
    .event-desc{
      color: #597a84;
      font-weight: 500;
      line-height: 1.4;
      font-size: 12px;
      margin-bottom: 0;
    }
    .event-location{
      color: #8ea2a8;
      font-weight: 300;
      line-height: 1.4;
      font-size: 12px;
      margin-bottom: 0;
      text-transform: uppercase;

    }
  }
  .events-date-section-content {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
    .events-date-picker {
      .datepicker.datepicker-inline{
        width:100%;
        .datepicker-days{
          background-color: $white;
          padding:$table-cell-padding;
          .table-condensed{
            width: 100%;
            .datepicker-switch{
              text-align: center;
            }
            th{
              &.next {
                text-align: right;
              }
              &.datepicker-switch {
                color: $red;
              }
              &.dow, &.prev, &.next{
                color: $gray-500;
              }
            }
            td{
              &.today.day {
                background-color: $gray-100;
                background-image: none;
                font-weight: $font-weight-normal;
              }
              &.day:hover {
                background-color: $gray-200;
              }
              &.day.active {
                background-color: $red;
                background-image: none;
              }
            }
            thead tr:nth-child(3) {
              border-top: 1px solid $gray-400;
              border-bottom: 1px solid $gray-400;
            }
          }
        }
      }
    }
    .clear-selection:before {
      content: 'X';
      padding: $mark-padding;
    }
    .date-section-background{
      background-color: $gray-100;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .events-date-section {
    .events-date-picker {
      .datepicker.datepicker-inline {
        .datepicker-days td, .datepicker-days th{
          padding:$table-cell-padding-sm;
        }
      }
    }
  }
}
@media (min-width: 1024px){
  .events-date-section {
    .events-date-picker {
      .datepicker.datepicker-inline {
        .datepicker-days td, .datepicker-days th{
          padding: 0.5rem;
        }
      }
    }
  }
}

