<section class="container-fluid container-industries pt-5 pb-4" id="discoverproducts">
  <div class="row align-items-center">
    <div class="col col-md-10 col-xl-8 mx-auto text-center">
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <h2 class="mb-4">Industries</h2>
          <p class="mb-4">
            Your brand, your way. Establish your brand online with a custom token names and design. With instant access to hundreds of the best looking token icons and designs get complete control over your token look and feel.
          </p>
        </div>
      </div>
      <div class="row">
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="social-creative">
          <svg class="creative">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-creative"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">CREATIVE & SOCIAL</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="loyalty">
          <svg class="loyalty">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-loyalty"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">LOYALTY</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="dapps">
          <svg class="dapps">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dapps"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">DAPPS</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="marketplace">
          <svg class="marketplaces">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-marketplaces"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">MARKETPLACES</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="community">
          <svg class="community">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-community"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">COMMUNITY</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="sharing-economy">
          <svg class="economy">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sharing-economy"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">SHARING ECONOMY</div>
        </a>
      </div>
    </div>
  </div>
</section>