<section class="container-fluid container-industries pt-5 pb-4" id="discoverproducts">
  <div class="row align-items-center">
    <div class="col col-md-10 col-xl-8 mx-auto text-center">
      <div class="row">
        <div class="col-12 col-md-8 mx-auto">
          <h2 class="mb-4">Branded Token Economies</h2>
          <p class="mb-4">
            OST enables your business to launch a robust blockchain token economy under your brand, by just integrating a few lines of code. Deploy your branded token to incentivize and reward customer behaviors and develop a dynamic economy, while leaving the complex blockchain technology to us.
          </p>
        </div>
      </div>
      <div class="row">
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="social-creative">
          <svg class="creative">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-creative"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">Social & Creative</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="loyalty">
          <svg class="loyalty">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-loyalty"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">Loyalty</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="dapps">
          <svg class="dapps">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dapps"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">DApps</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="marketplace">
          <svg class="marketplaces">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-marketplaces"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">Marketplaces</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="community">
          <svg class="community">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-community"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">Community</div>
        </a>
        <a class="col-6 col-md-4 my-4 industry smooth-scroll" href="#partner-companies" data-category="sharing-economy">
          <svg class="economy">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sharing-economy"></use>
            </switch>
          </svg>
          <div class="title-text mt-2">Sharing Economy</div>
        </a>
      </div>
    </div>
  </div>
</section>