<section class="container-fluid container-launch-bt ost py-5 position-relative" id="discoverproducts" style="overflow: hidden">
  <div class="row align-items-center">
    <div class="col col-md-8 mx-auto text-center">
      <div class="row">
        <div class="col-12">
          <h1>Industries</h1>
          <p>
            Your brand, your way. Establish your brand online with a custom token names and design. With instant access to hundreds of the best looking token icons and designs get complete control over your token look and feel.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <svg class="svg ost-kit-logo mb-2">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
            </switch>
          </svg>
        </div>
        <div class="col-4">
          <svg class="svg ost-kit-logo mb-2">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
            </switch>
          </svg>
        </div>
        <div class="col-4">
          <svg class="svg ost-kit-logo mb-2">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
            </switch>
          </svg>
        </div>
        <div class="col-4">
          <svg class="svg ost-kit-logo mb-2">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
            </switch>
          </svg>
        </div>
        <div class="col-4">
          <svg class="svg ost-kit-logo mb-2">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
            </switch>
          </svg>
        </div>
        <div class="col-4">
          <svg class="svg ost-kit-logo mb-2">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
            </switch>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="ost-triangleSpace"></div>
  <div class="ost-forward-triangle"></div>
</section>