<div  id="partner-companies" class="container-partner-companies position-relative" style="overflow:hidden;">
  <div class="ost-backward-triangle"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <%
          partner_companies = [
              {
                  categories: ["cat1", "cat2", "cat3","cat4"],
                  size: "200",
                  logo: "https://dummyimage.com/330x330/bdb3bd/4dd110&text=logo+1+",
                  on_hover_bgcolor: "classname",
                  on_hover_imgcolor: "classname",
                  has_existed: false
              },
              {
                  categories: ["cat1", "cat2", "cat3","cat4"],
                  size: "200",
                  logo: "https://dummyimage.com/330x330/bdb3bd/4dd110&text=logo+1+",
                  on_hover_bgcolor: "classname",
                  on_hover_imgcolor: "classname",
                  has_existed: false
              },
              {
                  categories: ["cat1", "cat2", "cat3","cat4"],
                  size: "200",
                  logo: "https://dummyimage.com/330x330/bdb3bd/4dd110&text=logo+1+",
                  on_hover_bgcolor: "classname",
                  on_hover_imgcolor: "classname",
                  has_existed: false
              },
              {
                  categories: ["cat1", "cat2", "cat3","cat4"],
                  size: "200",
                  logo: "https://dummyimage.com/330x330/bdb3bd/4dd110&text=logo+1+",
                  on_hover_bgcolor: "classname",
                  on_hover_imgcolor: "classname",
                  has_existed: false
              },
              {
                  categories: ["cat1", "cat2", "cat3","cat4"],
                  size: "200",
                  logo: "https://dummyimage.com/330x330/bdb3bd/4dd110&text=logo+1+",
                  on_hover_bgcolor: "classname",
                  on_hover_imgcolor: "classname",
                  has_existed: false

              },
              {
                  categories: ["cat1", "cat2", "cat3","cat4"],
                  size: "200",
                  logo: "https://dummyimage.com/330x330/bdb3bd/4dd110&text=logo+1+",
                  on_hover_bgcolor: "classname",
                  on_hover_imgcolor: "classname",
                  has_existed: false
              }

          ]


        %>


        <% partner_companies.each_with_index do|partner, index| %>
          <% if (index % 4 ) == 0 %><div class="row"><% end %>
          <div class="w-25">
            <svg viewBox="0 0 360 235" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" fill="none">
                <rect fill="" x="0" y="0" width="360" height="235"></rect>
                <g transform="translate(90.000000, 102.000000)" fill="" id="logo">
                  <path d="M19.514128,15.0643275 C19.514128,17.5447643 17.5039897,19.5555556 15.0243586,19.5555556 C12.5447274,19.5555556 10.5345892,17.5447643 10.5345892,15.0643275 C10.5345892,12.5838907 12.5447274,10.5730994 15.0243586,10.5730994 C17.5498538,10.6666667 19.514128,12.6315789 19.514128,15.0643275 Z M29.9902566,8.14035088 L29.9902566,22.0818713 C29.9902566,24.2339181 28.2130562,26.1052632 25.9681715,26.1052632 L4.08054563,26.1052632 C3.01138542,26.1132807 1.98368892,25.6919639 1.22765724,24.9356866 C0.471625564,24.1794093 0.0504456241,23.1513789 0.0584605391,22.0818713 L0.0584605391,8.04678363 C0.0584605391,5.89473684 1.83566093,4.02339181 4.08054563,4.02339181 L7.54140955,4.02339181 L8.28970445,1.87134503 C8.6638519,0.842105263 9.87983111,0 11.0022735,0 L19.0464437,0 C20.168886,0 21.3848652,0.842105263 21.7590127,1.87134503 L22.5073076,4.11695906 L25.9681715,4.11695906 C27.0373317,4.10894155 28.0650282,4.53025832 28.8210599,5.28653562 C29.5770916,6.04281292 29.9982715,7.07084331 29.9902566,8.14035088 Z M21.9460864,15.1578947 C21.9485731,13.2959649 21.2102656,11.5095795 19.8941088,10.1929951 C18.577952,8.87641073 16.7921468,8.13786333 14.9308217,8.14035088 C11.0958103,8.14035088 7.915557,11.3216374 7.915557,15.1578947 C7.91307026,17.0198246 8.65137779,18.80621 9.96753457,20.1227944 C11.2836914,21.4393787 13.0694966,22.1779261 14.9308217,22.1754386 C18.8593699,22.0818713 21.9460864,18.994152 21.9460864,15.1578947 Z" id="Shape"></path>
                  <path d="M58.1495291,23.0625731 C56.4159792,24.4368421 54.0190971,25.1239766 50.9588828,25.1239766 C47.8569665,25.1239766 45.4556025,24.4417154 43.7547905,23.077193 C42.0539786,21.7126706 41.2035726,19.6074074 41.2035726,16.7614035 L41.2035726,3.77894737 L46.2422865,3.77894737 L46.2422865,16.7614035 C46.2416055,17.3208369 46.2952514,17.8790136 46.4024683,18.4280702 C46.5026587,18.9593082 46.7344083,19.4569375 47.0765184,19.8754386 C47.4187074,20.2945419 47.894771,20.6356725 48.5047093,20.8988304 C49.1146476,21.1619883 49.9330952,21.2935673 50.960052,21.2935673 C52.7571289,21.2935673 53.9978564,20.9280702 54.6822345,20.197076 C55.3666125,19.4660819 55.7101656,18.3208577 55.7128938,16.7614035 L55.7128938,3.77894737 L60.7510231,3.77894737 L60.7510231,16.7614035 C60.7494641,19.5879142 59.8822994,21.6883041 58.1495291,23.0625731 Z" id="Shape"></path>
                  <path d="M68.9314063,9.53918129 L68.9314063,11.6444444 L69.0272816,11.6444444 C69.6056512,10.7672515 70.3545307,10.1288499 71.2739201,9.72923977 C72.1635269,9.33612556 73.1250242,9.13201482 74.0975641,9.12982456 C75.317051,9.12982456 76.3173108,9.28089669 77.0983436,9.58304094 C77.8793764,9.88518519 78.4943813,10.3042885 78.9433582,10.8403509 C79.3923352,11.3764133 79.7078272,12.0294347 79.8898344,12.7994152 C80.079322,13.6388305 80.1709366,14.4973825 80.1628451,15.3578947 L80.1628451,24.6561404 L75.602923,24.6561404 L75.602923,16.1181287 C75.602923,14.8705653 75.3885677,13.9397661 74.9598571,13.325731 C74.5311465,12.7116959 73.7711595,12.4046784 72.6798961,12.4046784 C71.438584,12.4046784 70.5400455,12.7409357 69.9842806,13.4134503 C69.4285158,14.0859649 69.1533615,15.1922027 69.1588178,16.7321637 L69.1588178,24.6561404 L64.5988957,24.6561404 L64.5988957,9.53918129 L68.9314063,9.53918129 Z" id="Shape"></path>
                  <path d="M87.4628126,20.8988304 C87.6627717,21.217355 87.9314299,21.4870995 88.2491069,21.6883041 C88.5896711,21.9009817 88.9638816,22.0542344 89.3557649,22.1415205 C89.7818979,22.2400706 90.2179718,22.2891277 90.6553426,22.2877193 C90.9949578,22.2859775 91.3336259,22.251708 91.66671,22.1853801 C92.0008096,22.123276 92.3246605,22.0150282 92.6289704,21.8637427 C92.9096886,21.724283 93.1562057,21.5246092 93.3509581,21.2789474 C93.5458266,21.0352827 93.6420916,20.7282651 93.6397532,20.3578947 C93.6397532,19.7341131 93.1853199,19.2662768 92.2764534,18.954386 C91.3675869,18.6424951 90.1009419,18.3306043 88.4765184,18.0187135 C87.8139656,17.8822612 87.1668074,17.7214425 86.5350438,17.5362573 C85.9435243,17.3683757 85.3769479,17.1225566 84.8502111,16.8052632 C84.3742721,16.5186069 83.968563,16.1289518 83.6628776,15.6649123 C83.3631699,15.2068226 83.2135109,14.6463938 83.2139006,13.9836257 C83.2139006,13.0089669 83.4224099,12.2097466 83.8394284,11.5859649 C84.2566927,10.9619333 84.825298,10.4539054 85.4921078,10.1093567 C86.2171295,9.73517302 86.9969656,9.47856463 87.8024683,9.34912281 C88.6716067,9.20179713 89.5516653,9.12843509 90.4331926,9.12982456 C91.3103425,9.12781182 92.1858357,9.20611112 93.0487171,9.36374269 C93.8409313,9.50141097 94.6052141,9.76810786 95.31114,10.1532164 C95.9653631,10.5157727 96.5300836,11.0203296 96.9638194,11.6298246 C97.4018837,12.2438596 97.6637869,13.0187135 97.7495291,13.954386 L93.4176031,13.954386 C93.3532965,13.1547758 93.0220201,12.6138402 92.423774,12.3315789 C91.8255278,12.0493177 91.1195193,11.9079922 90.3057486,11.9076023 C90.048912,11.9076023 89.7708347,11.9222222 89.4715167,11.951462 C89.1911247,11.9760059 88.9155949,12.0399889 88.6530692,12.1415205 C88.4149412,12.233554 88.200843,12.3785322 88.0269568,12.5654971 C87.8554726,12.7506823 87.7699253,12.9992203 87.770315,13.3111111 C87.7638118,13.6684276 87.931517,14.0065649 88.2198766,14.2175439 C88.5191945,14.451462 88.9089315,14.6415205 89.3890874,14.7877193 C89.9325054,14.94885 90.4841958,15.0806193 91.0417668,15.1824561 C91.662228,15.2994152 92.293407,15.4261209 92.9353037,15.5625731 C93.5978564,15.6990253 94.2450146,15.8647173 94.8767782,16.0596491 C95.4716399,16.237916 96.0385752,16.4987398 96.5610263,16.8345029 C97.0397422,17.1423744 97.4450591,17.551616 97.7483599,18.0333333 C98.0484573,18.5109162 98.1983111,19.1005848 98.1979214,19.8023392 C98.1979214,20.7964912 97.9786944,21.6298246 97.5402403,22.3023392 C97.104681,22.9718428 96.5161509,23.5280912 95.8232543,23.9251462 C95.0717829,24.350916 94.2520478,24.6427842 93.4006496,24.7877193 C92.4847253,24.9535763 91.5557534,25.0367568 90.6249432,25.0362573 C89.6773497,25.0377009 88.731739,24.9495901 87.8007145,24.7730994 C86.939311,24.618893 86.1095433,24.3224511 85.3453719,23.8959064 C84.6404169,23.4975519 84.0365332,22.9422946 83.5804482,22.2730994 C83.1201689,21.6005848 82.8687886,20.7575049 82.8263072,19.7438596 L87.1582332,19.7438596 C87.1578435,20.1925926 87.2593699,20.5775828 87.4628126,20.8988304 Z" id="Shape"></path>
                  <path d="M105.19214,9.53918129 L105.19214,11.4690058 L105.255862,11.4690058 C105.811627,10.6502924 106.517636,10.0557505 107.373888,9.68538012 C108.23014,9.31500975 109.171549,9.12982456 110.198116,9.12982456 C111.502176,9.12982456 112.625203,9.3539961 113.567197,9.80233918 C114.468055,10.2199897 115.267356,10.8285902 115.909711,11.5859649 C116.540286,12.3460998 117.009871,13.2264856 117.289964,14.1736842 C117.591617,15.1740109 117.742929,16.2136394 117.738941,17.2584795 C117.74225,18.2505674 117.590768,19.2370951 117.289964,20.1824561 C117.004131,21.0929946 116.540555,21.9377614 115.92608,22.6678363 C115.299965,23.401277 114.522039,23.9898991 113.646119,24.3929825 C112.737252,24.8218324 111.673076,25.0362573 110.453589,25.0362573 C109.477509,25.0465938 108.51008,24.8523678 107.613576,24.4660819 C106.767458,24.1021369 106.031668,23.5223881 105.479766,22.7847953 L105.41546,22.7847953 L105.41546,29.948538 L100.855538,29.948538 L100.855538,9.53918129 L105.19214,9.53918129 Z M111.112439,21.5274854 C111.596042,21.270961 112.013499,20.9056179 112.331926,20.4602339 C112.652263,19.9980655 112.875964,19.4759264 112.989607,18.9251462 C113.118124,18.3393299 113.182614,17.7412767 113.181942,17.1415205 C113.182263,16.5408987 113.112416,15.942297 112.973823,15.3578947 C112.84508,14.7973252 112.610763,14.26642 112.283404,13.7935673 C111.961362,13.3341457 111.538915,12.9541593 111.048133,12.6824561 C110.545372,12.3998051 109.930367,12.2584795 109.203118,12.2584795 C108.454433,12.2584795 107.828711,12.3998051 107.32595,12.6824561 C106.840262,12.9490726 106.422715,13.3243267 106.105879,13.7789474 C105.786956,14.2472531 105.563467,14.7738648 105.448197,15.328655 C105.318428,15.924168 105.253742,16.5320252 105.255278,17.1415205 C105.254864,17.7421817 105.324911,18.3408167 105.463982,18.9251462 C105.587795,19.4754725 105.816667,19.9967083 106.138032,20.4602339 C106.459572,20.9087439 106.882929,21.2745167 107.373303,21.5274854 C107.886587,21.8003899 108.507048,21.9368421 109.234687,21.9368421 C109.983371,21.9368421 110.609289,21.8003899 111.112439,21.5274854 Z" id="Shape"></path>
                  <polygon id="Shape" points="125.151153 3.77894737 125.151153 24.6561404 120.594739 24.6561404 120.594739 3.77894737"></polygon>
                  <path d="M128.554726,14.1883041 C128.618642,13.2136452 128.886002,12.4046784 129.356804,11.7614035 C129.830502,11.1151069 130.445051,10.5851506 131.153881,10.2116959 C131.923643,9.80698707 132.752195,9.52578009 133.609224,9.37836257 C134.514403,9.213112 135.432646,9.12992851 136.352777,9.12982456 C137.200438,9.13076345 138.047219,9.1844735 138.88821,9.29064327 C139.695508,9.38485282 140.484694,9.59664503 141.230724,9.91929825 C141.904605,10.2071607 142.499039,10.6535323 142.963495,11.2204678 C143.412861,11.7760234 143.637545,12.5118908 143.637545,13.4280702 L143.637545,21.2935673 C143.635463,21.9487466 143.67824,22.6032994 143.765573,23.2526316 C143.850926,23.8764133 144.000779,24.3442495 144.215135,24.6561404 L139.593829,24.6561404 C139.508188,24.4223313 139.43846,24.1829932 139.385125,23.9397661 C139.331342,23.693971 139.293845,23.4448909 139.272881,23.194152 C138.547701,23.8752019 137.666108,24.3672546 136.705879,24.6269006 C135.723526,24.89936 134.708727,25.0370713 133.689315,25.0362573 C132.943235,25.0417671 132.199427,24.9533535 131.475414,24.7730994 C130.830209,24.6157881 130.220502,24.3380174 129.678337,23.954386 C129.170204,23.5900859 128.757315,23.1086599 128.474635,22.5508772 C128.18584,21.985575 128.041442,21.3130604 128.041442,20.5333333 C128.041442,19.6756335 128.207275,18.9690058 128.538941,18.4134503 C128.85555,17.8737996 129.29651,17.4176588 129.825073,17.0830409 C130.379692,16.7386187 130.986652,16.4867886 131.62215,16.3374269 C132.296395,16.1717349 132.975512,16.0401559 133.6595,15.9426901 C134.343488,15.8452242 135.017538,15.7672515 135.68165,15.7087719 C136.275189,15.6607191 136.864826,15.5728016 137.446574,15.445614 C137.959857,15.328655 138.366158,15.1580897 138.665476,14.9339181 C138.964794,14.7097466 139.10393,14.3832359 139.082884,13.954386 C139.082884,13.505653 139.002598,13.1499025 138.842027,12.8871345 C138.68638,12.6286465 138.464321,12.4166122 138.198961,12.2730994 C137.909069,12.119873 137.593684,12.0207878 137.268269,11.9807018 C136.890572,11.9304658 136.509891,11.9060427 136.128873,11.9076023 C135.23014,11.9076023 134.524131,12.0830409 134.010848,12.4339181 C133.497564,12.7847953 133.198051,13.3695906 133.112309,14.1883041 L128.554726,14.1883041 Z M139.077623,17.2584795 C138.862908,17.4259567 138.617698,17.5500907 138.355635,17.6239766 C138.050071,17.7156396 137.739281,17.7888708 137.424943,17.8432749 C137.092887,17.9017544 136.745242,17.9504873 136.382007,17.9894737 C136.018772,18.02846 135.655148,18.077193 135.291133,18.1356725 C134.949914,18.193763 134.612405,18.2718705 134.280351,18.3695906 C133.973013,18.4559039 133.680793,18.5890429 133.413966,18.7643275 C133.171998,18.9266961 132.96977,19.141583 132.822345,19.3929825 C132.672686,19.6463938 132.597856,19.9680312 132.597856,20.3578947 C132.597856,20.7282651 132.672686,21.0401559 132.822345,21.2935673 C132.968924,21.5438743 133.179349,21.7507345 133.432088,21.8929825 C133.71137,22.0470481 134.015483,22.1509592 134.330627,22.2 C134.68042,22.2591231 135.034596,22.288468 135.389347,22.2877193 C136.287691,22.2877193 136.982981,22.1512671 137.475219,21.8783626 C137.967457,21.6054581 138.331276,21.2789474 138.566677,20.8988304 C138.790632,20.5485816 138.93824,20.1550306 138.99987,19.7438596 C139.046639,19.4340145 139.073392,19.1214755 139.079961,18.8081871 L139.077623,17.2584795 Z" id="Shape"></path>
                  <path d="M150.99948,20.8988304 C151.199225,21.2173288 151.467688,21.4870776 151.78519,21.6883041 C152.125965,21.9009819 152.500367,22.0542322 152.892433,22.1415205 C153.318566,22.2400706 153.75464,22.2891277 154.19201,22.2877193 C154.531431,22.2859616 154.869904,22.2516921 155.202793,22.1853801 C155.537105,22.1233724 155.861162,22.0151215 156.165638,21.8637427 C156.446356,21.724283 156.692873,21.5246092 156.887626,21.2789474 C157.079766,21.0352827 157.176031,20.7282651 157.176421,20.3578947 C157.176421,19.7341131 156.721793,19.2662768 155.812537,18.954386 C154.90328,18.6424951 153.636635,18.3306043 152.012601,18.0187135 C151.350049,17.8822612 150.702891,17.7214425 150.071127,17.5362573 C149.479568,17.368487 148.912977,17.1226617 148.386294,16.8052632 C147.910355,16.5186069 147.504646,16.1289518 147.198961,15.6649123 C146.898863,15.2068226 146.749204,14.6463938 146.749984,13.9836257 C146.749984,13.0089669 146.958493,12.2097466 147.375512,11.5859649 C147.79264,10.9618152 148.361279,10.4537571 149.028191,10.1093567 C149.753213,9.73517302 150.533049,9.47856463 151.338551,9.34912281 C152.20769,9.20179713 153.087748,9.12843509 153.969276,9.12982456 C154.846426,9.12781182 155.721919,9.20611112 156.5848,9.36374269 C157.376853,9.50131874 158.140958,9.76802254 158.846639,10.1532164 C159.500966,10.5156262 160.065716,11.0202098 160.499318,11.6298246 C160.937772,12.2438596 161.19987,13.0187135 161.285612,13.954386 L156.953686,13.954386 C156.88938,13.1547758 156.558103,12.6138402 155.959857,12.3315789 C155.361611,12.0493177 154.655602,11.9079922 153.841832,11.9076023 C153.584995,11.9076023 153.306918,11.9222222 153.0076,11.951462 C152.727199,11.9759518 152.451662,12.0399366 152.189152,12.1415205 C151.950948,12.2334079 151.736819,12.378407 151.56304,12.5654971 C151.391556,12.7506823 151.306008,12.9992203 151.306398,13.3111111 C151.299895,13.6684276 151.4676,14.0065649 151.75596,14.2175439 C152.055278,14.451462 152.445015,14.6415205 152.925171,14.7877193 C153.468571,14.9489167 154.020265,15.0806869 154.57785,15.1824561 C155.197921,15.2994152 155.8291,15.4261209 156.471387,15.5625731 C157.13394,15.6990253 157.780903,15.8647173 158.412277,16.0596491 C159.007322,16.2379157 159.574451,16.4987378 160.097109,16.8345029 C160.575693,17.1425377 160.980978,17.5517467 161.284443,18.0333333 C161.583761,18.5109162 161.733615,19.1005848 161.734005,19.8023392 C161.734005,20.7964912 161.514583,21.6298246 161.075739,22.3023392 C160.640397,22.9718174 160.052061,23.5280711 159.359337,23.9251462 C158.607656,24.3509144 157.78773,24.6427804 156.936148,24.7877193 C156.020231,24.9536295 155.091254,25.0368105 154.160442,25.0362573 C153.213043,25.0376745 152.267629,24.9495638 151.336798,24.7730994 C150.475369,24.6189878 149.645586,24.3225405 148.881455,23.8959064 C148.176376,23.4977224 147.572457,22.9424325 147.116531,22.2730994 C146.655862,21.6005848 146.404482,20.7575049 146.36239,19.7438596 L150.694316,19.7438596 C150.694316,20.1925926 150.796038,20.5775828 150.99948,20.8988304 Z" id="Shape"></path>
                  <path d="M168.950958,3.77894737 L168.950958,11.6444444 L169.046833,11.6444444 C169.624424,10.7672515 170.362585,10.1288499 171.261319,9.72923977 C172.160052,9.32962963 173.03696,9.12982456 173.892043,9.12982456 C175.11153,9.12982456 176.111595,9.28089669 176.892238,9.58304094 C177.672881,9.88518519 178.287886,10.3042885 178.737252,10.8403509 C179.186619,11.3764133 179.502306,12.0294347 179.684313,12.7994152 C179.873304,13.6389031 179.964719,14.4974199 179.956739,15.3578947 L179.956739,24.6561404 L175.400325,24.6561404 L175.400325,16.1181287 C175.400325,14.8705653 175.185969,13.9397661 174.757259,13.325731 C174.328548,12.7116959 173.568561,12.4046784 172.477298,12.4046784 C171.235986,12.4046784 170.337447,12.7409357 169.781682,13.4134503 C169.225918,14.0859649 168.949009,15.1922027 168.950958,16.7321637 L168.950958,24.6561404 L164.393959,24.6561404 L164.393959,3.77894737 L168.950958,3.77894737 Z" id="Shape"></path>
                </g>
              </g>
            </svg>
          </div>
          <% if ((index % 4) == 3) || ((index + 1) == partner_companies.length) %></div><% end %>
        <% end %>






      </div>
    </div>
  </div>
</div>