<section class="container-fluid container-partnering-ost pt-5 pb-4 sky-blue">

  <div class="row">
    <div class="container">
      <h3 class="text-center">Partnering with OST</h3>
      <div class="row">
        <div class="col-12 col-md-4 mt-5">
          <div class="row">
            <div class="col-12 text-left text-md-center">
              <img class="mx-auto" style="height:75px;" src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/partnering-with-ost-1@3x.png">
              <h5 class="my-3">Why should you partner with us?</h5>
              <p class="desc">Create a vibrant interoperable ecosystem to improve your business performance, build a stronger community and discover new revenue streams by incentivizing and rewarding desired user behaviours and contributions.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-5">
          <div class="row">
            <div class="col-12 text-left text-md-center">
              <img  class="mx-auto" style="height:75px;" src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/partnering-with-ost-2@3x.png">
              <h5 class="my-3">Who partners with us?</h5>
              <p class="desc">Marketplaces, content driven communities, shared economy applications and any platform using micro-payments or global transfers can reach the next level when built using the easy-to-use, scalable, decentralized infrastructure that we provide.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-5">
          <div class="row">
            <div class="col-12 text-left text-md-center">
              <img  class="mx-auto" style="height:75px;" src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/partnering-with-ost-3@3x.png">
              <h5 class="my-3">How do we partner?</h5>
              <p class="desc">OST partners are eligible for development grants from the OpenST Foundation. All of our signed partners are provided a blockchain strategy consultant who will be your point person and advisor as you plan and implement your branded token economy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>