<%
  partner_companies = [
      {
          categories: ["creative-social", "loyalty"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
  ]
%>
<section id="partner-companies" class="container-partner-companies position-relative pt-5" style="overflow:hidden;">
  <div class="ost-backward-triangle dark-blue">
    <div class="container dotted-bg"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="mt-5 pt-4 mb-4 text-center">Partner Companies</h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-4 col-md-4">

        <div class="row">

          <div class="col-6">
            <div class="form-group">
              <label for="categorySelect" class="filter-style">Category</label>
              <select class="form-control selectpicker" id="categorySelect">
                <option>all</option>
                <option>creative-social</option>
                <option>loyalty</option>
                <option>dapps</option>
                <option>marketplaces</option>
                <option>community</option>
                <option>sharing-economy</option>
              </select>
            </div>
          </div>
          <div class="col-6 border-class">
            <div class="form-group">
              <label for="sizeSelect" class="filter-style">SIZE</label>
              <select class="form-control selectpicker" id="sizeSelect">
                <option>all</option>
                <option>large</option>
                <option>start-ups</option>
              </select>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row">
      <% partner_companies.each_with_index do|partner, index| %>
        <div class="col-6 col-md-3 p-0 category-all size-all <%= 'category-'+partner[:categories].join(" category-") %> size-<%= partner[:size] %>">
          <div class="border-box">
            <div class="aspect-ratio-box" title="<%= 'category-'+partner[:categories].join(" category-") %> size-<%= partner[:size] %>">
              <span class="aspect-ratio-box-inside"  data-toggle="modal" data-target="#infoModal"></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal fadeInRightBig" id="infoModal" >
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</section>