html, body{
  height: 100%;
}
#app-content{
  &.wrapper {
    display: flex;
    position: relative;
    top: -5px;
  }
}

/* ---------------------------------------------------
    OST HEADER STYLE
----------------------------------------------------- */
.header-height {
  height: $ost-header-height;
}

.alert-height {
  height: $ost-header-alert-height;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.container {
  margin: 0 auto;
  max-width: 960px;
  //background: #ffffff;
}
#content {
  width: calc(100% - #{$side-bar-nav-width});
  margin-left: $side-bar-nav-width;
 // min-height: calc(100vh - #{$ost-header-height});
  min-width: $content-min-width;
  
  transition: all 0.3s;

  #cover-container {
    .cover-element {
      position: fixed;
      z-index: 10;
      top: 100%;
      background-color: white;
      display: none;
      height: calc(100vh - #{$cover-element-height-factor});
      padding-bottom: 10px;
      //max-width: calc(960px - #{$grid-gutter-width});
      width: calc(100% - #{$side-bar-nav-width});
      margin-left: -15px;
      overflow-y: auto;
      overflow-x: hidden;

    }
    .active-cover {

    }

  }

  &.active{
    width: 100%;
    margin-left: 0;
  }

}

.blur-content {
  @include blur(10px);
}

.imp-value {
  color: $yellow-300;
}

.hover-link {

  &:hover , &:active {
    color: $yellow-400;
    border-bottom: 1px solid $yellow-400;
  }
}

.play-video-icon {
  fill : $blue-800
}

.play-video-link {
  &:hover {
    .play-video-icon {
      fill: $white;
    }
  }
}

body.has-cover-element {
  overflow-y: hidden;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: $content-min-width) {
  #content {
    overflow-x: auto;
  }

  #content #cover-container .cover-element.active-cover {
    overflow-x: auto;
    & >.container {
      min-width: $content-min-width;
    }
  }

  body.has-cover-element {
    overflow-x: hidden ;
  }
}

@media (max-width: 768px) {
  #content {
    width: 100%;
    margin-left: 0px;
  }
  #content.active {
    width: calc(100% - #{$side-bar-nav-width});
  }
  #sidebarCollapse span {
    display: none;
  }
}

