<section class="container-jumbotron py-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <h3 class="font-weight-bold">OST Alpha III Proofs of Concept</h3>
        <p class="mt-3">
          OST Alpha III enabled developer teams to integrate OST-powered Branded Tokens into their apps using the OST KIT APIs & SDKs, and introduced the first wallet features. 92 teams from 50+ countries successfully completed the Alpha III challenge. A big thank you to all developers!
        </p>
        <a href="#winners" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="See The Winners">Watch the pocs</a>
        <a href="#subscribe" target="_blank" class="btn btn-secondary smooth-scroll my-2 ml-xl-3" title="Learn about OST Alpha III">Coming soon alpha IV</a>
      </div>

      <div class="col-md-12 col-lg-6 text-center mt-3 mt-md-0">
        <div class="illustration w-100">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha3winners-jumbotron-hero-image@1x.png"
               srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha3winners-jumbotron-hero-image@2x.png 1000w"
               class="img-fluid position-relative" alt="OST Winners Hero"/>
        </div>
      </div>

    </div>
  </div>
</section>