<section class="container-fluid">
  <div class="row container-stats py-4">
    <div class="container">

      <div class="row">
        <div class="col-10 col-md-10 col-lg-12 mx-auto">
          <div class="row align-items-center">
            <div class="col-11 col-md-6 col-lg-3 my-3 mx-auto">
              <svg class="align-middle descriptive-icons" >
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-register-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d1">0</h4>
                <small class="stats-desc">REGISTRATIONS</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 mx-auto">
              <svg class="align-middle descriptive-icons" >
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-countries-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d2">0</h4>
                <small class="stats-desc">COUNTRIES</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 mx-auto">
              <svg class="align-middle descriptive-icons" >
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-successful-pocs-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d3">0</h4>
                <small class="stats-desc">SUCCESSFUL POCs</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 mx-auto">
              <svg class="align-middle descriptive-icons" >
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-vote-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d4">0</h4>
                <small class="stats-desc">
                  <span class="d-block">VOTES casted by</span>
                  <span class="d-block">OST Community</span>
                </small>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-11 col-md-6 col-lg-3 my-3 mx-auto">
              <svg class="align-middle ost-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d5">0</h4>
                <small class="stats-desc">FOR SUCCESSFUL POCs</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 mx-auto">
              <svg class="align-middle ost-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d6">0</h4>
                <small class="stats-desc">FOR BEST OF ALPHA III POCs</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 mx-auto">
              <svg class="align-middle ost-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-ost-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d7">0</h4>
                <small class="stats-desc">TOTAL OST AWARDED</small>
              </div>
            </div>
            <div class="col-11 col-md-6 col-lg-3 my-3 mx-auto">
              <svg class="align-middle ost-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stats-tweets-icon"></use>
                </switch>
              </svg>
              <div class="d-inline-block align-middle">
                <h4 class="stats-value" id="d8">0</h4>
                <small class="stats-desc">TWEETS FOR #OSTa3</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


