// Import body level CSS
@import "token_icons";
// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

.code-session {
  display: none;
  background-color: $black;
  padding: 30px 20px;

  .code-comment  {
    color: $pink;
  }

  .code-line {
    color: $orange;

    .curl-param-header {
      color: $white;
    }

    .curl-escape-character {
      color: $pink;
    }
  }
}

/*

body {
  svg {
    pointer-events: none;
  }
  .pie-chart svg {
    pointer-events: none;
  }
}

*/