// Import theme variables
@import "../ost_theme/variables";

a {
  &:hover, &:active, &:focus {
    .icon-open-tab {
      fill: $yellow-500;
    }
  }
}

.horizontal-line {
  margin-top: 15px;
  border-bottom: 1px solid $skeptic;
}