.container-footer{
  min-height: 60px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 1.3px;
  text-align: center;
  padding: 20px 10px;
  color: #9ea9a7;
  background: #e7f6f7;
  a,
  a:hover,
  a:active{
    color: #9ea9a7;
    border-bottom: 1px solid #9ea9a7;
    text-decoration: none;
  }
}

.footer-nav-wrap{
  background-color: #f4f8f9;
  h6{
    color: #597a84;
  }
  li{
    margin: 12px 0;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 0.875rem;
    a{
      color: #597a84;
      &:hover{
        color: #E4B030;
        text-decoration: none;
      }
      &:focus{
        outline: none;
        text-decoration: none;
      }
    }
  }
  .social-links{
    li{
      margin: 5px;
      display: inline-block;
    }
  }
}