.ost-nav-logo{
  width: 68px;
  height: 35px;
  fill: #34445b;
}

.svg.ost-kit-logo{
  width: 200px;
  height: 45px;
  fill: #34445b;
}

.ost-powered-logo{
  width: 68px;
  height: 40px;
  fill: #34445b;
  position: relative;
  top: 3px;
}

.svg.ost-powered-view-logo{
  width: 68px;
  height: 40px;
  font-size: 0;
  display: inline-block;
}

.svg.ost-powered-kyc-logo{
  width: 68px;
  height: 40px;
  font-size: 0;
  display: inline-block;
}

.svg.ost-launch-logo{
  width: 18px;
  height: 14px;
  fill: #e4b030;
}

.svg.icon-checkmark{
  width: 16px;
  height: 12px;
  display: inline-block;
}
.nav-svg{
  height: 20px;
  width: 22px;
}
.ost-kit-logo-no-cloud-icon{
  width: 130px;
  height: 36px;
  position: relative;
  top: 2px;
}