  .token_icon_1 {
    background-color: #92e1d1;
  }

  .token_icon_2 {
    background-color: #34445b;
  }

  .token_icon_3 {
    background-color: #e4b030;
  }

  .token_icon_4 {
    background-color: #9064a2;
  }
  
  .token_icon_5 {
    background-color: #84d1d4;
  }

  .token_icon_6 {
    background-color: #ff5f59;
  }

  .radio-group{
    font-size: 0;
    li{
      vertical-align: top;
      display: inline-block;
      margin: 0 .75rem .3rem 0;
      &:last-child{
        margin: 0 0 .3rem 0;
      }
    }

    input[type=radio] {
      position: absolute;
      visibility: hidden;
      display: none;
    }

    label > span {
      color: #fff;
      display: block;
      font-size: 0.9rem;
      cursor: pointer;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      font-weight: 300;
    }

    input[type=radio]:checked + label span{
      color: #fff;
      width: 4rem;
      height: 4rem;
      line-height: 60px;
      display: block;
      border: 2px solid #fff;
      transition: box-shadow .3s ease-out;
      box-shadow: 0 0 0 2px #84d1d4;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        display: inline-block;
        background: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/select-token-checkmark.svg') no-repeat;
        background-size: 100%;
        right: -3px;
        top: 5px;
      }
    }
  }