<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2017</span>
            <span class="quarter">Q4</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">OpenST Protocol released for developers</span> to build infrastructure and tools to enable token economies.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content">
      <div class="text-bold">OST KIT R&D</div>
      <div class="status">Status: Complete</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2018</span>
            <span class="quarter">Q1</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">1600 Branded Token economies created.</span> 18.8 million token transfers executed.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content">
      <div class="text-bold">OST KIT Alpha 1</div>
      <div class="status">Status: Complete</div>
      <ul class="desc-lines">
        <li>Setup Economy</li>
        <li>Simulate Token Transfers</li>
      </ul>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2018</span>
            <span class="quarter">Q2</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">73 OST Alpha 2 app-integrations by developers around the world.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content">
      <div class="text-bold">OST KIT Alpha 2</div>
      <div class="status">Status: Complete</div>
      <ul class="desc-lines">
        <li>Token Transfers via API</li>
      </ul>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2018</span>
            <span class="quarter">Q3</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">200+ developer</span> teams integrating OST Alpha 3 into their apps. Publish framework for scaling token economies.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content">
      <div class="text-bold">OST KIT Alpha 3</div>
      <div class="status">Status: Complete</div>
      <ul class="desc-lines">
        <li>Wallet-lite Ledger & Balance APIs</li>
      </ul>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2018</span>
            <span class="quarter">Q4</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Test integrations of OST on Mainnet with cash-out to OST.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content">
      <div class="text-bold">OST KIT Alpha 4</div>
      <div class="status">Status: Progress</div>
      <ul class="desc-lines">
        <li>Scalability & Performance Upgrades & Testing. Multi-Chain</li>
      </ul>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2019</span>
            <span class="quarter">Q1</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">OpenST & OST Mainnet. Branded Token economies on mainnet with cash-out to OST or ETH.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OST KIT Beta</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2019</span>
            <span class="quarter">Q2</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">OST General Availability for mainstream businesses.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OST KIT Release</div>
      <div class="text-bold">OST Wallet Release</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2019</span>
            <span class="quarter">Q3</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Fungible and non-fungible tokens.</span> Economy stabilization options. Crypto-fiat options.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OST KIT Economy Stability</div>
      <div class="text-bold">OST KIT Analytics </div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2020</span>
            <span class="quarter">Q1</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Enable anyone to run an OpenST BT-EX or BT-DEX.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line second pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OST Economy Optimization</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2020</span>
            <span class="quarter">Q2</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Fully autonomous decentralized token economies.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg-line second pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 1.0: OpenST & OpenST Mosaic Fully Decentralized</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2020</span>
            <span class="quarter">Q4</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Scale OST to machine-to-machine transactions.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg-line second pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST 2.0: Multi-Hop Gateways</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2021</span>
            <span class="quarter">Q2</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Fully autonomous decentralized token economies on any major blockchain, at M2M-scale, with exchange liquidity.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg-line second pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST 3.0 & OST 3.0: Additional blockchains beyond Ethereum</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>