<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2017</span>
            <span class="quarter">Q4</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">OpenST Protocol released for developers</span> to build infrastructure and tools to enable token economies.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg-line first pt-5">
    <div class="container-content">
      <div class="text-bold">OpenST Protocol</div>
      <div class="status">Status: Complete</div>
      <ul class="list-unstyled social-icons">
        <li>
          <a href="" target="_blank">
            <svg class="social-icon">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#roadmap-telegram"></use>
              </switch>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="social-icon">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#roadmap-twitter"></use>
              </switch>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="social-icon">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#roadmap-medium"></use>
              </switch>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="social-icon">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#roadmap-linkedin"></use>
              </switch>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="social-icon">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#roadmap-fb"></use>
              </switch>
            </svg>
          </a>
        </li>
      </ul>
      <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/roadmap/openst-protocol-0.9.1@2x.png" class="img-fluid d-block my-3"/>
      <ul class="desc-lines">
        <li>0.9.0 Mint Branded Tokens</li>
        <li>0.9.1 Mainnet Developer Release</li>
      </ul>
      <p class="collapse m-0" id="block-id">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tempore asperiores et vel
      </p>
      <a href="" class="d-block more-desc" target="_blank">Read more</a>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2018</span>
            <span class="quarter">Q1</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">1600 Branded Token economies created.</span> 18.8 million token transfers executed.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-7 col-md-6 mx-auto" style="font-size: 0">
        <svg width="100%" height="100%" viewBox="0 0 211 101" xmlns="http://www.w3.org/2000/svg">
          <path d="M209 100.068V70.693c0-16.268-12.987-29.455-29.007-29.455h-49.182c-22.429 0-25.181-18.463-25.181-41.238 0 22.775-2.753 41.238-25.181 41.238H31.007C14.987 41.238 2 54.425 2 70.693v29.375" stroke="#D3E3E5" stroke-width="3" fill="none" fill-rule="evenodd"/>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex">
        <div class="container-content p-15-10">
          <div class="text-bold">OpenST Protocol</div>
          <div class="status">Status: Complete</div>
          <ul class="desc-lines">
            <li>0.9.2  Token Transfers</li>
          </ul>
        </div>
      </div>
      <div class="col-6 d-flex">
        <div class="container-content p-15-10">
          <div class="text-bold">OpenST Mosaic R&D</div>
          <div class="status">Status: Complete</div>
          <ul class="desc-lines">
            <li>Asynchronous hetero-geneous composition of blockchains</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2018</span>
            <span class="quarter">Q3</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">200+ developer</span> teams integrating OST Alpha 3 into their apps. Publish framework for scaling token economies.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol</div>
      <div class="status">Status: Complete</div>
      <ul class="desc-lines">
        <li>0.9.3  Cross-chain token-messaging</li>
      </ul>
    </div>
  </div>
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Mosaic Paper</div>
      <div class="status">Status: In Progress</div>
      <ul class="desc-lines">
        <li>Scalable PoS Blockchains Finalized on Ethereum</li>
      </ul>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2018</span>
            <span class="quarter">Q4</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Test integrations of OST on Mainnet with cash-out to OST.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.9.4</div>
      <div class="status">Status: In Progress</div>
      <ul class="desc-lines">
        <li>Decentralized keys engine & token rules engine</li>
      </ul>
      <div class="mt-3 mb-2 flag-icon">
        <svg class="mx-auto d-block">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#roadmap-small-flag"></use>
          </switch>
        </svg>
      </div>
      <div class="text-bold">OpenST Protocol 0.9.5</div>
      <div class="status">Status: In Progress</div>
      <ul class="desc-lines">
        <li>Mainnet Alpha</li>
      </ul>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2019</span>
            <span class="quarter">Q1</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">OpenST & OST Mainnet. Branded Token economies on mainnet with cash-out to OST or ETH.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.10.0</div>
      <div class="status">Status: Upcoming</div>
      <ul class="desc-lines">
        <li>Mainnet Beta</li>
      </ul>
    </div>
  </div>
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Mosaic Alpha</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2019</span>
            <span class="quarter">Q2</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">OST General Availability for mainstream businesses.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.10.1</div>
      <div class="status">Status: Upcoming</div>
      <ul class="desc-lines">
        <li>Wallet SDK</li>
      </ul>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2019</span>
            <span class="quarter">Q3</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Fungible and non-fungible tokens.</span> Economy stabilization options. Crypto-fiat options.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.10.2</div>
      <div class="status">Status: Upcoming</div>
      <ul class="desc-lines">
        <li>Non-Fungible Tokens & Token Engineering Modules</li>
      </ul>
    </div>
  </div>
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Mosaic Beta</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2019</span>
            <span class="quarter">Q4</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Enable anyone to run an OpenST BT-EX or BT-DEX.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.11.0</div>
      <div class="status">Status: Upcoming</div>
      <ul class="desc-lines">
        <li>BT-EX & BT-DEX Framework</li>
      </ul>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2020</span>
            <span class="quarter">Q2</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Fully autonomous decentralized token economies.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 1.0: OpenST & OpenST Mosaic Fully Decentralized</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2020</span>
            <span class="quarter">Q4</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Scale OST to machine-to-machine transactions.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST 2.0: Multi-Hop Gateways</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>

<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content">
      <div class="row">
        <div class="col-4 align-self-center justify-content-center text-center" style="font-size: 0">
          <svg class="milestone-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-milestone"></use>
            </switch>
          </svg>
          <div>
            <span class="year">2021</span>
            <span class="quarter">Q2</span>
          </div>
        </div>
        <div class="col-8 align-self-center pl-0">
          <span class="text-bold">Fully autonomous decentralized token economies on any major blockchain, at M2M-scale, with exchange liquidity.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST 3.0 & OST 3.0: Additional blockchains beyond Ethereum</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>