<div class="container roadmap-container d-md-none">

  <div class="row">
    <div class="col-12 text-center my-5">
      <h3 class="header mb-3">ROADMAP</h3>
      <p class="desc">Blockchain Infrastructure to Empower New Economies</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="container-content">
        Vertical Left-Right Timeline
        1
        Fully Responsive
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 bg-line first pt-5 d-flex align-items-center">
      <div class="container-content">
        Vertical Left-Right Timeline
        1
        Fully Responsive
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.
        Vertical Left-Right Timeline
        1
        Fully Responsive
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.
        Vertical Left-Right Timeline
        <p class="collapse m-0" id="block">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi tempore asperiores et vel
        </p>

        <!-- aria-expanded attribute is mandatory -->
        <!-- bootstrap changes it to true/false on toggle -->
        <a href="#block"
           class="d-block"
           data-toggle="collapse"
           aria-expanded="false"
           aria-controls="block-id">
            <span class="collapsed">Show more</span>
            <span class="expanded">Show Less</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-12">
      <div class="row">
        <div class="col-7 col-md-6 mx-auto" style="font-size: 0">
          <svg width="100%" height="100%" viewBox="0 0 211 101" xmlns="http://www.w3.org/2000/svg">
            <path d="M209 100.068V70.693c0-16.268-12.987-29.455-29.007-29.455h-49.182c-22.429 0-25.181-18.463-25.181-41.238 0 22.775-2.753 41.238-25.181 41.238H31.007C14.987 41.238 2 54.425 2 70.693v29.375" stroke="#D3E3E5" stroke-width="3" fill="none" fill-rule="evenodd"/>
          </svg>
        </div>
      </div>
      <div class="row">
        <div class="col-6 first">
          <div class="container-content h-100">
            Fully Responsive
            Lorem ipsum dolor sit amet
            Fully Responsive
            Lorem ipsum dolor sit amet
          </div>
        </div>
        <div class="col-6 first">
          <div class="container-content h-100">
            Fully Responsive
            Lorem ipsum dolor sit amet
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 py-4"></div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="container-content">
        Vertical Left-Right Timeline
        1
        Fully Responsive
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.
      </div>
    </div>
  </div>

  <div class="row h-100">
    <div class="col-12">
      <div class="row h-100">
        <div class="col-6 bg-line first pt-5 d-flex align-items-center">
          <div class="container-content">
            Vertical Left-Right Timeline Vertical Left-Right Timeline
          </div>
        </div>
        <div class="col-6 bg-line first pt-5 d-flex align-items-center">
          <div class="container-content">
            Vertical Left-Right Timeline Vertical Left-Right Timeline
          </div>
        </div>
      </div>
    </div>
  </div>

</div>