<div class="container roadmap-container d-md-none">

  <div class="row mobile-jumbo">
    <div class="col-12 text-center my-5">
      <h3 class="header mb-3">ROADMAP</h3>
      <p class="desc">Blockchain Infrastructure <br/>to Empower New Economies</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="mobile-drop-down">
        <span class="dropdown-el">
          <input type="radio" name="sortType" value="Relevance" checked="checked" id="infrastructure">
          <label for="infrastructure" class="first d-flex align-items-center">
            <svg>
            <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-infrastructure"></use>
            </switch>
            </svg>
            INFRASTRUCTURE</label>
          <input type="radio" name="sortType" value="Popularity" id="developer-tools">
          <label for="developer-tools" class="second d-flex align-items-center">
            <svg>
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-developer-tools"></use>
              </switch>
            </svg>
            DEVELOPER TOOLS
          </label>
          <input type="radio" name="sortType" value="PriceIncreasing" id="btx-exchange">
          <label for="btx-exchange" class="third d-flex align-items-center">
            <svg>
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-btx-exchange"></use>
            </switch>
            </svg>
            BT EXCHANGE
          </label>
        </span>
      </div>
    </div>
  </div>

  <div id="stickyMobileAlias"></div>

  <div class="mobile_infrastructure">
    <%= render :partial => "/web/ost/roadmap/mobile/infrastructure" , locals: {
        mobile_view: false
    } %>
  </div>

  <div class="mobile_developer_tools">
    <%= render :partial => "/web/ost/roadmap/mobile/developer_tools" , locals: {
        mobile_view: false
    } %>
  </div>

  <div class="mobile_btx_exchange">
    <%= render :partial => "/web/ost/roadmap/mobile/btx_exchange" , locals: {
        mobile_view: false
    } %>
  </div>

</div>

<div class="container-fluid d-md-none">
  <div class="row">
    <div class="col-12" style="background: linear-gradient(#f2f8f8, #ffffff);height: 100px">

    </div>
  </div>
</div>