<div class="container roadmap-container d-md-none">

  <div class="row">
    <div class="col-12 text-center mt-5">
      <h3 class="header mb-3">ROADMAP</h3>
      <p class="desc">Blockchain Infrastructure <br/>to Empower New Economies</p>
    </div>
  </div>

  <%#= render :partial => "/web/ost/roadmap/mobile/infrastructure" %>

  <%= render :partial => "/web/ost/roadmap/mobile/developer_tools" %>

</div>