/* Jumbotron Animation CSS */

.jumbotron-animate{
  animation: jumbotronAnimation 2s forwards 0s linear;
}

@keyframes jumbotronAnimation{
  0%{
    transform: translateY(-10%);
    opacity: 0;
    visibility: hidden;
  }
  50%{
    transform: translateY(-5%);
    opacity: 0.1;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}


/* Quarters Timeline Animation CSS */

.quarters-animate{
  animation: quartersAnimation 2s forwards 0s linear;
}

@keyframes quartersAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* categories Animation CSS */

.categoriesToAnimate{
  animation: categoriesAnimate 2s forwards 0s ease-out;
}

@keyframes categoriesAnimate{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  90%{
    transform: translateY(0px);
    opacity: 0.5;
    visibility: visible;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

/* Q elements Animation CSS */

.qElementsToAnimate{
  animation: qElementsAnimate 2s forwards 0s ease-out;
}

@keyframes qElementsAnimate{
  0%{
    transform: translateY(20px);
    opacity: 0;
  }
  90%{
    transform: translateY(0px);
    opacity: 0.8;
    visibility: visible;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

/* Flower Svg elements Animation CSS */

.path-right {
  stroke-dasharray: 500;
  animation: path-right 2s forwards;
}

@keyframes path-right {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
    stroke: #FDEBB1;
  }
}

.path-left {
  stroke-dasharray: 500;
  animation: path-left 2s 0s forwards;
}

@keyframes path-left {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -1000;
    stroke: #D3E3E5;
  }
}

.path-vertical {
  stroke-dasharray: 85;
  stroke-dashoffset: 0;
  animation: path-vertical 2s 0s forwards;
}

@keyframes path-vertical {
  from {
    stroke-dashoffset: -85;
  }
  to {
    stroke-dashoffset: 0;
    stroke: #BEEAF1;
  }
}

/* Fix for path-left Safari CSS */

@media not all and (min-resolution:.001dpcm) {
  .path-left {
    animation: path-left-safari 2s 0s forwards;
  }
}

@keyframes path-left-safari {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
    stroke: #D3E3E5;
  }
}