svg.get-help-icon{
  height: 40px;
  width: 35px;
  fill: #438BAD;
}
svg.icon-api-transactions{
  height: 20px;
  width: 20px;
  fill: #69a2bd;
  pointer-events: none;
}
svg.icon-edit-transactions{
  height: 18px;
  width: 16px;
  fill: #69a2bd;
  pointer-events: none;
}
svg.icon-play{
  height: 15px;
  width: 15px;
  fill: #34445b;
}
.icon-card-transactions{
  height: 15px;
  width: 15px;
  fill: #438BAD;
}
.icon-fund-wallet{
  height: 100px;
  width: 100px;
  fill: #438BAD;
}
.icon-simulator{
  height: 100px;
  width: 100px;
}
.icon-users-list{
  height: 40px;
  width: 40px;
}
.icon-transactions-by-value{
  height: 100px;
  width: 115px;
}
.icon-banner{
  height: 20px;
  width: 20px;
}
.icon-equal-to{
  height: 10px;
  width: 10px;
}
.ost-kit-logo-no-cloud-icon{
  width: 130px;
  height: 36px;
  position: relative;
  top: 2px;
}
//svg{
//  pointer-events: none;
//}