.radio-button {
  display: none;
}

.radio-button-label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 14px 0px 0px 25px;
  position: relative;
  color: $blue-700;
  letter-spacing: 0.5px;
}

.radio-button-circle {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 8px;
  left: 4px;
  position: absolute;
  top: 20px;
  transition: background-color .1s ease-out;
  vertical-align: middle;
  width: 8px;

  &:before {
    border: 2px solid #9bafb5;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 20px;
    position: absolute;
    top: -6px;
    transition: border-color .1s ease-out,
    transform .1s ease-out;
    left: -6px;
    width: 20px;
  }
}

.radio-button:checked + .radio-button-label .radio-button-circle {
  background-color: $blue-700;
}