.ost-simple-table {

  .table-header {

    background-color: $white;
    color: $cyan;
    font-size: $font-size-xs;
    letter-spacing: 1px;
    font-weight: $font-weight-bold;

  }

  .table-content {

  }
}
