$footer-height: 60px;

.sticky-footer{
  background: #d9a025;
  position: fixed;
  bottom: 0;
  width: calc(100% - 250px);
  height: $footer-height;
  z-index: 1;
  .btn{
    height: $footer-height;
    line-height: 30px;
  }
}
.pseudo-footer{
  height: $footer-height;
}