// Import theme variables
@import "../../ost_theme/variables";

.side-by-side{

  .bg-blue{
    font-size: 0.9rem;
    overflow: hidden;
    background-color: $blue-900;
    h3, p{
      color: $white;
    }
    .link{
      color: $spray;
      font-size: 0.75rem;
      letter-spacing: 1px;
      padding-bottom: 2px;
      display: inline-block;
      border-bottom: solid 0.5px $spray;
    }
  }


  .bg-sky-blue{
    overflow: hidden;
    background-color: rgba(125, 213, 228, 0.2);
    h3{
      color: $blue-900;
    }
    p{
      color: $blue-800;
    }
    .link{
      color: $blue-800;
      font-size: 0.75rem;
      letter-spacing: 1px;
      padding-bottom: 2px;
      display: inline-block;
      border-bottom: solid 0.5px $blue-800;
    }
  }

  .video-image{
    cursor: pointer;
    position: relative;
  }

  .play{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    background-color: $white;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    .svg-play{
      width: 15px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }

  .ost-backward-triangle{
    position: absolute;
    left: -40px;
    right: -40px;
    @media (min-width: 1440px){
      top: -70px;
      height: 130px;
    }
    top: -35px;
    height: 100px;
    transform: rotate(0.8deg);
    background-color: $blue-900;
    @media (max-width: 512px){
      transform: rotate(3.6deg);
    }
    @media (min-width: 513px) and (max-width: 768px){
      transform: rotate(2.8deg);
    }
    @media (min-width: 769px) and (max-width: 1024px){
      transform: rotate(1.8deg);
    }
    @media (min-width: 1025px){
      transform: rotate(2.6deg);
    }
  }

  .participants-container {

    .participants-carousel {
      max-height: 70px;
      overflow-y: hidden;
      .slick-track{
        margin-left: 0;
      }

      @media (min-width: map-get($grid-breakpoints, "sm")) and (max-width: map-get($grid-breakpoints, "lg")) {
        margin-right: 1px;
      }
    }

    &.blue{
      .slick-slide{
        color: #afe1e3;
        background: rgba(175, 225, 227, 0.2);
      }
      .item{
        @media (min-width: map-get($grid-breakpoints, "sm") ) {
          border-right: solid 0.5px #afe1e3;
        }
      }
      .slick-active:last-child {
        .item {
          border-right: none;
        }
      }
      .slick-prev, .slick-next{
        &:before {
          color: #afe1e3;
        }
      }
    }

    &.sky-blue{
      .slick-slide{
        color: $cyan;
        background: rgba(132, 209, 212, 0.2);
      }
      .item{
        @media (min-width: map-get($grid-breakpoints, "sm") ) {
          border-right: solid 0.5px $cyan;
        }
      }
      .slick-active:last-child {
        .item {
          border-right: none;
        }
      }
      .slick-prev, .slick-next{
        &:before {
          color: $cyan;
        }
      }
    }

    .slick-slide {
      text-align: center;
      max-width: inherit;
    }

    .item{
      margin: 10px 0;
      text-align: left;
      padding: 0 25px;
      @media (min-width: map-get($grid-breakpoints, "sm")) and (max-width: map-get($grid-breakpoints, "lg")) {
        padding: 0 15px;
      }
    }

    .slick-prev, .slick-next {
      z-index: 3;
      &:hover, &:focus {
        background: none;
      }
      &:before {
        display: inline-block;
        font-size: 20px;
      }
    }

    .slick-prev{
      left: 0;

    }

    .slick-next{
      right: 0;
    }

    .slick-arrow{
      height: 100%;
      width: inherit;
      padding: 0 5px;
    }
  }

  svg.svg-play {
    height: 20px;
    width: 20px;
    fill: #34445B;
  }

  .video-image{
    &:hover{
      svg.svg-play {
        fill: #E4B030;
      }
    }
  }

}