// Import theme variables
@import "../../ost_theme/variables";

.container-twitter {
  background-color: rgba(125, 213, 228, 0.2);
  background-image: url(/twitter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50%;

  .twitter-desc{
    opacity: 0;
    -webkit-transition-property: all; /* Safari */
    -webkit-transition-duration: 500ms; /* Safari */
    transition-property: all;
    transition-duration: 500ms;
    &.active{
      opacity: 1;
    }
    
  }

  .twitter-user-img{
    border-radius:50%;
    width: 70px;
    height: 70px;
    @media(max-width: 576px) {
      width: 100px;
      height: 100px;
    }
  }


  .twitter-handle{
    display: none;
    @media(max-width: 576px) {
      display: block;
    }
  }
  .slick-list{
    .slick-track {
      display: flex;

      .slick-slide {
        align-self: center;
        //visibility: hidden;
        //&.slick-active{
        //  visibility: visible;
        //}
        &.slick-center {
          .twitter-user-img {
            width: 100px;
            height: 100px;
            //@media(max-width: 420px) {
            //  width: 70px;
            //  height: 70px;
            //}
          }
          .twitter-handle {
            display: block;
          }
        }
        .carousel-item{
          .twitter-link{
            outline: none;
            &.disabled{
              cursor:default;
            }

          }

        }

      }
    }

  }

}

.slick-prev, .slick-next{
  &:before{
    color: #34445b;
  }
}