/*
 * When changing sprite, make sure that:
 * - You always only add new companies to sprite (do not change / add in between)
 * - Update the number of companies in _partner_companies.erb
 */


.partner-company{
  margin:0 auto;
  width: 80%;
  height: 0;
  padding-bottom: 20%;
  background-position-x: 0;
  background-position-y: 0;
  background-size: 200%;
  display:block;
}

.aspect-ratio-box{
  &:hover{
    .partner-company{
      background-position-x: 100%;
      background-position-y: 0;
      background-size: 200%;
    }
  }
}


.details-partner-company{
  width: 80%;
  height: 0;
  padding-bottom: 20%;
  background-position-x: 0;
  background-position-y: 0;
  background-size: 100%;
  display:block;
}
