// Import theme variables
@import "../../ost_theme/variables";

.container-partners{
  background-image: linear-gradient(to bottom, $white, $mint-cream);
  overflow-x: hidden;
}

.container-contact-us {
  background-color: $azure;
  .custom-form{
    font-weight: $font-weight-normal;
  }

  :focus {
    outline: none;
  }

  label{
    font-size: 0.875rem;
    color: $shakespeare;
    margin-bottom: .2rem;
  }

  .input-container {
    padding: 0;
    position: relative;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"]{
    width: 100%;
  }

  .input {
    border: 0;
    padding: 0 0 5px;
    background-color: transparent;
    border-bottom: 1px solid $powder-blue;
  }

  .input ~ .input-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $neptune;
  }

  .input:focus ~ .input-border {
    width: 100%;
    transition: 0.5s;
  }

  .error{
    font-size: 12px;
    color: #e7003b;
    padding: 2px 0;
    display: block;
    min-height: 20px;
  }
}

#send-message-success{
  position: relative;
  width: 100%;
  .send-message-success{
    border-radius: $border-radius-lg;
    background: $skeptic;
    color: $white;
    .small-title{
      text-transform: uppercase;
      font-weight: $font-weight-600;
      letter-spacing: 3px;
    }
    .small-desc{
      font-weight: $font-weight-light;
    }
  }
}


.form-recapcha .form-recapcha-wrap div {
  text-align: center;
  width:auto !important;
}
.form-recapcha .form-recapcha-wrap div div {
  display: inline-block;
  width:auto !important;
}