.with-placeholder {
  .carousel-item {
    width: calc(33% - 6px);
    display: inline-block;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 1000px){
  .with-placeholder {
    .carousel-item {
      width: calc(50% - 12px);
      display: inline-block;
      float: left;
      margin: 0 6px;
    }
    .carousel-item:nth-child(3) {
      display: none;
    }
  }
}


@media (max-width: 767px){
  .with-placeholder {
    .carousel-item {
      width: calc(50% - 12px);
      display: inline-block;
      float: left;
      margin: 0 6px;
    }
    .carousel-item:nth-child(3) {
      display: none;
    }

  }
}

.thumb-img {
  width: 100%;
  background: #fff;
}

@media (min-width: 768px) and (max-width: 1000px){
  .container-press{
    .video-carousel, .latest-updates-carousel, .partners-updates-carousel{

      .carousel-item{
        .thumbnail{
          .video-container{
            .play{
              svg{
                margin: -3px 5px 0 5px;
              }
            }
          }
          .caption{
            h4{
              font-size: 12px;
              height: 45px;
            }
          }
        }
      }

      .slick-prev,
      .slick-next {
        &:before {
          font-size: 30px;
        }
      }
      .slick-prev {
        left: -37px;
      }
      .slick-next {
        right: -37px;
      }
    }
  }
}

@media (max-width: 767px){
  .container-press{
    .video-carousel, .latest-updates-carousel, .partners-updates-carousel{

      .carousel-item{
        .thumbnail{
          .caption{
            h4{
              font-size: 12px;
              height: 60px;
            }
          }
        }
      }

      .slick-prev,
      .slick-next {
        &:before {
          font-size: 30px;
        }
      }
      .slick-prev {
        left: -37px;
      }
      .slick-next {
        right: -37px;
      }
    }
  }
  .container-press{
    h1,h2{
      font-size: 30px;
    }
  }
}

.video-carousel, .latest-updates-carousel, .partners-updates-carousel{
  .carousel-item{
    padding: 0 6px;

    .thumbnail{
      padding:0;
      border: 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

      .video-container{
        position: relative;

        img{
          width: 100%;
        }

        .play{
          width: 40px;
          height: 40px;
          padding: 10px;
          background: #ffffff;
          border-radius: 50%;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
          position: absolute;
          z-index: 1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          cursor: pointer;
          svg{
            width:20px;
            height:20px;
            margin-left: 5px;
            fill: #34445b;
          }
        }
      }

      .caption{
        background-color: #fff;
        h4{
          color:#438bad;
          font-size: 15px;
          line-height: 1.3;
          height: 38px;
          overflow: hidden;
        }
      }

      a{
        text-decoration: none;
        &:focus{
          outline: none;
        }
      }

    }

    &:hover{

      cursor: pointer;

      .thumbnail{
        .video-container{
          .play{
            svg{
              fill: #e4b030;
            }
          }
        }
      }

    }
  }

}