html,
body{
  font-family: 'Quasimoda', sans-serif !important;
}
.container-jumbotron{
  h1{
    color: #438bad;
  }
  p{
    color: #597a84;
    font-weight: 300;
    line-height: 1.6rem;
  }
  .illustration{
    .btn-play{
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      cursor: pointer;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      .play{
        width: 15px;
        height: 15px;
        font-size: 0;
        display: inline-block;
        svg{
          width:100%;
          height:100%;
          fill: #34445b;
        }
      }

      &:hover{
        .play{
          .svg{
            fill: #ffffff;
            transition: all 0.3s;
          }
        }
      }
    }
    img{
      max-width: 490px;
    }
  }
}

// Tablet portrait
@media (min-width: 768px) and (max-width: 1000px) {
  .container-jumbotron{
    .illustration{
      img{
        max-width: 490px;
        margin: 0 auto;
      }
    }
  }
}

// Mobile portrait, landscape
@media (max-width: 767px) {
  .container-jumbotron{
    .illustration{
      .btn-play{
        .play{
          width: 30px;
          height: 30px;
          margin-left: 5px;
          padding: 0;
        }
      }
      img{
        max-width: 300px;
        margin: 0 auto;
      }
    }
  }
}

.partners{
  font-size: 0;
  position: relative;
  li{
    display: inline-block;
    a{
      display: inline-block;
      background-color: #fff;
    }
    img{
      mix-blend-mode: luminosity;
    }
  }
  .partners-Button{
    position: absolute;
    z-index: 1;
    left: 50%;
    opacity: 0;
    top: 50%;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
  @media (min-width: 880px){
    ul {
      transition: 0.5s;
      will-change: transform;
      filter: blur(0);
    }
    &:hover{
      ul {
        opacity: .7;
        filter: blur(10px);
        -moz-filter: blur(10px);
        -webkit-filter: blur(10px);
        transform: scale(.95);
        -moz-transform: scale(.95);
        -webkit-transform: scale(.95);
      }
      .partners-Button{
        opacity: 1;
      }
    }
  }
}


.ost-triangleSpace{
  padding-top: 4em;
  width: 100%;
}

.ost-backward-triangle{
  position: absolute;
  left: -40px;
  right: -40px;
  top: -60px;
  height: 120px;
  transform: rotate(-0.8deg);
  background: #fff;
  @media (max-width: 512px){
    transform: rotate(-3.6deg);
  }
  @media (min-width: 513px) and (max-width: 768px){
    transform: rotate(-2.8deg);
  }
  @media (min-width: 769px) and (max-width: 1024px){
    transform: rotate(-1.8deg);
  }
  @media (min-width: 1025px){
    transform: rotate(-2.4deg);
  }
}

.ost-forward-triangle{
  position: absolute;
  left: -40px;
  right: -40px;
  bottom: -60px;
  height: 120px;
  transform: rotate(0.8deg);
  background: #fff;
  &.blue{
    background-color: #33445b;
  }
  &.aqua{
    background-color: #aee1e3;
  }
  &.trans{
    background-color: #eff9fa;
  }
  @media (max-width: 512px){
    transform: rotate(3.6deg);
  }
  @media (min-width: 513px) and (max-width: 768px){
    transform: rotate(2.8deg);
  }
  @media (min-width: 769px) and (max-width: 1024px){
    transform: rotate(1.8deg);
  }
  @media (min-width: 1025px){
    transform: rotate(2.4deg);
  }
}

.uber-banner{
  background: linear-gradient(80deg, #84D1D4 0%, #27B9D2 100%);
  padding: 10px 0;
  letter-spacing: 0.6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
    &:hover, &:focus{
      text-decoration: none;
      color: #fff;
    }
    .icon-megaphone{
      height: 20px;
      width: 30px;
      vertical-align: middle;
    }
  }