.navbar-simpletoken{
  @media(min-width: 768px){
    min-height: 75px;
  }
  .navbar-brand{
    padding: .6rem 1rem !important;
    @media(min-width: 768px){
      padding: .6rem 0rem !important;
    }
  }

  &.navbar{
    padding: 0 0;
    .nav-item{
      margin: 0 0.8rem;
      a{
        padding: .8rem 0 !important;
      }
    }
  }

  .ost-brand{
    margin-right: 1rem;
  }

  .navbar-toggler {
    background-color: #f4f8f9;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 17px;
    &:focus{
      outline: none;
    }
    .icon-bar {
      display: block;
      width: 26px;
      height: 2px;
      border-radius: 1px;
      margin: 5px 0;
      background-color: #34445b;
    }
  }

  .navbar-collapse{
    @media(max-width: 767px){
      background-color: #f4f8f9;
    }
  }

  .navbar-nav{
    .dropdown{
      a.nav-link{
        color: #34445b;
        font-weight: 300;
        font-size: 0.8rem;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        @media(min-width: 991px){
          font-size: 1rem;
        }
        &:hover,
        &:focus{
          outline: none;
          background-color: #fff;
        }
      }

      .dropdown-menu{
        padding: 12px 5px 0;
        @media(min-width: 768px){
          width: 200px;
          border: none;
          opacity: 0;
          z-index: -1;
          display: block;
          margin: 0;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
        }
        li{
          margin-bottom: 10px;
          &:hover{
            a{
              display: inline-block;
              background-color: #f6f7f7;
            }
          }
          a{
            padding: 5px 8px!important;
            white-space: unset;
            color: #597a84;
            font-size: 0.8rem;
            display: inline-block;
            &.bg-selected-nav{
              background-color: #f6f7f7;
              cursor: default;
            }
            &:hover{
              text-decoration: none;
            }
          }
          a.nav-svg-link{
            text-transform: uppercase;
            font-size: 0.85rem;
            padding: 8px 8px !important;
            color: #34445b;
          }
          img{
            display: block;
            margin-bottom: 5px;
          }
        }
        @media(min-width: 768px){
          &:after{
            content: "";
            position: absolute;
            width: 18px;
            height: 18px;
            background: #fff;
            transform: rotate(45deg);
            top: -8px;
            left: 25px;
            box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.1);
          }
        }
        &.open {
          opacity: 1;
          z-index: 1;
          transition: opacity .3s;
        }
      }
    }
  }
  .dropdown-toggle{
    &:after{
      border: none;
      content: "";
      display: inline-block;
      background: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/drop-down-arrow.svg') no-repeat center;
      background-size: 75%;
      height: 18px;
      width: 18px;
      position: relative;
      top: 3px;
    }
  }
}
