.side-by-side{
  h2{
    color: #438cad;
  }
  p{
    color: #597a84;
    font-weight: 300;
    line-height: 1.6rem;
  }
  ul{
    li{
      color: #597a84;
      font-weight: 300;
      font-size: 0.9rem;
      padding: 0.5rem 0;
      letter-spacing: 0.4px;
      border-bottom: 1px solid rgba(141, 201, 204, 0.5);
    }
  }
  .token-planner{
    background-color: #e7f6f7;
    .lead-2{
      color: #597a84;
      font-weight: 300;
      font-size: 0.9rem;
    }
    h6{
      color: #e4b030;
    }
  }
}