<h4>
  Ios App URL: <%= GlobalConstant::CompanyOtherProductUrls.ios_demo_app_download_url %>
</h4>

<h4>
  Android App URL: <%= GlobalConstant::CompanyOtherProductUrls.android_demo_app_download_url %>
</h4>