<section class="container-fluid block-container">
  <div class="row">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge" style="position: relative;top: -1px">
      <polygon points="0,100 100,0 0,0" fill="#ffffff" stroke="#ffffff"></polygon>
    </svg>
  </div>
  <div class="row pt-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
          <h1>Built for Scale at Low Costs</h1>
          <p>OST is designed for internet-grade transaction volumes and speeds. OST leads development of the OpenST Protocol for launching Branded Token economies for mainstream businesses and OpenST Mosaic, a scaling solution for finalizing many thousands of transactions per second asynchronously on Ethereum at low cost.</p>
          <div class="my-4">
            <a href="https://github.com/OpenST" class="btn btn-primary my-2 my-md-3" title="GITHUB" target="_blank">GITHUB</a>
            <a href="https://discuss.openst.org/" class="btn btn-secondary openst-forum my-2 my-md-3 ml-3 " title="PROTOCOL FORUM" target="_blank">PROTOCOL FORUM</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 mx-auto d-none d-md-block">
          <img class="img-fluid responsively-lazy"
               src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-blockchain-infrastructure@3x.png"
               alt="OST - Blockchain Infrastructure"
               data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-blockchain-infrastructure@3x.png"
               srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
            />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 info-card d-flex my-3 my-md-5">
          <div class="info-card-body p-3 pb-4 d-flex flex-column">
            <div style="flex: 1 1 auto;">
              <div class="d-flex align-items-center">
                <svg width="35" height="35">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-block-chain-infra-open-st-logo"></use>
                  </switch>
                </svg>
                <h5>Brand Tokens Protocol</h5>
              </div>
              <p>The OpenST Protocol enables the creation of Brand Tokens as stored value on auxiliary blockchains with the value of those tokens backed by staked cryptoassets on Ethereum.</p>
            </div>
            <div>
              <a href="https://drive.google.com/file/d/0Bwgf8QuAEOb7Z2xIeUlLd21DSjQ/view" class="white-paper-link text-link" target="_blank" title="WHITE PAPER">
                <svg width="15" height="15" class="align-middle">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#white-paper-blockchain-infrastructure"></use>
                  </switch>
                </svg>
                <span class="align-middle">OPENST WHITE PAPER</span>
              </a>
              <a href="https://github.com/OpenST/brandedtoken-contracts" class="github-link text-link ml-md-3 mt-3 mt-md-0" target="_blank" title="GITHUB">
                <svg width="15" height="15" class="align-middle">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-block-chain-infra-github-icon"></use>
                  </switch>
                </svg>
                <span class="align-middle">GITHUB</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 info-card d-flex my-3 my-md-5">
          <div class="info-card-body p-3 pb-4 d-flex flex-column">
            <div style="flex: 1 1 auto;">
              <div class="d-flex align-items-center">
                <svg width="35" height="35">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-block-chain-infra-mosaic-logo"></use>
                  </switch>
                </svg>
                <h5>Scalability Protocol</h5>
              </div>
              <p>OpenST Mosaic introduces metablockchains to enable internet-grade transaction throughput on Ethereum. Your transactions run at lightning speed on auxiliary blockchains with economic finality secured asynchronously on Ethereum.</p>
            </div>
            <div>
              <a href="https://github.com/OpenSTFoundation/mosaic-contracts/blob/develop/docs/mosaicv0.pdf" class="white-paper-link text-link" target="_blank" title="WHITE PAPER">
                <svg width="15" height="15" class="align-middle">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#white-paper-blockchain-infrastructure"></use>
                  </switch>
                </svg>
                <span class="align-middle">MOSAIC WHITE PAPER</span>
              </a>
              <a href="https://github.com/OpenST/mosaic-contracts" class="github-link text-link ml-md-3 mt-3 mt-md-0" target="_blank" title="GITHUB">
                <svg width="15" height="15" class="align-middle">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-block-chain-infra-github-icon"></use>
                  </switch>
                </svg>
                <span class="align-middle">GITHUB</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>