<section class="container-powered kit py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-6 mx-md-auto text-center">
        <h1>Also Powered by
          <svg class="ost-powered-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
            </switch>
          </svg>
        </h1>
        <p class="mb-4">
          OST provides a complete range of blockchain solutions to enable our clients to create the future of brand loyalty.
        </p>
      </div>
    </div>
    <div class="row container-powered-containers">
      <div class="col col-md-10 col-xl-8 mx-md-auto">
        <div class="row">
          <div class="col-sm-12 col-md-6 mx-auto d-flex mb-4">
            <div class="container-1 rounded p-4 d-flex flex-column">
              <div style="flex: 1 1 auto">
                <svg class="d-block" width="141" height="27">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-view-brand-nav-menu"></use>
                  </switch>
                </svg>
                <p class="my-2">View and analyze transactions across the OST blockchains. Get a macro view of the entire OST ecosystem. Zoom in to view transactions within a particular OST powered digitial community.</p>
              </div>
              <div>
                <a href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" class="text-link" target="_blank" title="Explore Ost View">EXPLORE OST VIEW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>