// Import theme variables
@import "../../ost_theme/variables";

.container-stats {
  background-color: $powder-blue;
  .stats-value{
    margin: 0;
    color: $white;
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
  }
  .stats-desc{
    color: $blue-800;
    font-weight: $font-weight-normal;
  }

  .descriptive-icons {
    height: 50px;
    width: 28px;

    @media (max-width: map-get($grid-breakpoints, "lg") ) {
      width: 45px;
      height: 45px;
    }
  }

  .ost-icon{
    height: 50px;
    width: 28px;
  }
}