<div class="container-about-nav">
  <div class="container-fluid">

    <div class="row nav-gradient">
      <div class="mx-auto col-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

        <ul class="nav">
          <li class="nav-item active col-3 col-sm-3">
            <a class="nav-item scroll" href="#team">Team Members</a>
          </li>
          <li class="nav-item col-3 col-sm-3">
            <a class="nav-item scroll" href="#advisors">Advisors Team</a>
          </li>
          <li class="nav-item col-3 col-sm-3">
            <a class="nav-item scroll" href="#extendedTeam">Extended Team</a>
          </li>
          <li class="nav-item col-3 col-sm-3">
            <a class="nav-item scroll" href="#earlyBackers">Early Backers</a>
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>
