<div class="container text-center">
  <div class="row documents">
    <h2 class="heading">Documents</h2>
    <div class="small-title-2">Project Deck / Whitepaper</div>
    <a href="https://drive.google.com/file/d/0B4f0lcszU8fneEhfdW5mVkd3Qzg/view" class="btn-common btn-grey btn-10 download-btn min-width-240" target="_blank">
      <span>PDF</span>&nbsp;<span class="download-icon"></span>
    </a>
    <a href="https://www.slideshare.net/slideshow/embed_code/key/BhNr7eoLmfAtr1" class="btn-common btn-grey btn-10 download-btn min-width-240" target="_blank">
      <span>SlideShare</span>&nbsp;<span class="download-icon"></span>
    </a>
    <span class="small-title">Technical Whitepaper</span>
    <span class="small-desc">Coming soon - Sign up to be notified</span>
    <p class="office-locations">Simple Token is a Hong Kong company with offices in Berlin, Germany and Pune, India.</p>
  </div>
</div>