<div id="earlyBackers" class="paddingTop57">
  <div class="container-fluid text-center">
    <div class="row early-investors">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 mx-auto">
            <h2 class="heading">Early Backers</h2>
            <ul class="row">
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://www.tencent.com/zh-cn/index.html" target="_blank" title="Tencent">
                  <span class="tensent-logo"></span>
                </a>
              </li>
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="http://bppe.com/" target="_blank" title="Blackpine">
                  <span class="blackpine-logo"></span>
                </a>
              </li>
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://www.greycroft.com/" target="_blank" title="Greycroft">
                  <span class="greycroft-logo"></span>
                </a>
              </li>
            </ul>
            <ul class="row">
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://500.co/" target="_blank" title="500 startups">
                  <span class="startups-logo"></span>
                </a>
              </li>
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://vectr.co/" target="_blank" title="Vectr">
                  <span class="vectr-logo"></span>
                </a>
              </li>
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="http://correlationvc.com/" target="_blank" title="Corrilation Ventures">
                  <span class="corrilation-logo"></span>
                </a>
              </li>
            </ul>
            <ul class="row">
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://www.hashed.com/" target="_blank" title="Hashed">
                  <span class="blockchain-partners-korea-logo"></span>
                </a>
              </li>
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://www.kryptonite1.co/" target="_blank" title="Kryptonite1">
                  <span class="kryptonite-logo"></span>
                </a>
              </li>
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://svkcrypto.wordpress.com/" target="_blank" title="SVK Crypto">
                  <span class="svk-crypto-logo"></span>
                </a>
              </li>
            </ul>
            <ul class="row">
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://kenetic.capital/" target="_blank" title="Kenetic Capital">
                  <span class="kenetic-capital-early-backers-logo"></span>
                </a>
              </li>
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="http://cmcryptocapital.com/" target="_blank" title="CM Crypto Capital">
                  <span class="cm-crypto-capital-logo"></span>
                </a>
              </li>
              <li class="col-12 col-sm-4" itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" href="https://www.linkedin.com/in/mickhagen/" target="_blank" title="Mick Hagen">
                  <span class="mick-hagen-logo"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>