<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="team text-center">
        <h2 class="heading">Founding Team</h2>
        <div class="row">

          <div class="col-12 col-sm-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://www.linkedin.com/in/jasonsethgoldberg/" target="_blank" title="Jason Goldberg" class="diB team-member">
              <div class="jason-image rounded-circle"></div>
              <div class="member-name">
                <span itemprop="name" class="name-link">Jason Goldberg</span>
              </div>
              <div class="job-title">
                <span itemprop="jobTitle">Director & CEO</span>, <span itemprop="Organization">Simple Token</span>
                  <br/><span itemprop="jobTitle">CEO</span>, <span itemprop="Organization">Pepo</span>
                  <br/>Prior: <span itemprop="Organization">Hem</span>, <span itemprop="Organization">Fab</span>, <span itemprop="Organization">Social Median</span>
              </div>
            </a>
          </div>

          <div class="col-12 col-sm-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://www.linkedin.com/in/nishith-shah-325b977/" target="_blank" title="Nishith Shah" class="diB team-member">
              <div class="nishith-image rounded-circle"></div>
              <div class="member-name">
                <span itemprop="name" class="name-link">Nishith Shah</span>
              </div>
              <div class="job-title">
                <span itemprop="jobTitle">Director & CTO</span>, <span itemprop="Organization">Simple Token</span>
                <br/>Prior: <span itemprop="Organization">Hem</span>, <span itemprop="Organization">Fab</span>, <span itemprop="Organization">Social Median</span>
              </div>
            </a>
          </div>

          <div class="col-12 col-sm-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://www.linkedin.com/in/benjaminbollen/" target="_blank" title="Ben Bollen" class="diB team-member">
              <div class="ben-image rounded-circle"></div>
              <div class="member-name">
                <span itemprop="name" class="name-link">Ben Bollen</span>
              </div>
              <div class="job-title">
                <span itemprop="jobTitle">Chief Technology Strategist</span>, <span itemprop="Organization">Simple Token</span>
                <br/>Prior: <span itemprop="Organization">Monax</span>, <span itemprop="Organization">Hyperledger Burrow</span>, <span itemprop="Organization">Maidsafe</span>
              </div>
            </a>
          </div>

        </div>
        <div class="row">

          <div class="col-12 col-sm-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://www.linkedin.com/in/pauldups/" target="_blank" title="Paul J du Plessis" class="diB team-member">
              <div class="paul-image rounded-circle"></div>
              <div class="member-name">
                <span itemprop="name" class="name-link">Paul J du Plessis</span>
              </div>
              <div class="job-title">
                <span itemprop="jobTitle">Director Market Development, Simple Token</span>
                <br/>Prior: <span itemprop="Organization">Monax</span>, <span itemprop="Organization">SilverBridge</span>
              </div>
            </a>
          </div>

          <div class="col-12 col-sm-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://www.linkedin.com/in/jbanks82/" target="_blank" title="Jason Banks" class="diB team-member">
              <div class="jason-banks-image rounded-circle"></div>
              <div class="member-name">
                <span itemprop="name" class="name-link">Jason Banks</span>
              </div>
              <div class="job-title">
                <span itemprop="jobTitle">Lead Engineer, Simple Token</span>
                <br/>Prior: <span itemprop="Organization">Monax</span>, <span itemprop="Organization">Shearman & Sterling</span>
              </div>
            </a>
          </div>

          <div class="col-12 col-sm-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://www.linkedin.com/in/sunilkhedar/" target="_blank" title="Sunil Khedar" class="diB team-member">
              <div class="sunil-image rounded-circle"></div>
              <div class="member-name">
                <span itemprop="name" class="name-link">Sunil Khedar</span>
              </div>
              <div class="job-title">
                <span itemprop="jobTitle">Founder & CTO, Pepo</span>
                <br/>Prior: <span itemprop="Organization">Hem</span>, <span itemprop="Organization">Fab</span>, <span itemprop="Organization">Social Median</span>
              </div>
            </a>
          </div>

        </div>

        <div class="row">

          <div class="col-12 col-sm-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://www.linkedin.com/in/lionellolunesu/" target="_blank" title="Lionello Lunesu" class="diB team-member">
              <div class="lio-image rounded-circle"></div>
              <div class="member-name">
                <span itemprop="name" class="name-link">Lionello Lunesu</span>
              </div>
              <div class="job-title">
                <span itemprop="jobTitle">Engineering Lead</span>, <span itemprop="Organization">Simple Token</span>
                <br/><span itemprop="Organization">Enuma</span>
              </div>
            </a>
          </div>

          <div class="col-12 col-sm-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
            <a itemprop="url" href="https://www.linkedin.com/in/antoinecote/" target="_blank" title="Antoine Cote" class="diB team-member">
              <div class="antoien-image rounded-circle"></div>
              <div class="member-name">
                <span itemprop="name" class="name-link">Antoine Cote</span>
              </div>
              <div class="job-title">
                <span itemprop="jobTitle">Engineering Lead, Simple Token</span>
                <br/><span itemprop="Organization">Enuma</span>
              </div>
            </a>
          </div>

        </div>

        <div class="row">
          <div class="join-team">Join the project team: <span>hiring@simpletoken.org</span></div>
          <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124"/>
        </div>
      </div>
    </div>
  </div>
</div>