<div class="container" style="margin-bottom: 30px">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 mx-auto">
      <div class="advisors">
        <h2 class="heading text-center">Security Auditors</h2>
        <ul class="row">
          <li class="col-12 col-sm-4">
            <a href="https://zeppelin.solutions/" title="Zeppelin" target="_blank">
              <span class="z-audits-logo"></span>
            </a>
          </li>
          <li class="col-12 col-sm-4">
            <a href="https://cure53.de/" title="Cure53" target="_blank">
              <span class="cure53-logo"></span>
            </a>
          </li>
          <li class="col-12 col-sm-4">
            <a href="https://www.bokconsulting.com.au/" title="Bok Consulting" target="_blank">
              <span class="bok-consulting-logo"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>