<div class="container-work-with-us">
  <div class="container">

    <div class="row">

      <div class="col-12 col-sm-10 col-sm-offset-1 mx-auto">

        <div class="row">
          <div class="col-12 text-center">
            <h2 class="heading">Work with us</h2>
            <p>We are looking for people who crave a challenge -- who want to work at the nexus of blockchain, cryptocurrency, and the future of business and society. We are a fast moving team with high expectations and a rewarding culture of learning, mentoring, and coaching. If you’re looking to have a practical impact and solve real-world problems with blockchain technologies, get in touch with us!</p>
            <a href="/careers" class="btn btn-primary btn-features" title="Job Openings">Job Openings</a>
            <img src="https://d36lai1ppm9dxu.cloudfront.net/assets/image/join-team-divider-3x.png" width="124"/>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
