// Import theme variables
@import "../../ost_theme/variables";



.abouthead{

  .abouthead-content {
    letter-spacing: 1.7px;
    margin: 15px 0 30px;
  }
}

.container-about-nav{

  .navbar-nav{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-item {
    text-align: center;
    color: $blue-800;
    font-size: 18px;
    font-weight: $font-weight-light;
    padding: 15px 0;
    &.active{
      a{
        color: $teal;
      }
      &:before{
        content: '';
        display: inline-block;
        border-bottom: solid 4px $teal;
        width: 100%;
        bottom: -1px;
        position: absolute;
        left: 0;
      }
    }
    &:hover, &:focus{
      text-decoration: none;
    }
  }

  .nav-gradient{
    border-bottom: solid 2px $teal;
  }
  ul{
    li{
      list-style-type: none;
    }
  }
}

.container-team{
  &.container-team-bg{
    background: linear-gradient(to bottom, #f3f9f4 0%, $white 100px, $white 100%);
  }

  .core-team,
  .advisor-team{

    .thumbnail{
      padding:0;
      border: none;
      margin-bottom: 0;

      .caption{

        padding: 10px 0;

        [itemprop="name"]{
          margin-top: 15px;
          margin-bottom: 10px;
        }

        [itemprop="jobTitle"]{
          color: $blue-800;
          margin: 5px 0;
        }

        //TODO make generic as all Mayur
        a{
          color: $blue-900;
          font-weight: $headings-font-weight;
          &:hover, &:focus{
            text-decoration: none;
            color: $yellow-500;
          }
        }
      }

    }

  }
}

.early-investors{
  background: $blue-900;
  padding: 40px 0;
  margin-top: 0;
  margin-bottom: 40px;
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }
  .heading{
    color: $white;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .col-sm-4{
    margin-bottom: 25px;
    text-align: center;
    min-height: 60px;
  }
}

.advisors{
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }
  .col-sm-4{
    margin-bottom: 25px;
    text-align: center;
    min-height: 66px;
  }
}


.office-locations{
  margin-bottom: 30px;
  color: $blue-800;
  font-size: 18px;
  margin-top: 50px;
}


.nav-sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: $white;
}

.paddingTop57{
  @media (min-width: 415px) {
    padding-top: 57px;
  }
  padding-top: 83px;
}

.container-work-with-us{
  .heading{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  p{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  img{
    display: block;
    margin: 50px auto 0;
  }
}