// Import functions as variables depend on functions
@import "../../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../../ost_theme/variables";



.abouthead{

  .abouthead-content {
    letter-spacing: 1.7px;
    margin: 15px 0 30px;
  }
}

.profile-links {
  font-size: $text1-size;
}

.container-about-nav{

  .navbar-nav{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-item {
    text-align: center;
    color: $blue-800;
    font-size: 18px;
    font-weight: $font-weight-300;
    padding: 15px 0;
    &.active{
      a{
        color: $teal;
      }
      &:before{
        content: '';
        display: inline-block;
        border-bottom: solid 4px $teal;
        width: 100%;
        bottom: -1px;
        position: absolute;
        left: 0;
      }
    }
    &:hover, &:focus{
      text-decoration: none;
    }
  }

  .nav-gradient{
    border-bottom: solid 2px $teal;
  }
  ul{
    li{
      list-style-type: none;
    }
  }
}

.container-team{
  &.container-team-bg{
    background: linear-gradient(to bottom, #f3f9f4 0%, $white 100px, $white 100%);
  }

  .core-team,
  .advisor-team{

    .thumbnail{
      padding:0;
      border: none;
      margin-bottom: 0;

      .caption{

        padding: 10px 0;

        [itemprop="name"]{
          font-size: 20px;
          height: 28px;
          line-height: 24px;
          font-weight: $font-weight-300;
          color: $blue-900;
          margin-top: 15px;
          margin-bottom: 5px;
        }
        [itemprop="jobTitle"]{
          font-size: 14px;
          height: 18px;
          line-height: 14px;
          font-weight: $font-weight-300;
          color: $blue-900;
          margin: 5px 0;
        }
        a{
          color: $blue-900;
          font-weight: $headings-font-weight;
          &:hover, &:focus{
            text-decoration: none;
            color: $yellow-500;
          }
        }
      }

    }

  }

  .join-team{
    text-align: center;
    color: $blue-800;
    font-size: 20px;
    font-weight: $font-weight-300;
    span{
      font-weight: $headings-font-weight;
    }
  }

}

.early-investors{
  background: $blue-900;
  padding: 40px 0;
  margin-top: 0;
  margin-bottom: 40px;
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }
  .heading{
    color: $white;
    font-weight: $font-weight-600;
    margin-bottom: 40px;
    font-size: 38px;
    margin-top: 0;
  }
  .col-sm-4{
    margin-bottom: 25px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 60px;
  }
}

.advisors{
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }
  .heading{
    color: #438cad;
    font-weight: $font-weight-600;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 38px;
  }
  .col-sm-4{
    margin-bottom: 25px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 66px;
  }
  .advisor-name{
    font-weight: $font-weight-300;
    margin: 0;
    font-size: 16px;
    @media(min-width: 1200px){
      font-size: 20px;
    }
  }
}

.documents{
  .heading{
    color: #6da4a9;
    font-weight: 300;
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 44px;
  }
  .small-title-2{
    color: $green-500;
    font-weight: $font-weight-600;
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .min-width-240{
    min-width: 240px;
  }
}

.office-locations{
  margin-bottom: 30px;
  color: $blue-800;
  font-size: 18px;
  margin-top: 50px;
}


.nav-sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: $white;
}

.paddingTop57{
  @media (min-width: 415px) {
    padding-top: 57px;
  }
  padding-top: 83px;
}

.container-work-with-us{
  .heading{
    color: $green-400;
    font-weight: $font-weight-600;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 38px;
  }
  p{
    color: $blue-800;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 30px;
    span{
      font-weight: $headings-font-weight;
      font-size: 20px;
    }
  }
  img{
    display: block;
    margin: 50px auto 0;
  }
}