<section class="container-apps-built">
  <div class="container text-center my-6">
    <h3>Apps Built with the OST Wallet SDK</h3>
    <p class="mb-6 pb-6 pb-md-0">Live on Ethereum</p>
    <div class="shadow-box p-md-6 row">
      <div class="col-12 col-md-5 video-wrapper">
        <video autoplay="" loop="" muted="" playsinline="" poster="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-jumbo-video-cover.png" style="width: 300px">
          <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-jumbo-video-normal.mp4" type="video/mp4">
        </video>
        <div>
          <a href="javascript:void(0)" class="videoSpeaker mute videoMuteUnMute" title="Click to Unmute">
            <span></span>
          </a>
        </div>`
      </div>
      <div class="col-12 col-md-6 text-left">
        <p>Meet the people shaping the crypto movement</p>
        <p>
          Pepo demonstrates that crypto UX can be gorgeous. Pepo is so fast and easy to use you’ll rethink what’s
          possible with crypto. Pepo is the first crypto app approved by Apple and Google, with in-app purchase and
          cash-out options.
        </p>
        <p>
          "Pepo shows that blockchain is ready for primetime."
        </p>
        <p>
          -Decrypt
        </p>
        <p>
          Behind the scenes
        </p>
        <p>
          Pepo is powered by OST's industry-leading technology.
        </p>
        <a href="" class="text-link">Developer Resources</a>
        <div class="mt-6">
          <a href="https://play.google.com/store/apps/details?id=com.pepo.v2.production" target="_blank" title="Download Pepo App - Android" class="d-inline-block" rel="noopener noreferrer nofollow">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/google-play.png" alt="Google Play" class="img-fluid" width="175">
          </a>
          <a href="https://apps.apple.com/app/pepo-by-ost/id1479691067" target="_blank" title="Download Pepo App - iOS" class="ml-lg-3 mt-4 mt-lg-0 d-inline-block" rel="noopener noreferrer nofollow">
            <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/app-store.png" alt="App Store" class="img-fluid" width="175">
          </a>
        </div>
      </div>


    </div>
  </div>

</section>