<section class="container-apps-built">
  <div class="container text-center my-6">
    <h2 class="midnight-blue">Apps Built with the Ost Wallet SDK</h2>
    <p class="mb-xl-6 pb-5 sub-heading font-weight-bold text-uppercase mt-4">&mdash;Live on Ethereum&mdash;</p>
    <div class="d-block d-xl-none mb-6 pb-6 pb-xl-0 ">
      <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" alt="Pepo Icon " class="img-fluid mb-3" width="168">
      <p class="desc-p-one">Meet the people shaping the crypto movement</p>
    </div>
    <div class="shadow-box m-1 m-xl-0 row">
      <div class="col-12 col-xl-4 video-wrapper pr-0">
        <div class="videoWrapper">
        <video autoplay="" loop="" muted="" playsinline="" poster="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-jumbo-video-cover.png" style="width: 300px">
          <source src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-jumbo-video-normal.mp4" type="video/mp4">
        </video>
        <div>
          <a href="javascript:void(0)" class="videoSpeaker videoMuteUnMute" title="Click to Unmute">
            <span></span>
          </a>
        </div>
        </div>
      </div>
      <div class="col-12 col-xl-7 text-center text-xl-left pl-0 text-section pr-0">
        <div class="row px-0 mx-0">


        <div class="d-none d-xl-block col-12 px-0" style="margin-top: 40px">
          <img src="https://d3attjoi5jlede.cloudfront.net/images/pre-launch/pepo-logo.png" alt="Pepo Icon " class="img-fluid" width="168">
          <p class="desc-p-one" style="margin-top: 10px">Meet the people shaping the crypto movement</p>
        </div>

        <div class="col-12 desc-p-two order-3 order-xl-1 px-0">
            <p class="mb-3">
            Pepo demonstrates crypto UX can be gorgeous. Ost technology makes Pepo so fast and easy to use you’ll
            re-imagine what’s possible for crypto apps.
            </p>

            <p>
              Pepo is the first blockchain-powered app approved by Apple and Google with in-app purchase and cash-out options.
              Download Pepo today and see for yourself!
            </p>
        </div>
        <a href="https://decrypt.co/10091/taking-ethereum-mainstream-social-media-app-pepo-goes-live-at-devcon-5"
           rel="noopener noreferrer nofollow"
           target="_blank" class="col-12 desc-p-three font-weight-600 font-italic font mb-0 order-1 order-xl-2 px-0">
          <span class="font-weight-bold red-quotes">" </span>Pepo shows that blockchain is ready for primetime.<span class="font-weight-bold red-quotes">"</span>
        </a>
        <p class="col-12 order-2 order-xl-3 px-0 quote-by">
          - Decrypt.co
        </p>
<!--        <p class="col-12 mb-0 font-weight-bold d-none d-md-block order-md-4 px-0" style="margin-top: 45px">-->
<!--          Under the hood-->
<!--        </p>-->
<!--        <p class="col-12 d-none d-md-block order-md-5 px-0" style="margin-top: 5px">-->
<!--          Ost technology powers Pepo. Learn more at-->
<!--        </p>-->
<!--          <div class="col-12 d-none d-md-inline order-md-6 px-0" style="margin-top: 10px">-->
<!--            <a href="<%#=GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>" class="text-link ">Developer Resources</a>-->
<!--          </div>-->

        </div>
        <div class="app-links">
          <a href="https://play.google.com/store/apps/details?id=com.pepo.v2.production" target="_blank" title="Download Pepo App - Android" class="d-inline-block" rel="noopener noreferrer nofollow">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-pepo-play-store.png" alt="Google Play" class="img-fluid android-app-link">
          </a>
          <a href="https://apps.apple.com/app/pepo-by-ost/id1479691067" target="_blank" title="Download Pepo App - iOS" class="ml-xl-3 mt-xl-0 d-inline-block" rel="noopener noreferrer nofollow">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-pepo-app-store.png" alt="App Store" class="img-fluid ios-app-link" >
          </a>
        </div>
      </div>


    </div>
  </div>

</section>