<section class="container-fluid block-container pt-5" id="blockchain-infra">
  <div class="row">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
          <h2>Blockchain Infrastructure</h2>
          <p>
            The OpenST Infrastructure enables scalable token economies. OST leads development on the OpenSt Protocol, a framework for building highly scalable blockchain toekn econimies and also OpenST Mosaic, a layer-2 scaling solution for finalizing many thousands of transactions per second asynchronously on Ethereum at signifiacntly lower gas prices. All OpenST releases are provided via open source license for anyone to use and to build and improve on.
          </p>
          <div class="my-4">
            <a href="" class="btn btn-primary my-2 my-md-3" title="GITHUB FOUNDATION">GITHUB FOUNDATION</a>
            <a href="" class="btn btn-secondary openst-forum my-2 my-md-3 ml-3 " title="OPEN ST FORUM">OPEN ST FORUM</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 mx-auto d-none d-md-block">
          <img class="img-fluid responsively-lazy"
               src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-blockchain-infrastructure@3x.png"
               alt="OST - Blockchain Infrastructure"
               data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-blockchain-infrastructure@3x.png"
               srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
            />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 info-card d-flex my-3 my-md-5">
          <div class="info-card-body p-3 d-flex flex-column">
            <div style="flex: 1 1 auto;">
              <div class="d-flex align-items-center">
                <svg width="35" height="35">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-block-chain-infra-open-st-logo"></use>
                  </switch>
                </svg>
                <h5>OPEN ST</h5>
              </div>
              <p>The OpenST protocol enables the creation of utility tokens on a utility blockchain while the value of those tokens is backed by staked crypto-assets on a value blockchain The OpenST Protocol establishes a bridge between the Ethereum value blockchain and a number of utility blockchains. </p>
            </div>
            <div>
              <a href="" class="white-paper-link">WHITE PAPER</a>
              <a href="" class="github-link ml-3">
                <svg width="15" height="15">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-block-chain-infra-github-icon"></use>
                  </switch>
                </svg>
                <span>GITHUB</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 info-card d-flex my-3 my-md-5">
          <div class="info-card-body p-3 d-flex flex-column">
            <div style="flex: 1 1 auto;">
              <div class="d-flex align-items-center">
                <svg width="35" height="35">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-block-chain-infra-mosaic-logo"></use>
                  </switch>
                </svg>
                <h5>MOSAIC</h5>
              </div>
              <p style="flex: 1 1 auto;">OpenST Mosaic is an overlay-consensus engine that adds transaction throughput capacity to Ethereum by leveraging Proof-of-Work to secure a large number of utility blockchains. OpenST Mosaic introduces 2nd-layer consensus rules for open validators that provide economic finality for the transactions executed on OpenST utility chains. </p>
            </div>
            <div>
              <a href="" class="white-paper-link">WHITE PAPER</a>
              <a href="" class="github-link ml-3">
                <svg width="15" height="15">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-block-chain-infra-github-icon"></use>
                  </switch>
                </svg>
                <span>GITHUB</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>