<section class="container-fluid container-launch-bt ost py-5 position-relative" id="discoverproducts" style="overflow: hidden">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-4 mx-auto">
      <svg class="svg ost-kit-logo mb-2">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
        </switch>
      </svg>
      <h1>The Complete Blockchain Toolkit for Business</h1>
      <p>
        OST KIT gives you all the tools you need to run your blockchain-powered economy on open scalable sidechains. Launch your own Branded Token without the ICO drama.
      </p>
      <p>
        Introducing OST KIT⍺ Phase II: Developers Proof of Concept. Sign up now!
      </p>
      <ul class="list-unstyled">
        <li class="clearfix">
          <span class="float-left">Token Design</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">Staking & Minting</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">Transactions</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">Users & Identity</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">Airdrops</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">Analytics</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">Administration</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
        <li class="clearfix">
          <span class="float-left">APIs</span>
          <span class="float-right">
            <svg class="svg icon-checkmark">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-checkmark-gold"></use>
              </switch>
            </svg>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 p-md-0">
      <img class="img-fluid" src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-blockchain-toolkit-image-v2.png" alt="OST - Blockchain Toolkit"/>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="btn btn-primary" title="Discover Ost Kit">Discover Ost Kit⍺</a>
  </div>
  <div class="ost-triangleSpace"></div>
  <div class="ost-forward-triangle"></div>
</section>