<section class="container container-token-buy mt-5" id="token">

  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="row text-center">
        <div class="col-12">
          <h1 class="title mt-4">Where to <span>Buy $OST</span></h1>
          <p class="my-4">$OST is a cryptocurrency that can be used for staking against minting Branded Tokens within the OpenST protocol and also as a payment method in OST solutions.</p>
          <div class="row d-flex">
            <div class="col-xs-12 col-sm-4 align-self-end">
              <a class="d-inline-block" href="https://www.okex.com/" target="_blank" title="Buy OST on Okex">
                <span class="buy-ost-okex-icon"></span>
              </a>
              <div class="btn-container mt-4 mb-5">
                <a href="https://www.okex.com/" target="_blank" class="btn btn-primary" title="BUY NOW">BUY NOW</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 align-self-end">
              <a class="d-inline-block" href="https://www.binance.com/trade.html?symbol=OST_ETH" target="_blank" title="Buy OST on Binance">
                <span class="buy-ost-binance-icon"></span>
              </a>
              <div class="btn-container mt-4 mb-5">
                <a href="https://www.binance.com/trade.html?symbol=OST_ETH" target="_blank" class="btn btn-primary" title="BUY NOW">BUY NOW</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 align-self-end">
              <a class="d-inline-block" href="https://www.huobi.pro/ost_eth/exchange/" target="_blank" title="Buy OST on Huobi">
                <span class="buy-ost-huobi-icon"></span>
              </a>
              <div class="btn-container mt-4 mb-5">
                <a href="https://www.huobi.pro/ost_eth/exchange/" target="_blank" class="btn btn-primary" title="BUY NOW">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>