<section class="container-fluid container-token-buy py-md-5" id="token">

  <div class="row">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h1 class="title mt-4">Where to Buy the <span>OST</span> Token</h1>
          <p class="my-4 col-lg-10 mx-auto">The OST token is a cryptocurrency that can be used for staking when minting Branded Tokens within the OpenST protocol. It is also a payment method in OST solutions. The OST token can be purchased only through third-party exchanges.</p>
          <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3 align-self-end">
              <a class="d-block my-4" href="https://www.okex.com/" rel="noopener noreferrer nofollow" target="_blank" title="Buy OST on Okex" >
                <span class="buy-ost-okex-icon"></span>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3 align-self-end">
              <a class="d-block my-4" href="https://www.binance.com/trade.html?symbol=OST_ETH" rel="noopener noreferrer nofollow" target="_blank" title="Buy OST on Binance" >
                <span class="buy-ost-binance-icon"></span>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3 align-self-end">
              <a class="d-block my-4" href="https://www.hbg.com/ost_eth/exchange/" rel="noopener noreferrer nofollow" target="_blank" title="Buy OST on Huobi" >
                <span class="buy-ost-huobi-icon"></span>
              </a>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-3 align-self-end">
              <a class="d-block my-4" href="https://www.upbit.com/" rel="noopener noreferrer nofollow" target="_blank" title="Buy OST on Upbit" >
                <span class="buy-ost-upbit-icon"></span>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3 align-self-end">
              <a class="d-block my-4" href="https://www.coinsuper.com/cointrade?symbol=OST%2FBTC" rel="noopener noreferrer nofollow" target="_blank" title="Buy OST on Coinsuper" >
                <span class="buy-ost-coin-super-icon"></span>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3 align-self-end">
              <a class="d-block my-4" href="https://www.idcm.io/trading/OST_BTC" rel="noopener noreferrer nofollow" target="_blank" title="Buy OST on IDCM" >
                <span class="buy-ost-idcm-icon"></span>
              </a>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-3 align-self-end">
              <a class="d-block my-4" href="https://kyber.network/swap/eth_knc" rel="noopener noreferrer nofollow" target="_blank" title="Buy OST on Kyber" >
                <span class="buy-ost-kyber-icon"></span>
              </a>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3 align-self-end">
              <a class="d-block my-4" href="https://international.bittrex.com/Market/Index?MarketName=BTC-OST" rel="noopener noreferrer nofollow" target="_blank" title="Buy OST on Bittrex" >
                <span class="buy-ost-bittrex-icon"></span>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>