<section class="container-fluid container-upcoming-events py-5">
  <div class="row">
    <div class="container">
      <h3 class="text-center mb-4">Upcoming Events</h3>
      <div id="events-carousel-wrapper" style="min-height: 80px;">

      <script id="event-carousel" type="text/x-handlebars-template">
        <div class="bg-color">
          <a href="{{link}}" target="_blank" class="d-block" title="{{event_name}}">
            <div class="media content-wrapper align-items-center">
              <span class="dateEl">{{{date}}}</span>
              <div class="media-body content-body">
                <div class="heading">{{event_name}}</div>
                <p>{{description}}</p>
              </div>
              <svg width="15" height="20" class="svg-icon">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{icon}}"></use>
                </switch>
              </svg>
            </div>
          </a>
        </div>
      </script>

      </div>
    </div>
  </div>
</section>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.carousel.events.init(
        [
          {
            event_name: "OST LIVE",
            description: "People of OST: Paul Kuveke",
            icon: "events-podcast-icon",
            date: "<em>17</em>Sep",
            link: "http://youtube.com/OSTdotcom"
          },
          {
            event_name: "OST LIVE",
            description: "Guest: Thomas Power",
            icon: "events-podcast-icon",
            date: "<em>19</em>Sep",
            link: "http://youtube.com/OSTdotcom"
          },
          {
            event_name: "OST at Web3 Summit",
            description: "Berlin",
            icon: "events-event-icon",
            date: "<em>22</em>Oct",
            link: "https://web3summit.com/"
          },
          {
            event_name: "OST at Fellowship of Ethereum Magicians",
            description: "Prague",
            icon: "events-event-icon",
            date: "<em>28</em>Oct",
            link: "https://www.picatic.com/ethmagicians-prague-2018"
          },
          {
            event_name: "OST at DevCon 4",
            description: "Prague",
            icon: "events-event-icon",
            date: "<em>30</em>Oct",
            link: "https://devcon4.ethereum.org/"
          }
        ]
      )
    })
  </script>
<% end %>