<section class="container-fluid container-upcoming-events py-4">
  <div class="row">
    <div class="container">
      <h3 class="text-center mb-4 font-weight-normal">Upcoming Events</h3>
      <div id="events-carousel-wrapper" style="min-height: 80px;">

      <script id="event-carousel" type="text/x-handlebars-template">
        <div class="bg-color">
          <div class="media content-wrapper align-items-center">
            <span class="dateEl">{{{date}}}</span>
            <div class="media-body content-body">
              <div class="heading">{{title}}</div>
              <p>{{description}}</p>
            </div>
            <svg width="15" height="20" class="svg-icon">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{icon}}"></use>
              </switch>
            </svg>
          </div>
        </div>
      </script>

      </div>
    </div>
  </div>
</section>

<% content_for :end_js do %>
<script type="text/javascript">
  $(function() {
    ost.carousel.events.init(
      [
        {
          title: "OST LIVE - Partner Interviews: LGBT Foundadtion & Hornet",
          icon: "events-mic-icon",
          date: "<em>05</em>Sep",
        },
        {
          title: "Token Engineering Workshop",
          description: "Berlin Blockchain Week, Berlin",
          icon: "events-event-icon",
          date: "<em>06</em>Sep",
        },
        {
          title: "Benjamin Bollen presenting OpenST",
          description: "ETH Berlin, Berlin",
          icon: "events-event-icon",
          date: "<em>07</em>Sep",
        },
        {
          title: "OST LIVE - People of OST: Francis",
          icon: "events-mic-icon",
          date: "<em>10</em>Sep",
        },
        {
          title: "OST LIVE",
          icon: "events-mic-icon",
          date: "<em>12</em>Sep",
        },
        {
          title: "Benjamin Bollen & Jason Goldberg @UpBit dev conference",
          description: "Jeju, South Korea",
          icon: "events-event-icon",
          date: "<em>13</em>Sep",
        },
        {
          title: "Benjamin Bollen: Origin Protocol & OST",
          description: "Hashed Lounge, Seoul",
          icon: "events-event-icon",
          date: "<em>14</em>Sep",
        },
        {
          title: "OST LIVE - People of OST: Paul Kuveke",
          icon: "events-mic-icon",
          date: "<em>17</em>Sep",
        },
        {
          title: "OST LIVE - People of OST: Thomas Power",
          icon: "events-mic-icon",
          date: "<em>19</em>Sep",
        }
      ]
    )
  });
</script>
<% end %>