<section class="container-features">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-4 d-flex my-3 my-md-5">
        <div class="pt-4 d-flex flex-column text-center text-md-left">
          <div style="flex: 1 1 auto">
            <div class="align-items-center d-flex justify-content-center justify-content-md-start ">
              <svg width="50" height="39">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#available-now"></use>
                </switch>
              </svg>
              <h5 class="header-text d-inline-block ml-3 mb-0">Available Now</h5>
            </div>
            <p class="my-2 desc">
              Launch your own layer-2 Ethereum-based token in minutes and embed it into your app. We're ready when you are.
            </p>
          </div>
        </div>
      </div>

    <div class="col-12 col-md-4 d-flex my-3 my-md-5">
      <div class="pt-4 pl-md-4 d-flex flex-column text-center text-md-left">
        <div style="flex: 1 1 auto">
          <div class="align-items-center d-flex justify-content-center justify-content-md-start">
            <svg width="50" height="50">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dev-first"></use>
              </switch>
            </svg>
            <h5 class="header-text d-inline-block ml-3 mb-0">Developers First</h5>
          </div>
          <p class="my-2 desc">
            Easily integrate into existing apps with unified APIs and SDKs. No blockchain experience required.
          </p>
        </div>
      </div>
    </div>

  <div class="col-12 col-md-4 d-flex my-3 my-md-5">
    <div class="pt-4 pl-md-4 d-flex flex-column text-center text-md-left">
      <div style="flex: 1 1 auto">
        <div class="align-items-center d-flex justify-content-center justify-content-md-start">
          <svg width="40" height="39">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#regulatory-complaince"></use>
            </switch>
          </svg>
          <h5 class="header-text d-inline-block ml-3 mb-0">Regulatory Compliant</h5>
        </div>
        <p class="my-2 desc">
          Apps built with Ost are compliant. Approval from Apple and Google means users can buy tokens in-app and cash out.
          No additional licenses needed.
        </p>
      </div>
    </div>
  </div>
  </div>

  </div>


  </div>
</section>
<div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge">
    <polygon fill="#35445B" points="0,0 100,0 100,100"></polygon>
  </svg>
</div>