<section class="container-features">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 d-flex my-3 my-md-5">
        <div class="p-4 d-flex flex-column text-center text-md-left">
          <div style="flex: 1 1 auto">
            <div class="align-items-center d-flex justify-content-center justify-content-md-start ">
              <svg width="28" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
                </switch>
              </svg>
              <h5 class="header-text d-inline-block ml-3 mb-0">Available</h5>
            </div>
            <p class="my-2 desc">
              We're ready when you are. Launch your own Layer-2 Ethereum-based token in minutes and embed it into your app
            </p>
          </div>
        </div>
      </div>

    <div class="col-12 col-md-4 d-flex my-3 my-md-5">
      <div class="p-4 d-flex flex-column text-center text-md-left">
        <div style="flex: 1 1 auto">
          <div class="align-items-center d-flex justify-content-center justify-content-md-start">
            <svg width="28" height="28">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
              </switch>
            </svg>
            <h5 class="header-text d-inline-block ml-3 mb-0">Developers First</h5>
          </div>
          <p class="my-2 desc">
            Unified APIs and SDKs for simple integration into existing apps. No blockchain expertise required.
          </p>
        </div>
      </div>
    </div>

  <div class="col-12 col-md-4 d-flex my-3 my-md-5">
    <div class="p-4 d-flex flex-column text-center text-md-left">
      <div style="flex: 1 1 auto">
        <div class="align-items-center d-flex justify-content-center justify-content-md-start">
          <svg width="28" height="28">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
            </switch>
          </svg>
          <h5 class="header-text d-inline-block ml-3 mb-0">Regulatory Compliant</h5>
        </div>
        <p class="my-2 desc">
          We put in the work so you don't have to. Apps built using Ost technology are automatically compliant
          with no additional licenses needed, approved by Apple and Google. Users can buy tokens in-app and cash out
        </p>
      </div>
    </div>
  </div>
  </div>

  </div>


  </div>
</section>
<div class="row overflow-hidden">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge">
    <polygon fill="#35445B" points="0,0 100,0 100,100"></polygon>
  </svg>
</div>