<section class="container-fluid py-5">

  <div class="row text-center">
    <div class="col-12">
      <h2 class="mb-4" style="color: #34445b">Ready to Try?</h2>
      <a href="" class="btn btn-primary my-4 d-block d-md-inline-block" title="Schedule a Demo">Schedule a Demo</a>
      <a href="" class="btn btn-secondary my-4 ml-md-3 d-block d-md-inline-block" title="Register Now">Register Now</a>
    </div>
  </div>

</section>