<div class="w-100 content">

  {{#ifVideo video_embed article_link}}
    <div class="video-wrapper">
      <button type="button" class="font-weight-light btn video-btn h-100 w-100" data-toggle="modal" data-src="{{video_embed}}" data-target="#helpVideoModal">
        <span class="play-icon">
          <svg class="icon-play align-middle">
            <switch>
              <use class="icon-play" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
            </switch>
          </svg>
        </span>
      </button>
      {{#ifImage image}}
      <div class="img-wrapper">
        <img class="img-fluid" src="{{image}}" alt="image"/>
      </div>
      {{/ifImage}}
    </div>
  {{/ifVideo}}
  {{#ifArticle article_link}}
    <div class="article-wrapper">
      {{#ifImage image}}
      <div class="img-wrapper">
        <img class="img-fluid" src="{{image}}" alt="image"/>
      </div>
      {{/ifImage}}
    </div>
  {{/ifArticle}}

  {{#ifTitle title }}
    <div class="carousel-title">
      {{title}}
    </div>
  {{/ifTitle}}

  {{#ifDescription description}}
    <div class="carousel-description">
      {{description}}
    </div>
  {{/ifDescription}}

  {{#ifDate date}}
    <div class="w-100 date-wrapper">
      <div class='date-content'>
        <div class="date-text">{{date}}</div>
      </div>
    </div>
  {{/ifDate}}

</div>