<section class="container-fluid bg-image container-carousel">
  <div class="row">
    <div class="container">
      <h1 class="pl-2">
        <svg class="ost-nav-logo">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
          </switch>
        </svg>&nbsp;news
      </h1>
      <div id="home-carousel-wrapper" class="pb-5">
        <script id="one-el-carousel" type="text/x-handlebars-template">
          <div class="w-100 one-el-wrapper">
            <div class="content-wrapper">
              {{#ifArticle article_link}}
                <a href="{{article_link}}" target="_blank" title="{{title}}">
                  <%= render :partial => "/web/ost/index/home_carousel_content" %>
                </a>
              {{else}}
                <%= render :partial => "/web/ost/index/home_carousel_content" %>
              {{/ifArticle}}
            </div>
          </div>
        </script>

        <script id="two-el-carousel" type="text/x-handlebars-template">
          <div class="w-100 tow-el-wrapper">
            <div class="content-wrapper">
              {{#each this}}
                {{#ifArticle article_link}}
                  <a href="{{article_link}}" target="_blank" title="{{title}}">
                    <%= render :partial => "/web/ost/index/home_carousel_content" %>
                  </a>
                {{else}}
                  <%= render :partial => "/web/ost/index/home_carousel_content" %>
                {{/ifArticle}}
              {{/each}}
            </div>
          </div>
        </script>
      </div>
    </div>
  </div>
</section>

<% content_for :end_js do %>
  <script src="https://s3.amazonaws.com/wa.ost.com/ost/docs/ost-home-carousel-data-v1.jsonp"> </script>
<%end%>