<section class="container-jumbotron py-5 d-none d-md-block">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <h2 class="header-blue-900">Empowering Decentralized Economies</h2>
        <p class="mt-3">
          OST is a public blockchain platform for businesses with millions of users. Launch your own Branded Tokens and turn your business into a dynamic ecosystem.
        </p>
        <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="How it works">How it works</a>
        <a href="/partners" class="btn btn-secondary my-2 ml-3 smooth-scroll" title="Develop with us">Develop with us</a>
      </div>

      <div class="col-md-12 col-lg-6 text-center mt-3 mt-md-0">
        <div class="illustration w-100">
          <div class="btn-secondary btn btn-play" title="Watch Intro" data-toggle="modal" data-target="#helpVideoModal" data-src="https://www.youtube.com/embed/yJswJcnLYpU">
            <div class="play align-middle">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                </switch>
              </svg>
            </div>
            <span class="align-middle"></span>
          </div>
          <img
            class="img-fluid position-relative" alt="OST Jumbotron"
            src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-jumbotron-illustration@2x.png" />
          <p class="mt-2">Introducing of OpenST Mosaic Protocol</p>
        </div>
      </div>

    </div>
  </div>
</section>

<%= render :partial => "shared/web/modals/help_video" %>