<section class="container-jumbotron pt-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <h2>Connect to The Utility Blockchain</h2>
        <p class="mt-3">
          OST is developing the essential blockchain infrastructure and toolkit for businesses to help them tokenize their economies. No blockchain development experience needed. Watch how 60+ projects are already using OST technology for their apps and communities.
        </p>
        <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="Discover OST KIT⍺">Discover OST KIT⍺</a>
        <a href="/challenges" class="btn btn-secondary my-2 ml-xl-3 smooth-scroll" title="View All Projects">View All Projects</a>
      </div>

      <div class="col-md-12 col-lg-6 text-center mt-3 mt-md-0">
        <div class="illustration w-100">
          <div class="btn-secondary btn btn-play" title="Watch Intro" data-toggle="modal" data-target="#helpVideoModal" data-src="https://www.youtube.com/embed/yJswJcnLYpU">
            <div class="play align-middle">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                </switch>
              </svg>
            </div>
            <span class="align-middle">Watch Intro</span>
          </div>
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-hero-illustration-1x.png" srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-hero-illustration-2x.png 1000w" class="img-fluid position-relative" alt="Simple Token Play Video"/>
        </div>
      </div>

    </div>
  </div>
</section>

<%= render :partial => "shared/web/modals/help_video" %>