<section class="container-fluid liquidity-container-wrapper d-none d-md-block">
  <div class="row ">
   <div class="container">
     <div class="row pb-5">
       <div class="col-md-4 mx-auto">
         <img class="img-fluid responsively-lazy"
              src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-liquidity-branded-token-exchange@2x.png"
              alt="OST - Liquidity Branded Token"
              data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-liquidity-branded-token-exchange@2x.png"
              srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
           />
       </div>
       <div class="col-md-6 my-auto text-content">
         <h3 class="white-header">Liquidity Branded Token Exchange</h3>
         <p class="mt-4">OST's Branded Token Exchange, BTEX, will let your customers swap the Branded Tokens you create for other forms of value. OST is working towards securing licenses worldwide for BTEX on behalf of our clients.</p>
       </div>
     </div>
   </div>
  </div>
</section>