<section class="container-fluid liquidity-container-wrapper d-md-none">
  <div class="row back-angled-edge">
    <div class="container">
      <div class="row text-content py-5 ">
        <div class="col-12">
          <h3 class="white-header">Liquidity Branded Token Exchange</h3>
          <p class="mt-4 pr-3">OST's Branded Token Exchange, BTEX, will let your customers swap the Branded Tokens you create for other forms of value. OST is working towards securing licenses worldwide for BTEX on behalf of our clients.</p>
        </div>
        <div class="col-12 img-container container ">
          <div class="row">
            <div class="col-7 pr-0 img-position ml-auto">
              <img class="img-fluid responsively-lazy"
                   src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-liquidity-branded-token-exchange-mobile@2x.png"
                   alt="OST - Liquidity Branded Token"
                   data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-liquidity-branded-token-exchange-mobile@2x.png"
                   srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
                />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>