<%
  year = Time.now.year
  quarter = ((Time.now.month - 1) / 3) + 1
%>

<div class="container roadmap-container d-md-none mt-5">

  <div class="row">
    <div class="col-12 text-center mb-5">
      <svg class="roadmap-logo">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-roadmap"></use>
        </switch>
      </svg>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="mobile-drop-down">
        <span class="dropdown-el">
          <input type="radio" name="sortType" value="Relevance" checked="checked" id="infrastructure">
          <label for="infrastructure" class="first d-flex align-items-center">
            <svg>
            <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-infrastructure"></use>
            </switch>
            </svg>
            INFRASTRUCTURE</label>
          <input type="radio" name="sortType" value="Popularity" id="developer-tools">
          <label for="developer-tools" class="second d-flex align-items-center">
            <svg>
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-developer-tools"></use>
              </switch>
            </svg>
            DEVELOPER TOOLS
          </label>
          <input type="radio" name="sortType" value="PriceIncreasing" id="btx-exchange">
          <label for="btx-exchange" class="third d-flex align-items-center">
            <svg>
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-btx-exchange"></use>
            </switch>
            </svg>
            OST Network
          </label>
        </span>
      </div>
    </div>
  </div>

  <div class="mobile_infrastructure mb-5">
    <%= render :partial => "/web/ost/roadmap/mobile/infrastructure" , locals: {
        year: year,
        quarter: quarter,
        mobile_view: true
    } %>
  </div>

  <div class="mobile_developer_tools mb-5">
    <%= render :partial => "/web/ost/roadmap/mobile/developer_tools" , locals: {
        year: year,
        quarter: quarter,
        mobile_view: true
    } %>
  </div>

  <div class="mobile_btx_exchange mb-5">
    <%= render :partial => "/web/ost/roadmap/mobile/btx_exchange", locals: {
        year: year,
        quarter: quarter,
        mobile_view: true
    } %>
  </div>

</div>