<section class="container-ost-wallet-unique-features">
  <div class="container py-6">
    <h4 class="text-center py-4">Unique features enabled by the OST Wallet SDK</h4>
    <div class="row">

      <div class="col-12 d-flex col-md-6 mb-4">
        <div class="p-4 d-flex flex-column info-box">
          <div style="flex: 1 1 auto">
            <div class="align-items-center d-flex">
              <svg width="28" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
                </switch>
              </svg>
              <h5 class="header-text d-inline-block ml-3 mb-0">Free sandbox environment</h5>
            </div>
            <p class="my-2 desc">
              Start building in our Sandbox/Testnet environment and move to Production/Mainnet when ready to launch to end users
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex col-md-6 mb-4">
        <div class="p-4 d-flex flex-column info-box">
          <div style="flex: 1 1 auto">
            <div class="align-items-center d-flex">
              <svg width="28" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
                </switch>
              </svg>
              <h6 class="header-text d-inline-block ml-3 mb-0">Non-custodial</h6>
            </div>
            <p class="my-2 desc">
              End users own their private keys and have full control over their funds. In case a device is lost,
              users can recover their wallet with 6-digit PIN.            </p>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex col-md-6 mb-4">
        <div class="p-4 d-flex flex-column info-box">
          <div style="flex: 1 1 auto">
            <div class="align-items-center d-flex">
              <svg width="28" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
                </switch>
              </svg>
              <h6 class="header-text d-inline-block ml-3 mb-0">Scalable, low cost transactions</h6>
            </div>
            <p class="my-2 desc">
              Run hundreds of transactions per second at near-zero cost on Layer-2 Ethereum blockchains.
              All transactions finalized to Ethereum layer-1.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex col-md-6 mb-4">
        <div class="p-4 d-flex flex-column info-box">
          <div style="flex: 1 1 auto">
            <div class="align-items-center d-flex">
              <svg width="28" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#platform-hp-docs"></use>
                </switch>
              </svg>
              <h6 class="header-text d-inline-block ml-3 mb-0">Frictionless user experience</h6>
            </div>
            <p class="my-2 desc">
              There's no need for external wallets and confusing pop-ups. OST Wallet makes it simple to onboard new and
              existing users and to incorporate token transfers into your existing application.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<div class="row overflow-hidden">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge">
    <polygon fill="#F9F8E6" points="0,0 0,100 100,0"></polygon>
  </svg>
</div>