<section class="container container-ost-team">
  <div class="row align-items-center h-100">
    <div class="col-12 col-sm-6 p-sm-0">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8 mx-auto">
            <h3>On a mission to bring blockchain to the mainstream</h3>
            <p class="text-left">Blockchain technologies hold enormous potential to transform business and improve society.</p>
            <p class="text-left">OST is a community driven project. Your feedback is the engine that will drive the project forward. We invite you to connect with us, become a link in our chain, and help us unlock the power of blockchain for all.</p>
            <a href="<%= GlobalConstant::Base.root_url %>team" class="btn btn-primary my-2" title="Meet The team">Meet The team</a>
            <a href="<%= GlobalConstant::Base.root_url %>careers" class="btn btn-secondary my-2 ml-xl-4" title="Work with Us">Work with Us</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 p-md-0">
<!--      <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-team.jpg" -->
<!--        class="img-fluid responsively-lazy"-->
<!--        data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-team.jpg"-->
<!--        srcset="<%#= raw GlobalConstant::Base.placeholder_image_src %>"-->
<!--      />-->

<!--      <h1>Packery Chessboard photo grid</h1>-->

      <div class="grid">
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?lion');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?tiger');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?dog');"></div>
        <div class="grid-item grid-item--large" style="background-image: url('https://source.unsplash.com/200x200?cat');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?monkey');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?fish');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?pig');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?zebra');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?horse');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?cow');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?bird');"></div>
        <div class="grid-item" style="background-image: url('https://sourcet.unsplash.com/200x200?whale');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?hippo');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?snake');"></div>
        <div class="grid-item grid-item--large" style="background-image: url('https://source.unsplash.com/200x200?crow');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?sparrow');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?owl');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?eagle');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?buffalo');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?crab');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?octopus');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?grasshopper');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?camel');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?elephant');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?goose');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?rat');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?fox');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?deer');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?bear');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?shark');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?bat');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?beaver');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?blackbuck');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?catfish');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?starfish');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?duck');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?peacock');"></div>
        <div class="grid-item grid-item--large" style="background-image: url('https://source.unsplash.com/200x200?raven');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?wolf');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?dove');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?dragon');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?penguin');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?rabbit');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?tortoise');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?flamingo');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?giraffe');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?goose');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?gull');"></div>
        <div class="grid-item" style="background-image: url('https://source.unsplash.com/200x200?hawk');"></div>
        <div class="grid-item grid-item--edge" style="background-image: url('https://source.unsplash.com/200x200?panda');"></div>
        <div class="grid-item grid-item--edge" style="background-image: url('https://source.unsplash.com/200x200?cheeta');"></div>
        <div class="grid-item grid-item--edge" style="background-image: url('https://source.unsplash.com/200x200?panther');"></div>
        <div class="grid-item grid-item--edge" style="background-image: url('https://source.unsplash.com/200x200?hyena');"></div>
        <div class="grid-item grid-item--edge" style="background-image: url('https://source.unsplash.com/200x200?jaguar');"></div>
        <div class="grid-item grid-item--edge" style="background-image: url('https://source.unsplash.com/200x200?lemur');"></div>
      </div>

    </div>
  </div>
</section>