<section class="container-fluid container-ost-team">
  <div class="row align-items-center h-100">
    <div class="col-12 col-sm-6 p-sm-0">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8 mx-auto">
            <h1>Meet the Team</h1>
            <p class="text-left">Team OST innovates at the nexus of blockchain, cryptocurrency, software solutions, and the future of business and society.</p>
            <p class="text-left">OST is a community driven project. Your feedback is the engine that will drive the project forward. We invite you to connect with us, become a link in our chain, and help us unlock the power of blockchain for all.</p>
            <a href="<%= GlobalConstant::Base.root_url %>team" class="btn btn-primary my-2">Meet The team</a>
            <a href="<%= GlobalConstant::Base.root_url %>careers" class="btn btn-secondary my-2 ml-xl-4">Work with us</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 p-md-0">
      <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-team.jpg" class="img-fluid"/>
    </div>
  </div>
</section>