<section class="container container-token-buy">

  <div class="row">
    <a href="<%= GlobalConstant::Base.root_url %>partners" class="partners">
      <span class="btn btn-primary partners-Button">Meet OST Partners</span>
      <ul class="list-unstyled my-4 w-100" style="background-color: #fff">
        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/unsplash-logo@3x.png" class="img-fluid"/>
        </li>
        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/lytepay-logo@3x.png" class="img-fluid"/>
        </li>
        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/korhal-logo@3x.png" class="img-fluid"/>
        </li>
        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/treat-logo@3x.png" class="img-fluid"/>
        </li>
        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/connectscale-logo@3x.png" class="img-fluid"/>
        </li>
        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/licenserocks-logo@3x.png" class="img-fluid"/>
        </li>
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/lookhave-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/tomorrow-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/kokomo-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/tribecoin-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/radmule-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/704-games-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/tesloop-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/flopship-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/vidivr-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/gushcloud-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/xain-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/interviewbit-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/digitalknights-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
        <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/pepo-logo@3x.png" class="img-fluid"/>-->
        <!--</li>-->
      </ul>
    </a>
  </div>

</section>