<section class="container-fluid container-partners py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <h2 class="header-blue-900">OST Partners</h2>
        <p>
          Billions of App Actions
          Connecting Hundreds Of Millions Of Users
        </p>
        <a href="/partners" class="btn btn-primary my-2 my-md-3" title="Meet OST partners">MEET OST PARTNERS</a>
        <a href="" class="btn btn-secondary my-2 ml-md-3" title="Discover POCs">DISCOVER POCS</a>
      </div>
      <div class="col-md-12 col-lg-6">
      </div>
    </div>
  </div>
</section>