<section class="container-fluid container-partners py-5">
  <div class="row">
    <div class="col col-lg-10 col-xl-9 mx-md-auto">
      <div class="row">
        <div class="col-12 d-block d-lg-none text-center">
          <h2 class="header-blue-900">OST PARTNERS</h2>
          <p>Billions of in-app transactions connecting<br/> hundreds of millions of users.</p>
          <div class="play-video" id="partner-video-mobile">
            <div class="video-image">
              <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/lgbt@2x.png" srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/lgbt@2x.png 1000w" class="img-fluid" alt="OST - Design Your Token" title="" />
              <div class="play">
                <svg class="svg-play">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-play-icon"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <div class="embed-responsive embed-responsive-16by9 video-iframe" data-src="https://www.youtube.com/embed/OlPu9ezzPzQ?enablejsapi=1&version=3&rel=0&autoplay=1" hidden>
            </div>
          </div>
          <p class="mt-3 text-center">OST development partners reach more than 300 million end users.</p>
        </div>
        <div class="col-md-12 col-lg-6 text-center text-lg-left">
          <div class="d-none d-lg-block">
            <h2 class="header-blue-900">OST PARTNERS</h2>
            <p>Billions of in-app transactions connecting<br/> hundreds of millions of users.</p>
          </div>
          <div class="row partners-companies mt-3">
            <div class="col-6 col-md-4 col-xl-3 my-3">
              <span class="partners-gushcloud-icon"></span>
            </div>
            <div class="col-6 col-md-4 col-xl-3 my-3">
              <span class="partners-unsplash-icon"></span>
            </div>
            <div class="col-6 col-md-4 col-xl-3 my-3">
              <span class="partners-metaps-icon"></span>
            </div>
            <div class="col-6 col-md-4 col-xl-3 my-3">
              <span class="partners-animoca-icon"></span>
            </div>
            <div class="col-6 col-md-4 col-xl-3 my-3">
              <span class="partners-passkit-icon"></span>
            </div>
            <div class="col-6 col-md-4 col-xl-3 my-3">
              <span class="partners-lgbt-icon"></span>
            </div>
            <div class="col-6 col-md-4 col-xl-3 my-3">
              <span class="partners-wooshi-icon"></span>
            </div>
            <div class="col-6 col-md-4 col-xl-3 my-3">
              <span class="partners-floship-icon"></span>
            </div>
          </div>
<!--          <a href="/partners" class="btn btn-primary my-2 my-md-3" title="Meet OST Partners">MEET OST PARTNERS</a>-->
          <a href="/challenges-2" class="btn btn-primary my-2 my-md-3" title="VIEW INTEGRATIONS">VIEW INTEGRATIONS</a>
<!--          <a href="/challenges-2" class="btn btn-secondary my-2 ml-sm-3 ml-lg-0 ml-xl-3 d-none d-md-inline-block" title="VIEW INTEGRATIONS">VIEW INTEGRATIONS</a>-->
        </div>
        <div class="col-12 col-md-6 col-lg-6 d-none d-lg-block mt-3">
          <div class="play-video" id="partner-video">
            <div class="video-image">
              <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/lgbt@2x.png" srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/lgbt@2x.png 1000w" class="img-fluid" alt="OST - Design Your Token" title="" />
              <div class="play">
                <svg class="svg-play">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-play-icon"></use>
                  </switch>
                </svg>
              </div>
            </div>
            <div class="embed-responsive embed-responsive-16by9 video-iframe" data-src="https://www.youtube.com/embed/OlPu9ezzPzQ?enablejsapi=1&version=3&rel=0&autoplay=1" hidden>
            </div>
          </div>
          <p class="mt-3 text-center">OST development partners reach more than 300 million end users.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="height: 50px;background-color: #FFFFFF">
  <svg viewBox="0 0 100 100" preserveAspectRatio="none" fill="#34445b" style="height: 50px;width: 100%;">
    <polygon points="0,0 100,100 0,100"/>
  </svg>
</div>