<section class="container container-token-buy">

  <div class="row">
    <a href="<%= GlobalConstant::Base.root_url %>partners" class="partners">
      <span class="btn btn-primary partners-Button">Meet OST Partners</span>
      <ul class="list-unstyled my-4 w-100" style="background-color: #fff">
        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/unsplash-logo@3x.png" class="img-fluid"/>
        </li>
        <li class="col-6 col-md-2 my-2">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/treat-logo-1@3x.png" class="img-fluid"/>
        </li>
        <li class="col-6 col-md-2 my-2">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/lgbt-logo-1@3x.png" class="img-fluid"/>
        </li>
        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/lytepay-logo@3x.png" class="img-fluid"/>
        </li>

        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/korhal-logo-1@3x.jpg" class="img-fluid"/>
        </li>

        <li class="col-6 col-md-2 my-2">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/licenserocks-logo@3x.png" class="img-fluid"/>
        </li>
      </ul>
    </a>
  </div>

</section>