<section class="container-fluid container-powered position-relative ost pt-5">
  <div class="row">
    <div class="col col-md-6 mx-md-auto text-center">
      <h1>Also Powered by
        <svg class="ost-powered-logo">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
          </switch>
        </svg>
      </h1>
      <p>
        OST is always improving our blockchain toolkit with new features and real-world solutions. Discover more ways OST can help transform your business!
      </p>
    </div>
  </div>
</section>

<section class="container container-powered-containers">
  <div class="row">
    <div class="col col-md-10 mx-md-auto">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="container-1 rounded p-4">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-view-brand-nav-menu.svg" width="141"/>
            <p class="my-2">View and analyze transactions across the OpenST side blockchains. Get a macro view of the entire OpenST ecosystem. Zoom in to view transactions within a particular OST powered digitial community.</p>
            <a href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" class="text-link" target="_blank" title="Explore Ost View">EXPLORE OST VIEW</a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="container-2 rounded p-4">
            <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-brand-nav-menu.svg" width="141"/>
            <p class="my-2">OST KYC is the first plug-and-play KYC/AML management solution for token sales. Process thousands of applicants smoothly and securely. Developed for the Simple Token "OST" ICO. Now available for any company to use.</p>
            <a href="<%= GlobalConstant::CompanyOtherProductUrls.kyc_root_url %>" class="text-link" title="Explore Ost Kyc">EXPLORE OST KYC</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>