<section class="prototypes-section my-6 position-relative mx-auto d-none d-lg-block">

  <div class="container-fluid">
    <div id="prototypes-carousal">
      <div class="iframe-wrapper position-relative">
        <img class="iframe-cover-img" data-name="spoon" src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/prototype-cover/spoon-v1.png" />
      </div>
      <div class="iframe-wrapper position-relative">
        <img class="iframe-cover-img" data-name="hornet" src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/prototype-cover/hornet-v1.png" />
      </div>
      <div class="iframe-wrapper position-relative">
        <img class="iframe-cover-img" data-name="tolkin" src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/prototype-cover/tolkin-v1.png" />
      </div>

    </div>
  </div>
</section>
<% content_for :end_js do %>
  <script type="text/javascript">
    (function () {
      ost.carousel.prototypes.init({
        invisionRootUrl : "<%= GlobalConstant::Base.invision_prototypes['root_url'] %>",
        invisionVersion: 2
      });
    })()
  </script>
<%end%>