<div class="d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-12 roadmap-container">
        <%= render :partial => "/web/ost/index/roadmap-categories" %>
        <div class="mt-5">
          <%= render :partial => "/web/ost/roadmap/desktop/2018-q4", locals: {
              class_name: 'pt-5 mb-5',
              visible_class: ''
          } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "/web/ost/index/mobile_roadmap" %>

<div class="d-flex justify-content-center mb-5">
  <a href="/roadmap" class="btn btn-primary" title="See the Full Roadmap">See the full roadmap</a>
</div>