<div class="d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-12 roadmap-container">
        <%= render :partial => "/web/ost/roadmap/desktop/roadmap-categories" %>
        <div class="my-5">
          <%= render :partial => "/web/ost/index/2018-q4" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "/web/ost/index/mobile_roadmap" %>

<div class="d-flex justify-content-center mb-5">
  <a href="/roadmap" class="btn btn-primary" title="See the Full Roadmap">See the full roadmap</a>
</div>