<section class="container-schedule-call position-relative">
  <div class="container py-6 text-center text-md-left">
    <h4 class="header-text text-left container-title">
      Ready to Start Building?
    </h4>
    <p class="desc text-left">
      Schedule a call to understand how the Ost Wallet SDK can be integrated into your application.
    </p>
    <a href="https://calendly.com/ostdotcom" class="btn btn-primary mt-5 mt-md-1" rel="noopener noreferrer nofollow" target="_blank" title="Schedule a Call">Schedule a Call</a>
  </div>
  <div class="position-absolute w-100">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-edge">
      <polygon fill="#35445B" points="0,0 0,100 100,0"></polygon>
    </svg>
  </div>
</section>
