<section class="container-schedule-call">
  <div class="container py-6">
    <h4 class="header-text">
      Ready to Start Building?
    </h4>
    <p class="desc">
      Schedule a call to understand how the OST Wallet SDK can be integrated into your application.
    </p>
    <a href="" class="btn btn-primary">Schedule a Call</a>
  </div>
</section>