<section class="container-jumbotron denim-blue pt-5 pt-lg-6 position-relative">
    <div class="container">
      <div class="row ">
        <div class="position-absolute d-none d-lg-block" style="top: 45%;left: 39%;transform: rotate(-10deg);height: 100%;max-width: 360px;" >
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-dots-bg@2x.png" class="img-fluid" />
        </div>
        <div class="col-12 col-lg-6 text-lg-center text-left">
          <img class="img-fluid responsively-lazy"
               style="max-width: 90%"
               src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-direct-3@2x.png"
               data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-direct-3@2x.png"
               srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
               alt="OST - Liquidity Branded Token"
            />
        </div>

        <div class="col-12 col-lg-6 pl-4 pl-lg-0">
          <div class="px-2 mt-5 mt-lg-6 pb-5 pb-lg-0">
            <h5 class="header-title white side-by-side text-capitalize">Direct to Consumer</h5>
            <p class="mt-3 desc white">
              Build direct relationships with your customers. Cut out the middlemen from transactions, saving you and your customers on extra steps and fees.
            </p>
            <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="text-link" target="_blank" title="Explore OST Platform">Explore OST Platform</a>
          </div>
        </div>

      </div>
    </div>
</section>
