<section class="container-jumbotron blue-bg">
  <div class="container-jumbotron white-bg skew-negative">
    <div class="container">
      <div class="row align-items-center skew-postive">

        <div class="col-md-12 col-lg-4 mx-auto text-right py-6">
          <h5 class="header-title blue side-by-side">Interoperability</h5>
          <p class="mt-3 desc blue">
            OST clients benefit from interoperability across the OST Network. Enable your users to easily swap your brand currency for other digital currencies and gift cards. OST also enables you to earn commissions on every redemption.
          </p>
          <a href="https://view.ost.com/" class="text-link" target="_blank" title="Discover OST Network">Discover OST Network</a>
        </div>

        <div class="col-md-12 col-lg-6 text-center">
          <div class="row align-items-end">
            <div class="col-4 col-lg-5">
              <img class="img-fluid responsively-lazy rotate-left"
                   src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-interoperability-1.png"
                   data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-interoperability-1.png"
                   srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
                   alt="OST - "
                />
            </div>
            <div class="col-5 col-lg-6 pl-0">
              <img class="img-fluid responsively-lazy rotate-left"
                   src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-interoperability-2.png"
                   data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-interoperability-2.png"
                   srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
                   alt="OST - "
                />
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>