<section class="container-jumbotron pb-6">
<!--  <div class="container-jumbotron white-bg skew-negative">-->
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-lg-5 order-2 order-lg-1 mr-auto pt-4">
          <h5 class="header-title blue side-by-side text-capitalize">Deploy Your Brand Currency</h5>
          <p class="mt-3 desc blue">
            Use your brand tokens to encourage and reward customer behaviors, strengthen loyalty, and to drive your engagement and growth metrics.
          </p>
          <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="text-link " target="_blank" title="Deploy Your Brand Token">Deploy Your Brand Token</a>
        </div>

        <div class="col-md-12 col-lg-6 text-lg-center text-left order-1 order-lg-2">
          <div class="row align-items-end align-items-md-enter justify-content-end">
              <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-deploy-new.png" class="img-fluid push-top ost-home-web-img"
                   alt="OST - Deploy Your Brand Currency"/>
          </div>
        </div>

      </div>
    </div>
</section>