<div id="scrollSnap" class="d-block d-lg-none prototypes-section-mobile">
  <div class="snap-container">
    <ul class="pl-0 prototype-list ">
    <li style="background-color: white; display: none" class="edge-element-first m-2 mt-4">
      <div class="proto-wrapper position-relative mx-auto py-3">
        <img class="iframe-cover-img" data-name="spoon" src="https://dummyimage.com/416x875/000/fff" />
      </div>

    </li>
    <li style="background-color: white ; display: none" class="m-2 mt-4">
      <div class="proto-wrapper position-relative mx-auto py-3">
        <img class="iframe-cover-img" data-name="hornet" src="https://dummyimage.com/416x875/000/fff" />
      </div>

    </li>
    <li style="background-color:white; display: none " class="m-2 mt-4">
      <div class="proto-wrapper position-relative mx-auto py-3">
        <img class="iframe-cover-img" data-name="tolkin" src="https://dummyimage.com/416x875/000/fff" />
      </div>

    </li>

    </ul>
  </div>
  <div class="row my-4" style="height: 47px">
    <button id="view-more-prototypes" class="btn btn-primary mx-auto ">View more</button>
  </div>

</div>