<section class="prototypes-section py-4 position-relative mx-auto d-none d-lg-block" >

  <div class="container-fluid">
    <div id="prototypes-carousal">
      <div class="iframe-wrapper position-relative">
<!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <iframe class="iframe-dimensions"   width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="iframe-wrapper position-relative">
<!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <iframe class="iframe-dimensions"   width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="iframe-wrapper position-relative">
<!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <iframe class="iframe-dimensions"   width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="iframe-wrapper position-relative">
<!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <iframe class="iframe-dimensions"   width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="iframe-wrapper position-relative">
<!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <iframe class="iframe-dimensions"   width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="iframe-wrapper position-relative">
<!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <iframe class="iframe-dimensions"   width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="iframe-wrapper position-relative">
<!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <iframe class="iframe-dimensions"   width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>


</section>
<% content_for :end_js do %>
  <script type="text/javascript">
    (function () {
      ost.carousel.prototypes.init();
    })()
  </script>
<%end%>