<section class="container-jumbotron pb-0 pb-lg-6">
  <div class="container">
    <div class="row" >
      <div class="col-12 col-lg-5 order-2 order-lg-1 pb-6 pb-lg-0 mr-auto mt-5 mt-lg-6 pt-lg-6">
        <h5 class="header-title blue side-by-side text-capitalize">Interoperability</h5>
        <p class="mt-3 desc blue">
          Enable your users to easily swap your brand token within the OST Network. You decide which options to include. OST also enables you to earn fees on every redemption.
        </p>
        <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="text-link" target="_blank" title="Discover OST Network">Discover OST Network</a>
      </div>
      <div class="col-md-12 col-lg-6 text-lg-center text-left order-1 order-lg-2 side-by-side-3-img-wrap" >
            <img class="img-fluid responsively-lazy ost-home-web-img"
                 src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-interoperability-new.png"
                 data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-interoperability-new.png"
                 srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
                 alt="OST - Interoperability"
              />
      </div>

    </div>
  </div>
</section>