<div id="scrollSnap" class="d-block d-lg-none prototypes-section-mobile">
  <div class="snap-container">
    <li style="background-color: white" class="edge-element-first"> one</li>
    <li style="background-color: antiquewhite" class="edge-element-first"> two</li>
    <li style="background-color: aquamarine" class="edge-element-last"> three</li>


  </div>

</div>