<section class="container-jumbotron blue-bg">
  <div class="container-jumbotron white-bg skew-negative">
    <div class="container">
      <div class="row align-items-center skew-postive">

        <div class="col-md-12 col-lg-5 col-xl-4 mx-auto text-right order-2 order-lg-1 pb-6 pb-lg-0 mb-5 mb-lg-0">
          <h5 class="header-title blue side-by-side">Deploy Your Brand Currency</h5>
          <p class="mt-3 desc blue">
            Launch your own brand tokens and deploy them to encourage and reward customer behaviors, and to drive your key engagement and growth metrics.
          </p>
          <a href="https://view.ost.com/" class="text-link" target="_blank" title="Deploy Your Brand Currency">Deploy Your Brand Currency</a>
        </div>

        <div class="col-md-12 col-lg-6 text-center order-1 order-lg-2">
          <div class="row align-items-end align-items-md-enter justify-content-end">
            <div class="col-4 col-lg-5">
              <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-deploy-1.png" class="img-fluid rotate-left"/>
            </div>
            <div class="col-5 col-lg-6 pl-0">
              <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/home-page/ost-hp-deploy-2.png" class="img-fluid rotate-left"/>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>