<section class="prototypes-section py-4 position-relative mx-auto d-none d-lg-block mt-6" >

  <div class="container-fluid">
    <div id="prototypes-carousal">
      <div class="iframe-wrapper position-relative">
        <img class="iframe-cover-img" data-name="spoon" src="https://dummyimage.com/416x875/000/fff" />
      </div>
      <div class="iframe-wrapper position-relative">
        <img class="iframe-cover-img" data-name="hornet" src="https://dummyimage.com/416x875/000/fff" />
      </div>
      <div class="iframe-wrapper position-relative">
        <img class="iframe-cover-img" data-name="tolkin" src="https://dummyimage.com/416x875/000/fff" />
      </div>

    </div>
  </div>
</section>
<% content_for :end_js do %>
  <script type="text/javascript">
    (function () {
      ost.carousel.prototypes.init({
        invisionRootUrl : "<%= GlobalConstant::Base.invision_prototypes['root_url'] %>",
        invisionVersion: 1
      });
    })()
  </script>
<%end%>