<section class="prototypes-section py-4 position-relative mx-auto d-none d-lg-block mt-6" >

  <div class="container-fluid">
    <div id="prototypes-carousal">
      <div class="iframe-wrapper position-relative">
<!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <img class="iframe-cover-img" data-name="spoon" src="https://dummyimage.com/416x875/000/fff" />
      </div>
      <div class="iframe-wrapper position-relative">
        <!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <img class="iframe-cover-img" data-name="hornet" src="https://dummyimage.com/416x875/000/fff" />
      </div>
      <div class="iframe-wrapper position-relative">
        <!--        <img src="//dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="25" height="25"/>-->
        <img class="iframe-cover-img" data-name="tolkin" src="https://dummyimage.com/416x875/000/fff" />
      </div>

    </div>
  </div>
</section>
<% content_for :end_js do %>
  <script type="text/javascript">
    (function () {
      ost.carousel.prototypes.init();
    })()
  </script>
<%end%>