<section class="prototypes-section py-4 position-relative mx-auto d-none d-lg-block" >

  <div class="container-fluid">
    <div id="prototypes-carousal">
      <iframe class="iframe-dimensions"  width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      <iframe class="iframe-dimensions" width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      <iframe class="iframe-dimensions" width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      <iframe class="iframe-dimensions" width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      <iframe class="iframe-dimensions" width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      <iframe class="iframe-dimensions" width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
      <iframe class="iframe-dimensions" width="438" height="930" src="//invis.io/QYTQHP57M93" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


</section>
<% content_for :end_js do %>
  <script type="text/javascript">
    (function () {
      ost.carousel.prototypes.init();
    })()
  </script>
<%end%>