<div class="text-center">
  <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="uber-banner d-block" title="OST Kit Alpha" target="_blank">
    <svg class="icon-megaphone">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-megaphone"></use>
      </switch>
    </svg>&nbsp;
    OST KIT⍺ Phase II: Developers Proof of Concept — Get started today!</a>
</div>

