<%
  ost_uber_banner = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_uber_banner]['api_response'] || []) rescue []
  if ost_uber_banner.present?
  banner_html = ost_uber_banner[0]['banner_html']
  banner_background_color = ost_uber_banner[0]['banner_background_color']

%>


<div class="container-fluid uber-banner-winners d-none d-md-block" style="background-color: <%= banner_background_color  %>">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <%= CGI.unescapeHTML(banner_html).html_safe %>
    </div>
  </div>
</div>

<div class="container-fluid uber-banner-winners d-md-none" style="background-color: <%= banner_background_color  %>">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>

      <%= CGI.unescapeHTML(banner_html).html_safe %>
    </div>
  </div>
</div>

<% end %>

