<div class="container-fluid uber-banner-winners d-none d-md-block">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <a href="https://medium.com/ostdotcom/ost-kit-alpha-iii-4a67ea214971" target="_blank" class="align-middle" title="OST KIT Alpha III is now open for applications.">OST KIT Alpha III is now open for registration. Earn up to 350,000 OST! Learn more.</a>
    </div>
  </div>
</div>

<div class="container-fluid uber-banner-winners d-md-none">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <a href="https://medium.com/ostdotcom/ost-kit-alpha-iii-4a67ea214971" target="_blank" class="align-middle" title="OST KIT Alpha III is now open for applications.">OST KIT Alpha III is now open for registration. Earn up to 350,000 OST! Learn more.</a>
    </div>
  </div>
</div>

