<div class="container-fluid uber-banner-winners d-none d-md-block">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <a href="https://medium.com/ostdotcom/video-slides-from-ethberlin-introducing-openst-mosaic-protocol-running-meta-blockchains-on-d1b6b803b4b8" target="_blank" class="align-middle" title="OpenST Mosaic">New! OpenST Mosaic: Running meta-blockchains on Ethereum to scale DApps to billions of users</a>
    </div>
  </div>
</div>

<div class="container-fluid uber-banner-winners d-md-none">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <a href="https://medium.com/ostdotcom/video-slides-from-ethberlin-introducing-openst-mosaic-protocol-running-meta-blockchains-on-d1b6b803b4b8" target="_blank" class="align-middle" title="OpenST Mosaic">New! OpenST Mosaic: Running meta-blockchains on Ethereum to scale DApps to billions of users</a>
    </div>
  </div>
</div>

