<div class="container-fluid uber-banner-winners d-none d-md-block">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <a href="https://medium.com/ostdotcom/ost-project-roadmap-2017-2021-scaling-blockchain-economies-to-billions-of-users-7754f58112a6" target="_blank" class="align-middle" title="OST Roadmap 2017 - 2021">New! OST Roadmap 2017 - 2021: Scaling Blockchain Economies to Billions of Users. Learn More.</a>
    </div>
  </div>
</div>

<div class="container-fluid uber-banner-winners d-md-none">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <a href="https://medium.com/ostdotcom/ost-project-roadmap-2017-2021-scaling-blockchain-economies-to-billions-of-users-7754f58112a6" target="_blank" class="align-middle" title="OST Roadmap 2017 - 2021">New! OST Roadmap 2017 - 2021: Scaling Blockchain Economies to Billions of Users. Learn More.</a>
    </div>
  </div>
</div>

