<div class="container-fluid uber-banner-winners d-none d-md-block">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <a href="/challenges" class="align-middle" title="Announcing Alpha Phase II POC Winners!">Announcing Alpha Phase II POC Winners! Over 3.5MM OST awarded! Check out the 60+ projects that completed our latest challenge.</a>
    </div>
  </div>
</div>

<div class="container-fluid uber-banner-winners d-md-none">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto text-center align-middle">
      <svg class="svg-megaphone align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uber-banner-megaphone-icon"></use>
        </switch>
      </svg>
      <a href="/challenges" class="align-middle" title="Announcing Alpha Phase II POC Winners!">Announcing POC Alpha II Winners!</a>
    </div>
  </div>
</div>

