.ost__planner{
  &__circle{
    width: 60px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    color: color('white');
    display: inline-block;
  }


  &__address{
    color: #435353;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    background-color: $grey-bg;
  }
  &__list{
    padding: 0;
    &__item{
      font-size: 0.9rem;
      list-style-type: none;
      letter-spacing: 0.4px;
      color: color('blue-700');
      padding: 0.75rem 1.25rem;
      border-bottom: 1px solid $blue-100;
    }
  }
}

#ostSupplyPieArea{

  .title{
    color: #8eb9ce;
    font-size: 0.8rem;
    margin-left: 20px;
  }

  .legend{
    font-size: 0.8rem;
    color: #61818a;

    strong{
      font-weight: 500;
    }
  }

}

svg > g:last-child > g:last-child { pointer-events: none }

.token-val-usd{
  background: #f1f5f8;
  color: #819aa1;
  font-size: 0.8rem;
  border-radius: $border-radius-lg;

  label{
    font-size: 0.8rem;
    color: #6c9ba9;
  }
}